<template>
  <div>
    <client-only>
      <div class="mp-tabs-category container pb-1">
        <v-tabs
          color="#1a4a84"
          background-color="#fff"
          :show-arrows="arrows"
          centered
        >
          <v-tabs-slider color="#1a4a84"></v-tabs-slider>
          <v-tab
            v-for="subcat in subcategories"
            :key="subcat._id"
            :to="`/categorias/${$route.params.skuCategory}/${subcat.sku}`"
          >
            {{ subcat.name }}
          </v-tab>
        </v-tabs>
      </div>
    </client-only>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    subcategories: Array,
  },
  data() {
    return {
      arrows: true,
    };
  },
  computed: {
    ...mapState({
      currentCategory: function (state) {
        if (this.$route.params && this.$store.state.baseData.categories) {
          const CAT = this.$store.state.baseData.categories.find(
            (c) => c.sku === this.$route.params.skuCategory
          );
          if (!CAT) return null;
          return CAT;
        }
        return null;
      },
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-tabs-category {
  //margin-bottom: 5px;
  .v-tab {
    text-decoration: none;
    font-family: $primary-font !important;
    text-transform: capitalize !important;
    font-size: 16px;
    font-weight: 500;
  }
  /* border-bottom: 1px solid rgba(0,0,0,0.5); */
  .v-tab.v-tab--active {
    font-weight: 600;
  }
}
</style>
