<template>
  <div
    class="mp-header-category"
    :style="`background-image: url(${img});`"
  >
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    img: String,
  },
};
</script>

<style lang="scss" scoped>
.mp-header-category {
  min-height: 300px;
  height: 45vh;
  max-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .mp-header-content-category {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .mp-title-category {
      font-size: 55px;
      color: $color-secondary;
      font-family: $primary-font;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 600px) {
  .mp-header-category {
    .mp-header-content-category {
      .mp-title-category {
        font-size: 35px;
        text-align: center;
      }
    }
  }
}
</style>
