<template>
  <div class="mp-most-categories-section">
    <div class="container">
      <div class="mp-list-most-categories">
        <nuxt-link
          class="mp-most-category"
          v-for="(item, idx) in mostCategories"
          :key="8753221236 + idx"
          :to="`/categorias/${item.sku}`"
        >
          <img
            class="img-fluid"
            draggable="false"
            :src="item.icon ? `${baseURL}/file/${item.icon.filename}` : imgPrueba"
            alt=""
          />
          <div class="description-most-category">
            <span>
              {{ item.name }}
            </span>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import imgPrueba from "@/static/img/zapatilla.png";
export default {
  data() {
    return {
      imgPrueba: imgPrueba,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
      mostCategories: (state) =>
        state.baseData.categories.filter((c) => c.principal === true),
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-most-categories-section {
  padding: 0.8em 0 0.4em 0;
  overflow: hidden;
  height: 200px;
  .mp-list-most-categories {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    .mp-most-category {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 1em 1.5em 0 1.5em;
      transition: all ease-in-out 0.25s;
      overflow: hidden;
      color: $color-blue;
      @media screen and (max-width: 650px) {
        & {
          margin: 1em 0.5em 0 0.5em;
        }
      }
      &:hover {
        margin-top: -8px;
        color: $color-primary;
      }
      img {
        max-width: 100%;
        max-height: 90px;
      }
      .description-most-category {
        margin-top: 10px;
        flex: 1;
        text-align: center;
        span {
          font-weight: 600;
          font-size: 0.92rem;

          /*  text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; */
          max-width: 100%;
          @media screen and (max-width: 650px) {
            & {
              font-size: 0.78rem;
              font-weight: 500;
            }
          }
          @media screen and (max-width: 400px) {
            & {
              font-size: 0.7rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
</style>
