<template>
  <div class="mp-search-section-wrapper">
    <div class="container">
      <div class="mp-title-container">
        <h2 class="title-section-search">
          Encuentra lo que buscas <i class="fas fa-search"></i>
        </h2>
      </div>
      <v-form>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 pb-0 pt-0">
            <div class="mp-form-control">
              <v-autocomplete
                v-model="select"
                :items="items"
                label="Categoría"
                clearable
                outlined
                rounded
                background-color="white"
              ></v-autocomplete>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 pb-0 pt-0">
            <v-autocomplete
              v-model="select"
              :items="items"
              label="Sub categoría"
              clearable
              outlined
              rounded
              background-color="white"
            ></v-autocomplete>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 pb-0 pt-0">
            <v-autocomplete
              v-model="select"
              :items="items"
              label="Distrito"
              clearable
              outlined
              rounded
              background-color="white"
            ></v-autocomplete>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 pb-0 pt-0">
            <v-autocomplete
              v-model="select"
              :items="items"
              label="Emprendimiento"
              clearable
              outlined
              rounded
              background-color="white"
            ></v-autocomplete>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 pb-0 pt-0">
            <div class="mp-container-search-input">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="mp-input-search mx-auto">
                  <input
                    autofocus
                    type="text"
                    placeholder="¿Qué estás buscando?"
                  />
                  <button>
                    <i style="color: #ccc" class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-form>

      <div class="mp-all-results">
           <!-- <LoaderComponent /> -->
      </div>
    </div>
  </div>
</template>

<script>
import LoaderComponent from '@/components/globals/loaders/LoaderComponent';
export default {
  components: {
    LoaderComponent
  },
  data() {
    return {
      select: '',
      items: [
        'Programming',
        'Servicios Profesionales',
        'Vue',
        'Vuetify',
        'Programming2',
        'Design2',
        'Vue2',
        'Vuetify2',
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.mp-search-section-wrapper {
  .title-section-search {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    padding-left: 15px;
    margin-bottom: 0;
    color: #1a4a84;
    &::before {
      content: " ";
      height: 100%;
      width: 4px;
      background: #1a4a84;
      display: block;
      position: absolute;
      left: 0;
    }
    i {
      font-size: 22px;
    }
  }
  /* .v-text-field--outlined fieldset {
    border-color: #000 !important;
  } */
  /* .v-input__slot {
    background: #fff !important;
  } */
  .mp-container-search-input {
    display: flex;
    justify-content: center;
    .mp-input-search {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0.2em 0.8em;
      border-radius: 40px;
      //border: 1px solid rgba(0, 0, 0, 0.3);
      justify-content: space-between;
      //max-width: 500px;
      overflow: hidden;
      background-color: $color-font-dark;
      input {
        width: 90%;
        font-size: 13px;
        padding: 0.5em 0.8em;
        outline: none;
      }
      button {
        outline: none;
        padding: 0.5em 0.8em;
      }
    }
  }
  .mp-all-results {
    min-height: 200px;
    display: flex;
    align-items: center;

  }
}

</style>