<template>
  <div class="mp-ventures-section padd-section">
    <v-container>
      <div class="row justify-content-center text-center">
        <div class="col-md-10 mp-title-section">
          <div class="heading mb-5">
            <span class="backdrop text-center noselect">#Emprende</span>
            <span class="subtitle noselect">Mercado de lima</span>
            <h3 class="noselect">Emprendimientos destacados</h3>
          </div>
        </div>
      </div>
      <div class="mp-container-ventures">
        <div class="swiper-container mp-swiper-ventures">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="(item, idx) in mostBusiness"
              :key="item._id + idx"
            >
              <CardItem v-if="item.store" :business="item" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import CardItem from "@/components/cards/CardItem";
export default {
  components: {
    CardItem,
  },
  props: {
    mostBusiness: Array,
  },
  data() {
    return {
      swiperCategories: null,
    };
  },
  mounted() {
    this.swiperCategories = new this.$Swiper(
      ".mp-container-ventures .swiper-container.mp-swiper-ventures",
      {
        loop: false,
        spaceBetween: 10,
        //slidesPerView: 1,
        autoplay: {
          delay: 4000,
          //disableOnInteraction: true
        },
        breakpoints: {
          500: {
            slidesPerView: 1,
            spaceBetween: 10,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 2,
            spaceBetween: 25,
          },
          1200: {
            slidesPerView: 3,
            spaceBetween: 10,
          },
          1500: {
            slidesPerView: 4,
            spaceBetween: 5,
          },
          2000: {
            slidesPerView: 5,
            spaceBetween: 5,
          },
        },
        navigation: {
          nextEl: `.mp-swiper-ventures .swiper-button-next`,
          prevEl: `.mp-swiper-ventures .swiper-button-prev`,
        },
      }
    );
    document
      .querySelector(".swiper-container.mp-swiper-ventures")
      .addEventListener("mouseenter", this.pauseSwiper);
    document
      .querySelector(".swiper-container.mp-swiper-ventures")
      .addEventListener("mouseleave", this.playSwiper);
  },
  methods: {
    pauseSwiper() {
      this.swiperCategories.autoplay.stop();
    },
    playSwiper() {
      this.swiperCategories.autoplay.start();
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-ventures-section {
  //height: 100vh;
  max-height: $max-height-section;

  .swiper-container.mp-swiper-ventures {
    height: auto;
    display: flex;
    align-items: center;
    cursor: grabbing;
  }
}

.swiper-container.mp-swiper-ventures {
  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-next {
    right: 0 !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background: $color-blue;
    outline: none;

    &::after {
      font-size: 13px !important;
      color: #fff;
    }
  }

  /* .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 13px;
    } */
}
</style>
