<template>
  <div class="mp-product-store">
    <div v-if="product != null">
      <div class="container mp-product-container">
        <div class="mp-top-links">
          <v-btn @click="redirectBack" icon small color="tertiary">
            <span class="material-icons"> keyboard_arrow_left </span>
          </v-btn>
          <nuxt-link to="/"><i class="fas fa-home"></i> Home</nuxt-link>
          <nuxt-link :to="`/${product.store.sku}`"
            ><i class="fas fa-angle-right"></i>
            {{
              product.store && product.store.businessName
                ? product.store.businessName
                : ``
            }}</nuxt-link
          >
          <nuxt-link :to="`/${product.store.sku}/${product.sku}`"
            ><i class="fas fa-angle-right"></i>
            {{ product.title ? product.title : '' }}</nuxt-link
          >
        </div>
        <div class="mp-product-wrapper">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12">
              <div class="mp-product-images-container">
                <ImagesSlide
                  :productName="product.title"
                  :images="product.images"
                />
              </div>
            </div>
            <div
              id="mp-product-description-section"
              class="col-lg-6 col-md-7 col-sm-12"
            >
              <div class="mp-product-description-container">
                <div class="mp-header-product-description">
                  <nuxt-link
                    :to="`/${product.store.sku}`"
                    class="mp-contact-title"
                    >{{
                      product.store && product.store.businessName
                        ? product.store.businessName
                        : ``
                    }}</nuxt-link
                  >
                  <div class="mp-items-title">
                    <h1 class="mp-product-title">
                      {{ product.title }}
                    </h1>
                    <v-menu bottom offset-y>
                      <template v-slot:activator="{ on, attrs }">
                        <button
                          v-bind="attrs"
                          v-on="on"
                          class="mp-share-product"
                        >
                          <i class="fas fa-share-alt"></i>
                        </button>
                      </template>
                      <v-card elevation="0">
                        <div class="menu-social-networks">
                          <li
                            v-for="(item, idx) in socialShare"
                            :key="idx + 10020"
                          >
                            <a
                              target="_blank"
                              @click="
                                productShare(
                                  `${item.url}${domain}/${product.store.sku}/${product.sku}`,
                                  product.sku,
                                  item.type
                                )
                              "
                              :href="`${item.url}${domain}/${product.store.sku}/${product.sku}`"
                            >
                              <i :class="item.icon"></i>
                            </a>
                          </li>
                        </div>
                      </v-card>
                    </v-menu>
                    
                  </div>
                  <div v-if="productRating && productRating.rate && productRating.rate != 0"
                      class="mp-start-qualf"
                    >
                      <Stars :qualif="productRating.rate ? productRating.rate : 0" />
                      <a @click="scrollToComentaries">{{productRating.total ? productRating.total : 0 }} {{productRating.total == 1 ? "reseña" : "reseñas" }}</a>
                  </div>
                </div>
                <hr />
                <div class="mp-more-descriptions-product">
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 pt-0 pb-0">
                      <div class="mp-location-product">
                        <div
                          v-if="
                            product.store.department &&
                            product.store.department.name && !limaRegex.test(product.store.department.name)
                          "
                          class="mp-department-product"
                        >
                          <i class="fas fa-map-marker-alt"></i>
                          <p class="mb-0">
                            {{ product.store.department.name }}
                          </p>
                        </div>
                        <div
                          v-if="
                            product.store.province &&
                            product.store.province.name
                          "
                          class="mp-province-product"
                        >
                          <i class="fas fa-map-marker-alt"></i>
                          <p class="mb-0">
                            {{ product.store.province.name }}
                          </p>
                        </div>
                        <div
                          v-if="
                            product.store.district &&
                            product.store.district.name
                          "
                          class="mp-district-product"
                        >
                          <i class="fas fa-map-marker-alt"></i>
                          <p class="mb-0">
                            {{ product.store.district.name }}
                          </p>
                        </div>
                      </div>
                      <div class="mp-product-description">
                        <p>Descripción:</p>
                        <span class="pre-wrapp">{{
                          product.productReview ? product.productReview : ''
                        }}</span>
                      </div>
                      <div v-if="product.store.hasDelivery == 'true'" class="mp-product-delivery">
                        <v-icon
                          x-large
                          color="tertiary"
                          class="mr-3"
                        >
                          mdi-truck-fast-outline
                        </v-icon>
                        <span>Delivery disponible</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 pt-0 pb-0">
                      <div class="mp-product-price-stock">
                        <p
                          class="mp-product-start-price mb-2"
                          v-if="product.discount && product.discount > 0"
                        >
                          <span
                            ><del>{{
                              getPriceFormatter(product.startingPrice)
                            }}</del></span
                          >
                        </p>
                        <div class="mp-product-price">
                          <span
                            v-if="
                              product.startingPrice && product.startingPrice > 0
                            "
                            class="mp-final-price"
                          >
                            {{
                              product.discount && product.discount > 0
                                ? getPriceFormatter(product.finalPrice)
                                : getPriceFormatter(product.startingPrice)
                            }}
                            <small
                              v-if="product.discount && product.discount > 0"
                              class="mp-percent-discount"
                              >{{ product.discount }}%OFF</small
                            >
                          </span>
                          <div v-else class="mp-a-tratar">Precio a tratar</div>
                        </div>
                        <p class="mp-product-metric">
                          <small
                            >{{
                              product.metricNumber ? product.metricNumber : ''
                            }}
                            {{
                              product.metric && product.metric.name
                                ? `${product.metric.name}`
                                : ''
                            }}
                          </small>
                        </p>
                        <p
                          v-if="product.stock && product.stock > 0"
                          class="mp-product-stock"
                        >
                          Unidades disponibles: <span>{{ product.stock }}</span>
                        </p>
                        <p v-if="product.stock == 0" class="mp-product-stock">
                          <span>Sin unidades disponibles</span>
                        </p>
                      </div>
                      <div class="mp-product-contact">
                        <p class="mb-2">
                          <span>Contactar:</span>
                        </p>
                        <div v-if="product.store.contact && product.store.contact.contactPhone" class="mp-product-contact-phone mb-3">
                          <v-icon v-if="product.store.contact.contactPhone == 9" color="tertiary" class="mr-2">
                            mdi-cellphone-android
                          </v-icon>
                          <v-icon color="tertiary" class="mr-2" v-else>
                            mdi-phone
                          </v-icon> 
                          <span>{{ product.store.contact.contactPhone }}</span>
                        </div>
                        <button
                          @click="
                            contactUser(
                              product.store.sku,
                              'messenger',
                              product.store.contact.messengerUrl
                            )
                          "
                          v-if="
                            product.store.contact &&
                            product.store.contact.messengerUser
                          "
                          class="btn bg-blue btn-block text-white mb-3"
                        >
                          <span class="fsize13 text-uppercase semi-bold"
                            >Messenger</span
                          >
                          <i class="ml-2 fab fa-facebook-messenger"></i>
                        </button>
                        <button
                          @click="
                            contactUser(
                              product.store.sku,
                              'whatsapp',
                              `https://api.whatsapp.com/send?phone=${product.store.contact.whatsappNumber}&text=¡Hola!%20Vi%20tu%20tienda%20en%20Mercado%20de%20Lima.%20Estoy%20interesado%20en%20${product.title}`
                            )
                          "
                          v-if="
                            product.store.contact &&
                            product.store.contact.whatsappNumber
                          "
                          class="btn bg-blue btn-block text-white mb-3"
                        >
                          <span class="fsize13 text-uppercase semi-bold"
                            >Whatsapp</span
                          >
                          <i class="ml-2 fab fab fa-whatsapp"></i>
                        </button>

                        <div v-if="product.store.paymentMethods.length > 0" class="mp-payment-methods">
                          <p class="mb-2">
                            <span>Métodos de Pago:</span>
                          </p>
                          <div class="row">
                            <div
                              v-for="item in product.store.paymentMethods"
                              :key="item._id"
                              class="d-flex align-items-center mp-payment-methods-list col-12 row pt-0 pl-0 pr-0 pb-1 ml-5"
                            >
                              <img class="mr-5" width="25px" height="25px" :src="`${baseURL}/file/${item.icon.filename}`" >
                              <p>{{item.name}}</p>
                            </div>
                              
                          </div>
                        </div>

                        <div v-if="product.healthRegistration" class="mp-health-registration">
                          <p class="mb-1 mt-3">
                            <span>Registro Sanitario:</span>
                          </p>
                          <p class="mp-">
                          <small>
                            {{ product.healthRegistration }}
                          </small>
                        </p>
                          
                        </div>

                        <!--<div class="mp-product-contact-links">
                        <a @click="contatUser(product.person.store.sku, 'messenger')"  class="messenger-color" target="_blank" :href="`${product.person.store.contact.messengerUrl}`">
                          <i class="fab fa-facebook-messenger"></i>
                        </a>
                        <a @click="contatUser(product.person.store.sku, 'whatsapp')"  class="whatsapp-color" target="_blank" :href="`${product.person.store.contact.whatsappUrl} ${product.title}`">
                          <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mp-product-container mt-4">
        <div class="mp-product-review">
          <BusinessCommentsCard
            :business="product.store"
            :isEntView="false"
            :socials="
              product && product.store ? product.store.socialMedia : null
            "
          />
        </div>
      </div>
      <div  class="container mp-product-container mt-4">
        <div class="mp-product-review">
          <ProductCommentsCard
            id="reviews"
            :businessId="product.store._id"
            :productSKU="product.sku"
            :productId="product._id"
            v-on:newComment="addNewComment"
          />
        </div>
      </div>
    </div>
    <div v-else>
      <div class="container">
        <small>Este producto no se encuentra disponible por el momento</small>
      </div>
    </div>
  </div>
</template>

<script>
import ImagesSlide from '@/components/slides/ImagesSlide'
import logoML from '@/static/logos/LOGO-MERCADO-LIMA-CARRITO-FORMAL.png'
import BusinessCommentsCard from '@/components/cards/BusinessCommentsCard'
import ProductCommentsCard from '@/components/cards/ProductCommentsCard'
import seoProduct from '@/meta-tags/product'

import { mapState } from 'vuex'
export default {
  layout: 'MarketPlace',
  components: {
    ImagesSlide,
    BusinessCommentsCard,
    ProductCommentsCard,
  },
  //meta tags
  head() {
    return seoProduct(this.product)
  },
  async asyncData({ route, store, $axios, params, redirect }) {
    try {
      const res = await $axios.get(`/api/products/${params.productStore}`)
      if (res.status != 200) {
        return {
          product: null,
          socialItems: [],
          productRating: null,
        }
      }
      let productRating = null
      /*const resRate = await $axios.get(`/api/products/${res.data._id}/rating`)
      if(res.status == 200) {
        productRating = resRate.data
      }*/
      return {
        product: res.data,
        productRating: productRating,
        socialItems: [],
      }
    } catch (err) {
      return {
        product: null,
        productRating: null,
        socialItems: [],
      }
    }
  },
  data() {
    return {
      businessCommentaries: [],
      businessPage: 1,
      totalBusinessComments: 0,
      limaRegex: /lima/i
    }
  },
  computed: {
    ...mapState({
      socialShare: (state) => state.baseData.socialShare,
      baseURL: (state) => state.baseData.baseURL,
      domain: (state) => state.baseData.domain,
    }),
  },
  async mounted() {
    try {
      if (this.product) {
        this.$ga.page({
          page: `/${this.product.sku || this.$route.params.productStore}`,
          title:
            'Producto/Servicio ' + this.product.title
              ? this.product.title
              : this.$route.params.productStore,
          location: window.location.href,
        })
        await this.$axios.post('/api/indicators/products', {
          product: this.product._id,
        })
      }
    } catch (err) {}
  },
  methods: {
    redirectBack() {
      history.back();
    },
    getPriceFormatter(price) {
      const Formatter = new Intl.NumberFormat('es-PE', {
        style: 'currency',
        currency: 'PEN',
      })
      return price ? Formatter.format(price) : ''
    },
    addNewComment(comment) {},
    productShare(uri, psku, type) {
      this.$ga.event({
        eventCategory: 'Productos',
        eventAction: 'compartir',
        eventLabel: psku + '-' + type,
        eventValue: 1,
      })
    },
    async contactUser(psku, type, uri) {
      try {
        this.$ga.event({
          eventCategory: 'Productos',
          eventAction: 'contactar',
          eventLabel: psku + '-' + type,
          eventValue: 1,
        })
        window.open(uri)
        if (type == 'whatsapp') {
          await this.$axios.post('/api/indicators/contact/whatsapp', {
            store: this.product.store._id,
            product: this.product._id,
          })
        } else {
          await this.$axios.post('/api/indicators/contact/messenger', {
            store: this.product.store._id,
            product: this.product._id,
          })
        }
      } catch (err) {}
    },
    scrollToComentaries() {
      document.getElementById('reviews').scrollIntoView({
        behavior: 'smooth'
      });
    },
  },
}
</script>

<style lang="scss" scoped>
.mp-product-store {
  background: rgb(238, 238, 238);
  height: 100%;
  padding: 1.8em 0;
  overflow: hidden;

  .mp-product-container {
    background: #fff;
    padding: 1.5em 1em;

    .mp-top-links {
      a {
        color: rgb(41, 41, 41);
        font-size: 0.835rem;
        text-decoration: none;
      }
    }

    .mp-product-wrapper {
      .mp-product-description-container {
        padding: 0 0.5em;

        .mp-header-product-description {
          .mp-contact-title {
            font-size: 0.8em;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-blue;
            text-decoration: none;
            margin-bottom: 8px;
          }
          .mp-contact-title:hover {
            color: $color-blue-opacity
          }

          .mp-items-title {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .mp-product-title {
              font-size: 20px;
              padding-right: 15px;
            }

            .mp-share-product {
              outline: none;
              padding: 0 0.5em 0.5em;
            }
          }
          .mp-start-qualf {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            
            a {
              font-family: $primary-font;
              font-size: 0.95rem;
              margin-left: 12px;
              text-decoration: underline !important;
              color: black;
            }
            
            a:hover {
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }

        .mp-more-descriptions-product {
          .mp-location-product {
            display: flex;
            align-items: center;
            flex-flow: row wrap;

            .mp-department-product,
            .mp-province-product,
            .mp-district-product {
              padding: 0.3em 1em;
              color: #fff;
              font-size: 0.76rem;
              margin: 0 0.5em 0.5em 0;
              display: flex;

              justify-content: center;
              align-items: center;

              p {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
              }

              i {
                font-size: 0.79rem !important;
                margin-right: 5px;
              }
            }

            .mp-department-product {
              background: $color-blue;
            }

            .mp-province-product {
              background: $color-blue;
            }

            .mp-district-product {
              background: $color-blue;
              //border-bottom: 1px solid $color-secondary;
              //border-right: 1px solid $color-secondary;
            }

            button {
              outline: none;
              font-weight: 600;
              color: $color-primary;
            }

            //justify-content: flex-end;
          }

          .mp-product-description {
            background: rgb(250, 250, 250);
            padding: 1em 1em;
            margin: 0.8em 0;

            p {
              color: #000;
              font-weight: 500;
              margin-bottom: 8px;
              font-size: 0.88rem;
            }

            span {
              font-size: 0.825rem;
              //white-space: pre-wrap;
            }
          }
          .mp-product-delivery {
            background: rgb(250, 250, 250);
            padding: 0em;
            margin: 0.6em 0;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 0.86rem;
              font-weight: 700;
              color: $color-blue;
              //white-space: pre-wrap;
            }
          }

          .mp-product-price-stock {
            .mp-product-start-price {
              font-size: 1rem;
              font-weight: 500;
              font-family: 'Segoe UI', 'sans serif';
              color: rgba(0, 0, 0, 0.5);
            }

            .mp-product-price {
              font-family: 'Segoe UI', 'sans serif';
              font-size: 24px;
              color: $color-blue;
              font-weight: 700;
              margin-bottom: 8px;

              .mp-a-tratar {
                font-size: 17px;
                font-weight: 700;
                color: $color-blue;
                text-transform: uppercase;
              }

              .mp-final-price {
                position: relative;
              }

              .mp-percent-discount {
                position: absolute;
                top: 0;
                left: calc(100% + 3px);
                font-size: 0.72rem;
                font-weight: 700;
                color: $color-primary;
              }
            }

            .mp-product-metric {
              font-family: 'Segoe UI', 'sans serif';
              margin-bottom: 10px;

              small {
                color: rgba(0, 0, 0, 0.6);
              }
            }

            .mp-product-stock {
              font-size: 0.78rem;

              span {
                font-family: 'Segoe UI', 'sans serif';
                font-weight: 600;
              }
            }
          }

          .mp-payment-methods {
            width: 100%;
            .mp-payment-methods-list{
              img {
                border-radius: 4px;
              }
              p {
                color: rgba(0, 0, 0, 0.6);
                font-weight: 500;
                margin-bottom: 8px;
                font-size: 0.8rem;
              }
            }
            p {
              span {
                color: #000;
                font-weight: 500;
                margin-bottom: 8px;
                font-size: 0.8rem;
              }
            }
          }

          .mp-product-contact {
            width: 100%;
            /* display: flex;
                        justify-content: center;
                        flex-flow: column nowrap;
                        align-items: center; */

            p {
              span {
                color: #000;
                font-weight: 500;
                margin-bottom: 8px;
                font-size: 0.8rem;
              }
            }
            
            .mp-product-contact-phone{
              display: flex;
              justify-content: center;
              align-self: center;

              span {
                font-family: 'Segoe UI', 'sans serif';
                color: $color-blue;
                font-size: 1rem;
                font-weight: 600;
              }
            }

            .mp-product-contact-links {
              a {
                font-size: 2.5rem;
                margin-right: 5px;
              }

              a.messenger-color {
                color: rgb(0, 165, 255);
              }

              a.whatsapp-color {
                color: rgb(0, 191, 54);
              }
            }
          }
        }
      }
    }
  }
}

.menu-social-networks {
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;

  li {
    width: 100%;
    padding: 0;
    list-style: none;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 1em 0.5em;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-blue;
      transition: all ease-in-out 0.25s;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .mp-product-store {
    padding: 1em;
  }
}

@media screen and (max-width: 400px) {
  .mp-product-store {
    padding: 0.5em;
  }
}
</style>
