<template>
  <div class="mp-wrapper-emporium">
    <div v-if="campaign">
      <HeaderPromocion
        :title="campaign.title"
        :showOnlyImage="campaign.showOnlyImage"
        :img="
          campaign.image
            ? `${baseURL}/file/${campaign.image.filename}`
            : defaultIMG"
        :subtitle="campaign.subtitle"
      />
      <TabsCampaign :nav="nav" />
      <hr />
      <div class="container">
        <NuxtChild :campaign="campaign" />
      </div>
    </div>
    <div class="container" v-else>La promoción ya no se encuentra disponible</div>
  </div>
</template>

<script>
import HeaderPromocion from "@/components/sections/HeaderCategory";
import TabsCampaign from "@/components/tabs/TabsCampaign";
import seoCampaign from "@/meta-tags/campaign";
import { mapState } from "vuex";
export default {
  layout: "MarketPlace",
  components: {
    HeaderPromocion,
    TabsCampaign,
  },
  head() {
    return seoCampaign(this.campaign);
  },
  async asyncData({
    route,
    store,
    $axios,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
    $ga
  }) {
    try {
      const res = await $axios.get(`/api/campaigns/${params.skuPromotion}`);
      $axios.post(`/api/indicators/campaigns`,{
        campaign: res.data._id
      });
      return {
        campaign: res.data,
      };
    } catch (error) {
      console.log(error)
      return {
        campaign: null,
      };
    }
  },
  data() {
    return {
      nav: [
        { name: "Productos", sku: "productos" },
      ],
      campaign: null,
      defaultIMG:
        "https://delilacblog.files.wordpress.com/2017/02/galerc3ada-estilo-gamarra-perc3ba-conter-jeans.jpg",
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
  async mounted() {
    try {
      if (this.campaign) {
        this.$ga.page({
          page: `/promociones/${this.campaign.sku || this.$route.params.skuPromotion}`,
          title: `Campaña ${this.campaign.title}`,
          location: window.location.href,
        })
      } else {
        setTimeout( () => {
          if (this.campaign) {
            this.$ga.page({
              page: `/promociones/${this.campaign.sku || this.$route.params.skuPromotion}`,
              title: `Campaña ${this.campaign.title}`,
              location: window.location.href,
            })
          }
        } ,3000);
      }
    } catch (err) {
    }
  },
};
</script>

<style lang="scss" scoped>
.mp-wrapper-emporium {
  height: auto;
  padding: 0 0 5em;

  .mp-categories-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: $color-black !important;
  }

  a {
    text-decoration: none !important;
  }

  .v-tab {
    padding: 0 !important;
    margin: 0 16px;
  }
}
</style>
