<template>
  <div class="mp-bussiness-comments p-3">
    <div class="mp-business-avg">
      <div class="mp-items-title">
        <h1 class="mp-title-business mb-0">
          <nuxt-link :to="`/${business ? business.sku : '/'}`">
            {{ business && business.businessName ? business.businessName : `` }}
          </nuxt-link>
        </h1>
        <v-menu bottom offset-y>
          <template v-slot:activator="{ on, attrs }">
            <button
              v-bind="attrs"
              v-on="on"
              class="mp-share-business"
            >
              <i class="fas fa-share-alt"></i>
            </button>
          </template>
          <v-card elevation="0">
            <div class="menu-social-networks">
              <li
                v-for="(item, idx) in socialShare"
                :key="idx + 10020"
              >
                <a
                  target="_blank"
                  @click="
                    productShare(
                      `${item.url}${domain}/${business.sku}`,
                      business.sku,
                      item.type
                    )
                  "
                  :href="`${item.url}${domain}/${business.sku}`"
                >
                  <i :class="item.icon"></i>
                </a>
              </li>
            </div>
          </v-card>
        </v-menu>
      </div>
      <!-- class="bg-tertiary" -->
      <hr class="bg-griss" />
      <div class="mp-qualf-avg">
        <div
          class="mp-start-qualf"
          v-if="business && business.rating != 0 && business.rating <= 5"
        >
          <Stars :qualif="business && business.rating ? business.rating : 0" />
          <span>{{ business && business.rating ? business.rating : 0 }}/5</span>
        </div>
        <!--<div class="mp-add-comment">
                <button class="btn-new-comment">Calificar emprendimiento</button>
            </div>-->
      </div>
    </div>
    <div class="mp-business-description">
      <p class="description pre-wrapp mb-5">{{business && business.storeReview? business.storeReview: business.productsResume}}
      </p>
      <SocialBusiness :socials="socials" :person="business" />
      <p class="text-center mt-2">
        <small
          >Redes sociales de
          {{ business && business.businessName ? business.businessName : `` }}</small
        >
      </p>
    </div>
    <div>
      <slot name="bussiness-products"></slot>
    </div>
    <div
      v-if="businessCommentaries && businessCommentaries.length > 0 && isEntView"
      class="mp-sub-head-comments"
    >
      <h6 class="mp-comments-head">Comentarios sobre este emprendimiento</h6>
      <hr />
    </div>
    <client-only>
      <div v-if="businessCommentaries && businessCommentaries.length > 0 && isEntView">
        <v-data-iterator
          :footer-props="footerOptions"
          :items-per-page="limit"
          @update:page="getCommentaries"
          :server-items-length="totalBusinessComments"
          :items="businessCommentaries"
        >
          <template v-slot:default="props">
            <div v-for="item in props.items" :key="item._id" class="mp-comment-container">
              <div class="mp-head-comment">
                <div class="mp-user-details">
                  <div class="mp-user-image-name">
                    <v-avatar size="32px">
                      <img draggable="false" alt="default-user" :src="defaultUser" />
                    </v-avatar>
                    <h6 class="mp-head-user-name">
                      {{ item.person ? item.person.firstName : "" }}
                      {{ item.person ? item.person.lastName : "" }}
                    </h6>
                  </div>
                  <div class="mp-date-comment">
                    <small>{{
                      item.createdAt ? item.createdAt.toString().substring(0, 10) : ""
                    }}</small>
                  </div>
                </div>
                <div class="mp-stars-qualf">
                  <Stars :qualif="item.rating" :small="true" />
                </div>
              </div>
              <div class="mp-body-comment">
                <p class="pre-wrapp">{{ item.commentary }}</p>
              </div>
            </div>
          </template>
        </v-data-iterator>
        <LoaderPage :active="loader" :zIndex="10" />
      </div>
    </client-only>
  </div>
</template>

<script>
import Stars from "@/components/stars/Stars";
import SocialBusiness from "@/components/globals/SocialBusiness";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import defaultUser from "@/static/img/default-user-2.jpg";
import { mapState } from 'vuex'
export default {
  components: {
    Stars,
    SocialBusiness,
    LoaderPage,
  },
  props: {
    business: Object,
    isEntView: Boolean,
    socials: Object,
  },
  computed: {
    ...mapState({
      socialShare: (state) => state.baseData.socialShare,
      baseURL: (state) => state.baseData.baseURL,
      domain: (state) => state.baseData.domain,
    }),
  },
  data() {
    return {
      defaultUser: defaultUser,
      footerOptions: {
        "items-per-page-options": [5],
      },
      businessCommentaries: [],
      businessPage: 1,
      totalBusinessComments: 0,
      limit: 5,
      loader: false,
    };
  },
  async mounted() {
    if (this.isEntView) {
      await this.getCommentaries();
    }
  },
  methods: {
    async getCommentaries(pagine) {
      this.loader = true;
      const commentaries = await this.$axios.$get(
        `/api/commentaries/store/${this.business._id}?page=${
          pagine ? pagine : this.businessPage
        }&limit=${this.limit}`
      );
      this.loader = false;
      if (commentaries) {
        this.businessCommentaries = commentaries.docs;
        this.totalBusinessComments = commentaries.totalDocs;
        pagine ? (this.businessPage = pagine) : (this.businessPage = 1);
        this.loader = false;
      }
    },
    productShare(uri, eku, type) {
      this.$ga.event({
        eventCategory: 'Emprendimiento',
        eventAction: 'compartir',
        eventLabel: eku + '-' + type,
        eventValue: 1,
      })
    },
  }
}

</script>

<style lang="scss" scoped>
.mp-bussiness-comments {
  font-family: "Lato", sans-serif !important;

  .mp-business-avg {
    margin-bottom: 15px;
    .mp-items-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .mp-title-business {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;

        a {
          color: $color-blue;
        }
        a:hover {
          color: $color-blue-opacity;
        }
      }
      .mp-share-product {
        outline: none;
        padding: 0 0.5em 0.5em;
      }
    }
    .mp-qualf-avg {
      display: flex;
      justify-content: space-between;

      .mp-start-qualf {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        span {
          font-size: 0.88rem;
          margin-left: 8px;
        }
      }

      .mp-add-comment {
        .btn-new-comment {
          font-size: 0.75rem !important;
          text-transform: uppercase !important;
          letter-spacing: 1px !important;
          //color: #333333 !important;
          border-radius: 5px !important;
          border: 1px solid #333333 !important;
          padding: 0.8em 1em;
          outline: none;
          transition: all ease-in-out 0.2s;
          background: $color-primary;
          color: #fff;
        }
      }
    }
  }

  .mp-sub-head-comments {
    margin-top: 20px;

    .mp-comments-head {
      font-size: 1rem;
      color: #333333;
    }
  }

  .mp-business-description {
    p {
      font-weight: 400;
      //color: #333333;
      color: rgba(0, 0, 0, 0.75);
      font-size: 0.88rem;
    }
  }

  .mp-comment-container {
    .mp-head-comment {
      display: flex;
      flex-flow: column nowrap;

      .mp-title-comment {
        font-size: 0.88rem;
        font-weight: 700;
        margin-bottom: 6px;
        color: #313131;
      }

      .mp-user-details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mp-date-comment {
          font-weight: 400;
          font-size: 0.85rem;
          color: rgba(0, 0, 0, 0.6);
        }

        .mp-user-image-name {
          display: flex;
          align-items: center;
          flex-flow: row nowrap;

          .mp-head-user-name {
            margin-left: 10px;
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }

    .mp-body-comment {
      font-size: 0.88rem;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
.menu-social-networks {
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;

  li {
    width: 100%;
    padding: 0;
    list-style: none;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 1em 0.5em;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-blue;
      transition: all ease-in-out 0.25s;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
</style>
