<template>
  <div class="mp-product-comments p-3">
    <div class="mp-sub-head-comments">
      <h6 class="mp-comments-head">Comentarios sobre este producto</h6>
      <div class="mp-add-comment">
        <button @click="openCommentDialog" class="btn-new-comment">
          Calificar producto
        </button>
      </div>
    </div>
    <hr class="bg-griss" />
    <client-only>
      <div v-if="productCommentaries && productCommentaries.length > 0">
        <v-data-iterator
          :footer-props="footerOptions"
          :items-per-page="limit"
          @update:page="getCommentaries"
          :server-items-length="totalProductComments"
          :items="productCommentaries"
        >
          <template v-slot:default="props">
            <div
              v-for="(item, idx) in props.items"
              :key="idx + 12310"
              class="mp-comment-container"
            >
              <div class="mp-head-comment">
                <div class="mp-user-details">
                  <div class="mp-user-image-name">
                    <v-avatar size="32px">
                      <img draggable="false" alt="default-user" :src="defaultUser" />
                    </v-avatar>
                    <h6 class="mp-head-user-name">
                      {{ item.person ? item.person.firstName : "" }}
                      {{ item.person ? item.person.lastName : "" }}
                    </h6>
                  </div>
                  <div class="mp-date-comment">
                    <small>{{
                      item.createdAt ? item.createdAt.toString().substring(0, 10) : ""
                    }}</small>
                  </div>
                </div>
                <div class="mp-stars-qualf">
                  <Stars :qualif="item.rating" :small="true" />
                </div>
              </div>
              <div class="mp-body-comment">
                <p class="pre-wrapp">{{ item.commentary }}</p>
              </div>
              <hr />
            </div>
          </template>
        </v-data-iterator>
        <LoaderPage :active="loader" :zIndex="10" />
      </div>
      <div v-else>
        <span class="text-muted">Sin comentarios</span>
      </div>
    </client-only>
    <!-- Dialog New Product comment -->
    <DialogForm
      v-if="dialog"
      :dialog="dialog"
      width="700"
      title="Nuevo comentario"
      v-on:closeDialog="closeDialog"
    >
      <template v-slot:form-dialog>
        <div>
          <v-card-text class="pt-4">
            <ComentaryForm
              v-if="dialog"
              :productId="productId"
              :businessId="businessId"
              :isAuth="$store.state.auth.loggedIn"
              :loading="loading"
              v-on:commentReady="addProductCommentary($event)"
            />
          </v-card-text>
        </div>
      </template>
    </DialogForm>
  </div>
</template>

<script>
import DialogForm from "@/components/dialogs/DialogForm";
import Stars from "@/components/stars/Stars";
import ComentaryForm from "@/components/forms/ComentaryForm";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import defaultUser from "@/static/img/default-user-2.jpg";
import Swal from "sweetalert2";

export default {
  components: {
    Stars,
    DialogForm,
    ComentaryForm,
    LoaderPage,
  },
  props: {
    productId: String,
    businessId: String,
    productSKU: String,
  },
  data() {
    return {
      dialog: false,
      loading: false,
      defaultUser: defaultUser,
      defaultText: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores  hic beatae fugit. Cum 
Recomendado!`,
      footerOptions: {
        "items-per-page-options": [5],
      },
      productCommentaries: [],
      productPage: 1,
      totalProductComments: 0,
      limit: 5,
      loader: false,
    };
  },
  async mounted() {
    await this.getCommentaries();
  },
  methods: {
    async getCommentaries(pagine) {
      this.loader = true;
      const commentaries = await this.$axios.get(
        `/api/commentaries/products/${this.productId}?page=${
          pagine ? pagine : this.productPage
        }&limit=${this.limit}`
      );
      if (commentaries.status != 200) return;
      this.loader = false;

      this.productCommentaries = commentaries.data.docs;
      this.totalProductComments = commentaries.data.totalDocs;
      pagine ? (this.productPage = pagine) : (this.productPage = 1);
      this.loader = false;
    },
    openCommentDialog() {
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false;
      //this.clearFields();
    },
    async addProductCommentary(comment) {
      try {
        this.loading = true;
        const res = await this.$axios.post(`/api/commentaries`, comment);
        this.loading = false;
        if (res.status != 200 && res.status != 201 && res.status != 204)
          return Swal.fire(
            "",
            "Ocurrió un error y no se pudo agregar su comentario",
            "error"
          );

        this.closeDialog();
        this.$ga.event({
          eventCategory: "Productos",
          eventAction: "comentarios",
          eventLabel: this.productSKU,
          eventValue: 1,
        });
        this.$ga.event({
          eventCategory: "Productos",
          eventAction: "calificacion",
          eventLabel: this.productSKU,
          eventValue: comment.rating,
        });
        this.getCommentaries(this.productPage);
        /* if (this.productCommentaries.length == this.limit) {
          this.productCommentaries.splice(this.limit - 1, 1);
        }
        this.productCommentaries.unshift(res.data); */
        return Swal.fire("Gracias por comentar!", "", "success");
      } catch (err) {}
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-product-comments {
  font-family: "Lato", sans-serif !important;

  .mp-sub-head-comments {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mp-add-comment {
      .btn-new-comment {
        font-size: 0.75rem !important;
        text-transform: uppercase !important;
        letter-spacing: 1px !important;
        //@at-rootcolor: #333333;
        border-radius: 5px !important;
        //border: 1px solid #333333 !important;
        padding: 0.8em 1em;
        outline: none;
        transition: all ease-in-out 0.2s;
        background: $color-blue;
        color: #fff;
        margin-left: 5px;

        @media screen and (max-width: 508px) {
          & {
            padding: 0.25em 1em;
          }
        }

        @media screen and (max-width: 450px) {
          & {
            padding: 0.25em 0.8em;
          }
        }

        /* &:hover {
                    background: $color-primary;
                } */
      }
    }

    .mp-comments-head {
      font-size: 1.06rem;
      color: #000;
      margin-bottom: 0;
    }
  }

  /* .mp-business-description {
        p {
            font-weight: 400;
            color: #333333;
            font-size: .88rem;
        }
    } */

  .mp-comment-container {
    //padding: .5em 0;

    .mp-head-comment {
      display: flex;
      flex-flow: column nowrap;

      .mp-title-comment {
        font-size: 0.88rem;
        font-weight: 700;
        margin-bottom: 6px;
        color: #313131;
      }

      .mp-user-details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mp-date-comment {
          font-weight: 300;
          font-size: 0.85rem;
          color: rgba(0, 0, 0, 0.6);
        }

        .mp-user-image-name {
          display: flex;
          align-items: center;
          flex-flow: row nowrap;

          .mp-head-user-name {
            margin-left: 10px;
            font-size: 0.9rem;
            font-weight: 500;
            color: #000;
            margin-bottom: 0;
          }
        }
      }
    }

    .mp-body-comment {
      font-size: 0.88rem;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.7);

      p {
        white-space: pre-wrap;
      }
    }
  }
}
</style>
