<template>
  <div class="mp-search-section">
    <div class="mp-search-container">
      <v-form v-on:submit.prevent="redirectToSearchPage" class="mp-search-input">
        <input
          v-model="keyword"
          @focus="activateResults"
          @blur="dropResults"
          type="text"
          @keyup="findItems"
          placeholder="¿Qué estás buscando?"
        />
        <button>
          <i style="color: #ccc" class="fas fa-search"></i>
        </button>
      </v-form>
      <div class="mp-results-search">
        <client-only>
          <div v-if="results">
            <li v-for="(item, idx) in results" :key="idx + 402560">
              <nuxt-link
                :to="`/${item.store ? item.store.sku : ''}/${item.sku ? item.sku : ''}`"
              >
                <i class="material-icons">search</i>
                <span>{{ item.title }}</span>
              </nuxt-link>
            </li>
          </div>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: null,
      keyword: "",
      timeOut: null,
    };
  },
  mounted() {
    document
      .querySelector(".mp-results-search")
      .addEventListener("mouseover", this.activateResults);
    //document.querySelector('.mp-results-search').addEventListener('mouseleave', this.dropResults);
  },
  methods: {
    activateResults() {
      document.querySelector(".mp-results-search").classList.add("active-search");
    },
    dropResults(ev) {
      ev.preventDefault();
      setTimeout(() => {
        document.querySelector(".mp-results-search").classList.remove("active-search");
      }, 400);
    },
    redirectToSearchPage() {
      if (this.keyword && this.keyword.length >= 1) {
        this.$router.push(`/search?search=${this.keyword}&page=1&limit=9`);
      }
    },
    findItems() {
      if (this.keyword && this.keyword.length > 2) {
        if (this.timeOut) {
          clearTimeout(this.timeOut);
        }
        this.timeOut = setTimeout(this.getItems, 1000);
        return;
      }
      clearTimeout(this.timeOut);
      this.results = null;
    },
    async getItems() {
      const res = await this.$axios.get(
        `/api/search?search=${this.keyword}&page=1&limit=6`
      );
      if (res.status != 200) return;
      this.results = res.data.docs;
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-search-section.search-visible {
  display: block !important;
}

.mp-search-section {
  background: #fff;
  border-radius: 2px;
  min-width: 500px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 1263px) {
    & {
      min-width: 400px;
    }
  }
  @media screen and (max-width: 959px) {
    & {
      min-width: 200px !important;
      max-width: 100% !important;
    }
  }
  .mp-search-container {
    padding: 0.2em 0.5em;
    position: relative;

    .mp-results-search.active-search {
      visibility: visible;
    }

    .mp-results-search {
      position: absolute;
      top: 100%;
      //border-top: 1px solid #eee;
      left: 0;
      width: 100%;
      height: auto;
      background: #fff;
      padding: 0.78em 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      visibility: hidden;

      li {
        list-style: none;
        height: 38px;

        a {
          text-decoration: none;
          padding: 0.2em 0.8em;
          padding-left: calc(0.5em + 15px);
          width: 100%;
          height: 100%;
          font-size: 0.77rem;
          color: rgb(95, 95, 95);
          display: flex;
          align-items: center;

          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            background: $color-blue;
            color: #fff;
          }

          i {
            margin-right: 10px;
            color: #ccc;
            font-size: 1.2rem;
          }
        }
      }
    }

    .mp-search-input {
      display: flex;
      justify-content: space-between;

      input {
        outline: none;
        width: 90%;
        background: transparent;
        padding: 7px 60px 9px 15px;
        font-family: $primary-font;
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
      }

      button {
        margin-right: 7px;
        outline: none;

        i {
          color: #ccc;
        }
      }
    }
  }
}
</style>
