<template>
<div class="mp-card-search">
    <SearchForm />
</div>
</template>

<script>
import SearchForm from '@/components/forms/SearchForm';
export default {
    components: {
        SearchForm
    }
}
</script>

<style lang="scss" scoped>
$height-card-search: 100px;

.mp-card-search {
    bottom: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    height: 85px;
    width: 100%;
}

@media screen and (max-width: 680px) {
    .mp-card-search {
        height: auto;
    }
}
</style>
