<template>
  <div class="container container-slide-loader">
    <div class="margin-container">
      <div :id="swiperId" class="swiper-container">
        <div class="swiper-wrapper">
          <div
            v-for="(item, idx) in items"
            :key="swiperId + item + idx"
            class="swiper-slide"
          >
            <v-skeleton-loader
              class="mx-auto"
              max-width="600"
              type="card"
            ></v-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    swiperId: String,
  },
  data() {
    return {
      items: [701, 702, 703, 704],
      swiper: null,
    };
  },
  mounted() {
    this.swiper = new this.$Swiper(`#${this.swiperId}`, {
      loop: false,
      spaceBetween: 10,
      slidesPerView: 1,
      autoplay: {
        delay: 4000,
      },
      breakpoints: {
        500: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 25,
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1500: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        2000: {
          slidesPerView: 5,
          spaceBetween: 20,
        },
      },
      navigation: {
        nextEl: `#${this.swiperId} .swiper-button-next`,
        prevEl: `#${this.swiperId} .swiper-button-prev`,
      },
    });
  },
};
</script>

<style lang="scss" scoped>
.container-slide-loader {
  .margin-container {
    margin: 40px 0;
  }
}
</style>
