<template>
  <div class="mp-slide-index">
    <div class="swiper-container swiper-header">
      <div class="swiper-wrapper">
        <div v-for="item in reel" :key="item._id" class="swiper-slide">
          <div
            class="mp-slide-bg swiper-lazy"
            :style="`background-image: ${getOverlayColor()}, url(${
              $store.state.baseData.baseURL
            }/file/${item.image.filename});`"
          ></div>
          <div :class="`mp-slide-content ${getTextPosition(item.titlePosition)}`">
            <v-container class="mp-alignment-items">
              <h4>{{ item.title }}</h4>
              <h3 class="mp-bg-opacity-blue pre-wrapp">{{ item.specialWord }}</h3>
              <div class="mp-actions-container">
                <a
                  target="_blank"
                  v-if="item.url"
                  :href="item.url"
                  class="mp-slide-action"
                >
                  Ver más
                </a>
                <!--<nuxt-link class="mp-slide-action" to="/">
                            </nuxt-link>-->
              </div>
            </v-container>
          </div>
        </div>
      </div>
      <!-- Arrows -->
      <div class="swiper-button-next swiper-header"></div>
      <div class="swiper-button-prev swiper-header"></div>
    </div>

    <slot name="search-card"> </slot>
  </div>
</template>

<script>
export default {
  props: {
    reel: Array,
  },
  data() {
    return {
      swiper: null,
    };
  },
  mounted() {
    this.swiper = new this.$Swiper(".swiper-container.swiper-header", {
      lazy: true,
      speed: 400,
      spaceBetween: 0,
      grabCursor: true,
      autoplay: {
        autoplay: true,
        delay: 5000,
        //disableOnInteraction: true,
      },
      effect: "fade",
      fadeEffect: {
        crossFade: true,
      },
      navigation: {
        nextEl: ".swiper-button-next.swiper-header",
        prevEl: ".swiper-button-prev.swiper-header",
      },
    });
    document
      .querySelector(".swiper-container.swiper-header")
      .addEventListener("mouseenter", this.pauseSwiper);
    document
      .querySelector(".swiper-container.swiper-header")
      .addEventListener("mouseleave", this.playSwiper);
  },
  methods: {
    getOverlayColor() {
      return "linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35))";
    },
    getTextPosition(pos) {
      let className = "center-items";
      switch (pos) {
        case -1:
          className = "left-items";
          break;
        case 0:
          className = "center-items";
          break;
        case 1:
          className = "right-items";
          break;
      }
      return className;
    },
    pauseSwiper() {
      this.swiper.autoplay.stop();
    },
    playSwiper() {
      this.swiper.autoplay.start();
    },
  },
};
</script>

<style lang="scss">
.mp-slide-index {
  height: calc(78vh - 130px);
  max-height: $max-height-section;
  position: relative;
  padding-bottom: 35px;
  overflow: hidden;
}

.mp-slide-index .swiper-container {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.mp-slide-index .swiper-slide {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.mp-slide-index .swiper-slide .mp-slide-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mp-slide-index .swiper-slide .mp-slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  color: #fff;
  font-family: $primary-font;
}

.mp-slide-index .mp-bg-opacity-blue {
  background: rgba(0, 163, 156, 0.85);
}

.mp-slide-index .swiper-slide .mp-slide-content .mp-alignment-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding-bottom: 65px;
}

//CENTER CONTENT
.mp-slide-index .swiper-slide .mp-slide-content.center-items .mp-alignment-items {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;

  h4,
  h3 {
    text-align: center;
  }

  .mp-actions-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

//LEFT CONTENT
.mp-slide-index .swiper-slide .mp-slide-content.left-items .mp-alignment-items {
  align-items: flex-start;

  h4,
  h3 {
    text-align: left;
  }

  .mp-actions-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

//RIGHT CONTENT
.mp-slide-index .swiper-slide .mp-slide-content.right-items .mp-alignment-items {
  align-items: flex-end;

  h4,
  h3 {
    text-align: right;
  }

  .mp-actions-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

//
.mp-slide-index .swiper-slide .mp-slide-content h3 {
  //text-transform: capitalize !important;
  /* font-size: 120px; */
  font-weight: 600;
  padding: 0.6em 1em;
  max-width: 600px;
  font-size: 1rem;
}

@media screen and (min-width: 1450px) {
  .mp-slide-index .swiper-slide .mp-slide-content h3 {
    //text-transform: uppercase;
    /* font-size: 140px; */
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.mp-slide-index .swiper-slide .mp-slide-content h4 {
  font-size: 44px;
  font-weight: 700;
  line-height: 30px;
  font-size: 1.5rem;
}

.mp-slide-index .swiper-slide .mp-slide-content .mp-slide-action {
  padding: 0.62em 2em;
  font-weight: 400;
  font-size: 15px;
  background: $color-font-dark;
  transition: all ease-in-out 0.35s;
  border-radius: 40px;
  color: $color-font;
  text-decoration: none;
}

.mp-slide-index .swiper-slide .mp-slide-content .mp-slide-action:hover {
  background: $color-primary;
  color: $color-font-dark;
}

.mp-slide-index .swiper-slide .img {
  width: 100%;
}

.mp-slide-index .swiper-button-next,
.mp-slide-index .swiper-button-prev {
  //background-color: white;
  outline: none !important;
  background-color: rgba(0, 0, 0, 0.55);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 10px;
  padding: 30px;
  color: #fff !important;
  fill: #fff !important;
  stroke: black !important;
  transition: all ease-in-out 0.35s;
}

.mp-slide-index .swiper-button-next:hover,
.mp-slide-index .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 1);
}

.mp-slide-index .swiper-button-next::after,
.mp-slide-index .swiper-button-prev::after {
  font-size: 15px;
}

@media (max-width: 576px) {
  .mp-slide-index .swiper-container {
    height: 100%;
  }
}

@media screen and (max-width: $first-breakpoint) {
  .mp-slide-index .swiper-slide .mp-slide-content.right-items .mp-alignment-items,
  .mp-slide-index .swiper-slide .mp-slide-content.left-items .mp-alignment-items,
  .mp-slide-index .swiper-slide .mp-slide-content.center-items .mp-alignment-items {
    //align-items: center;

    /* h4,
    h3 {
      text-align: center;
    } */

    /* .mp-actions-container {
      width: 100%;
      display: flex;
      justify-content: center;
    } */
  }

  .mp-slide-index .swiper-slide .mp-slide-content h3 {
    font-size: 1rem;
    //font-weight: 700;
  }

  .mp-slide-index .swiper-slide .mp-slide-content h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .mp-slide-index {
    height: calc(100vh - 65px);
  }

  /* .mp-slide-index .swiper-slide .mp-slide-content h3 {
    font-size: 90px;
  } */

  .mp-slide-index .swiper-slide .mp-slide-content h4 {
    font-size: 1.4rem;
    line-height: 25px;
  }

  .mp-slide-index .swiper-slide .mp-slide-content .mp-slide-action {
    padding: 0.75em 2em;
    font-size: 14px;
  }

  .mp-slide-index .swiper-button-next,
  .mp-slide-index .swiper-button-prev {
    width: 24px !important;
    height: 24px !important;
    padding: 24px;
  }

  .mp-slide-index .swiper-button-next::after,
  .mp-slide-index .swiper-button-prev::after {
    font-size: 13px;
  }
}

@media screen and (max-width: 680px) {
  .mp-slide-index .swiper-slide .mp-slide-content .mp-alignment-items {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .mp-slide-index {
    height: calc(100vh - 60px);
  }

  /* .mp-slide-index .swiper-slide .mp-slide-content h3 {
    font-size: 60px;
  } */

  .mp-slide-index .swiper-slide .mp-slide-content h4 {
    /* font-size: 26px; */
    font-size: 1.2rem;
    line-height: 20px;
  }

  .mp-slide-index .swiper-slide .mp-slide-content .mp-slide-action {
    padding: 0.7em 1.5em;
    font-size: 13px;
  }

  .mp-slide-index .swiper-button-next,
  .mp-slide-index .swiper-button-prev {
    width: 20px !important;
    height: 20px !important;
    padding: 20px;
  }

  .mp-slide-index .swiper-button-next::after,
  .mp-slide-index .swiper-button-prev::after {
    font-size: 12px;
  }
}

@media screen and (max-width: $breakpoint-xsm) {
  .mp-slide-index .swiper-slide .mp-slide-content h3 {
    /* font-size: 50px; */
    font-size: 1rem;
  }

  .mp-slide-index .swiper-slide .mp-slide-content h4 {
    /* font-size: 24px; */
    font-size: 1rem;
    line-height: 18px;
  }

  .mp-slide-index .swiper-slide .mp-slide-content .mp-slide-action {
    padding: 0.7em 1.5em;
    font-size: 12px;
  }
}
</style>
