<template>
  <div class="mp-wrapper-category">
    <div v-if="currentCategory" class="content-lay-category">
      <HeaderCategory :title="currentCategory.name" :img="currentCategory.image ? `${baseURL}/file/${currentCategory.image.filename}` : imgMuestra" />
      <TabsCategory :subcategories="currentCategory.subcategories" />
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12">
            <v-card elevation="0" class="mt-2">
              <v-card-text class="pt-0 pb-0">
                <h4 class="mp-categories-title">Categorias</h4>
              </v-card-text>
              <hr />
              <v-list-item v-for="item in categories" :key="item._id" :to="`/categorias/${item.sku}`">
                <v-list-item-content>
                  <v-list-item-subtitle v-text="`${item.name}`"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12">
            <NuxtChild :category="currentCategory" />
          </div>
        </div>
      </div>
    </div>
    <div v-else>No se encontró ninguna categoría</div>
  </div>
</template>

<script>
import HeaderCategory from "@/components/sections/HeaderCategory";
import TabsCategory from "@/components/tabs/TabsCategory";
import ProductCard from "@/components/cards/ProductCard";
import imgCacao from "@/static/bg/cacao.jpg";
import seoCategory from "@/meta-tags/category";
import { mapState } from "vuex";

export default {
  layout: "MarketPlace",
  components: {
    HeaderCategory,
    TabsCategory,
  },
  head() {
    return seoCategory(this.currentCategory);
  },
  async asyncData({ $axios, store, env, params }) {
    try {
      const res = await $axios.$get("/api/categories");
      res.forEach((cat) => {
        cat.subcategories = [
          {
            name: `Todo ${cat.name}`,
            sku: "",
            _id: `todo-${cat.name}`,
          },
          ...cat.subcategories,
        ];
      });

      return {
        categories: res,
        currentCategory: res.find((c) => c.sku === params.skuCategory),
      };
    } catch (err) {}
  },
  data() {
    return {
      imgMuestra: imgCacao,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
  mounted() {
    try {
      this.$ga.page({
        page: `/categorias/${this.$route.params.skuCategory}`,
        title: `Categoria ${this.currentCategory.name || this.$route.params.skuCategory}`,
        location: window.location.href,
      });
    } catch (err) {}
  },
};
</script>

<style lang="scss" scoped>
.mp-wrapper-category {
  height: auto;
  padding: 0 0 5em;

  .mp-categories-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: $color-black !important;
  }

  a {
    text-decoration: none !important;
  }

  .v-tab {
    padding: 0 !important;
    margin: 0 16px;
  }
}
</style>
