<template>
  <div data-app class="mp-my-bussiness-page">
    <div class="container p-0 pt-1">
      <div class="mp-title-page-user">Mi emprendimiento</div>
      <div class="mp-shadow-user-view pt-3 pb-3">
        <v-form ref="formStore" :valid="true" lazy-validation v-model="formStore">
          <div class="col-lg-12 col-md-12 col-sm-12 pb-0 pl-0 pr-0">
            <div
              v-if="messageResponse.message && messageResponse.message.length > 0"
              :class="`alert alert-${messageResponse.status} mb-2`"
              role="alert"
            >
              {{ messageResponse.message }}
              <br />
              <nuxt-link
                v-if="messageResponse.status === 'success'"
                to="/user/mis-solicitudes"
                class="alert-link mr-1"
                >Ver mis solicitudes</nuxt-link
              >
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <small><strong>1. Datos generales</strong></small>
              <hr class="mt-3 mb-2" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Nombre Comercial/Razón Social</small></p>
              <v-text-field
                v-model="stored.businessName"
                outlined
                :background-color="colorFields"
                placeholder="Nombre Comercial/Razón social"
              >
              </v-text-field>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Nombres</small></p>
              <v-text-field
                v-model="stored.firstName"
                :rules="nameRules"
                outlined
                :background-color="colorFields"
                placeholder="Nombres (*)"
              >
              </v-text-field>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Apellidos</small></p>
              <v-text-field
                v-model="stored.lastName"
                :rules="lastNameRules"
                outlined
                :background-color="colorFields"
                placeholder="Apellidos (*)"
              >
              </v-text-field>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-5 py-0">
                    <p class="mb-1"><small>Tipo de Doc.</small></p>
                    <v-select
                      id="mp-tipo-documento-emprendimiento"
                      :items="documentType"
                      v-model="stored.documentType"
                      :rules="documentTypeRules"
                      background-color="#fff"   
                      outlined
                    ></v-select>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 py-0">
                    <p class="mb-1"><small>Documento</small></p>
                    <v-text-field
                      id="mp-document-emprendimiento"
                      v-model="stored.dni"
                      :rules="documentRules"
                      outlined
                      v-mask="dniMask"
                      :background-color="colorFields"
                      :placeholder="`${stored.documentType} (*)`"
                    >
                    </v-text-field>
                  </div>
                </div>    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <p class="mb-1"><small>Sexo</small></p>
                <v-select
                  id="mp-sex-emprendimiento"
                  :items="sex"
                  v-model="stored.sex"
                  :rules="sexRules"
                  background-color="#fff"   
                  placeholder="Sexo (*)"
                  outlined
                ></v-select>
              </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Documento</small></p>
              <v-text-field
                v-model="stored.ruc"
                outlined
                v-mask="rucMask"
                :rules="rucRules"
                :background-color="colorFields"
                placeholder="RUC (*)"
              >
              </v-text-field>
            </div>
            <div v-if="artesaniaWasSelected" class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Registro Nacional de Artesanos</small></p>
              <v-text-field
                v-model="stored.rna"
                outlined
                background-color="#fff"
                placeholder="RNA"
                v-mask="rnaMask"
              >
              </v-text-field>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Teléfono</small></p>
              <v-text-field
                v-model="stored.phone"
                :rules="phoneRules"
                outlined
                v-mask="phoneMask"
                :background-color="colorFields"
                placeholder="Teléfono (*)"
              >
              </v-text-field>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Departamento</small></p>
              <v-autocomplete
                @change="getProvinces"
                v-model="stored.department"
                :rules="departmentRules"
                :items="departments"
                item-text="name"
                item-value="_id"
                outlined
                :background-color="colorFields"
                placeholder="Departamento (*)"
              >
              </v-autocomplete>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Provincia</small></p>  
              <v-autocomplete
                @change="getDistricts"
                v-model="stored.province"
                :rules="provinceRules"
                :items="provinces"
                item-text="name"
                item-value="_id"
                outlined
                :background-color="colorFields"
                placeholder="Provincia (*)"
              >
              </v-autocomplete>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
              <p class="mb-1"><small>Distrito</small></p>
              <v-autocomplete
                v-model="stored.district"
                :rules="districtRules"
                :items="districts"
                item-text="name"
                item-value="_id"
                outlined
                :background-color="colorFields"
                placeholder="Distrito (*)"
              >
              </v-autocomplete>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Dirección</small></p>
              <v-text-field
                v-model="stored.address"
                :rules="addressRules"
                outlined
                :background-color="colorFields"
                placeholder="Dirección (*)"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Descripción del emprendimiento</small></p>
              <v-textarea
                outlined
                :background-color="colorFields"
                :value="stored.storeReview"
                rows="3"
                auto-grow
                v-model="stored.storeReview"
                :rules="storeReviewRules"
                placeholder="Resumen de su emprendimiento(*)"
              >
              </v-textarea>
            </div>
            <!-- DATOS SECUNDARIOS -->
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <small><strong>2. Datos secundarios</strong></small>
              <hr class="mt-3 mb-2" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>¿Perteneces a algún conglomerado?</small></p>
              <v-autocomplete
                multiple
                item-text="name"
                item-value="_id"
                outlined
                :background-color="colorFields"
                placeholder="Elige alguno"
                :items="conglomerates"
                v-model="stored.emporiums"
                color="tertiary"
              ></v-autocomplete>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
               <p class="mb-1"><small>Métodos de Pago que aceptas</small></p>
              <v-autocomplete
                id="mp-categoria-emprendimiento"
                v-model="stored.paymentMethods"
                :items="paymentMethods"
                item-text="name"
                item-value="_id"
                multiple
                outlined
                background-color="#fff"
                placeholder="Elige alguno"
              >
              </v-autocomplete>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>¿Haces delivery?</small></p>
              <v-checkbox
                v-model="stored.hasDelivery"
                :label="`${stored.hasDelivery ? 'Si' : 'No'}`"
              ></v-checkbox>
            </div>
            <!-- FIN DATOS SECUNDARIOS -->
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <small><strong>3. Redes sociales</strong></small>
              <hr class="mt-3 mb-2" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Facebook</small></p>
              <v-text-field
                v-model="stored.facebook"
                :rules="urlRules"
                outlined
                :background-color="colorFields"
                placeholder="https://www.facebook.com/MuniLima"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Instagram</small></p>
              <v-text-field
                v-model="stored.instagram"
                :rules="urlRules"
                outlined
                :background-color="colorFields"
                placeholder="https://www.instagram.com/munlima"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Linkedin</small></p>
              <v-text-field
                v-model="stored.linkedin"
                :rules="urlRules"
                outlined
                :background-color="colorFields"
                placeholder="https://www.linkedin.com/company/munilima"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Youtube</small></p>
              <v-text-field
                v-model="stored.youtube"
                :rules="urlRules"
                outlined
                :background-color="colorFields"
                placeholder="https://www.youtube.com/user/webmunlima"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Twitter</small></p>
              <v-text-field
                v-model="stored.twitter"
                :rules="urlRules"
                outlined
                :background-color="colorFields"
                placeholder="https://twitter.com/MuniLima"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Sitio web personal</small></p>
              <v-text-field
                v-model="stored.web"
                :rules="urlRules"
                outlined
                :background-color="colorFields"
                placeholder="https://miemprendimiento.com"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0 text-center">
              <div class="mp-social-network-test">
                <a :href="stored.facebook ? stored.facebook : '#'" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
                <a :href="stored.instagram ? stored.instagram : '#'" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
                <a :href="stored.linkedin ? stored.linkedin : '#'" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a :href="stored.youtube ? stored.youtube : '#'" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
                <a :href="stored.twitter ? stored.twitter : '#'" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a :href="stored.web ? stored.web : '#'" target="_blank">
                  <i class="fas fa-globe"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-2 pt-1 text-center">
              <small>Prueba tus redes sociales antes de guardar</small>
              <p class="semi-bold fsize12">
                <small
                  ><strong
                    >(Solo se mostrarán las redes sociales que tengan un enlace)</strong
                  ></small
                >
              </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <small><strong>4. Redes de contacto</strong></small>
              <hr class="mt-3 mb-2" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Whatsapp</small></p>
              <v-text-field
                id="mp-enlace-whatsapp-emprendimiento"
                v-model="stored.whatsappNumber"
                v-mask="whatsappMask"
                :rules="whatsappRules"
                outlined
                :background-color="colorFields"
                placeholder="+51 999 999 999"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1">
                <small
                  >Messenger (Pega el enlace de la página de facebook de tu emprendimiento o
                  uno personal de contacto)</small
                >
              </p>
              <!-- :rules="urlRules" -->
              <v-text-field
                id="mp-enlace-messenger-emprendimiento"
                v-model="stored.messengerUser"
                outlined
                :background-color="colorFields"
                placeholder="https://www.facebook.com/MuniLima"
                hint="Pega el enlace hacia el perfil de facebook de tu emprendimiento, nosotros crearemos el enlace hacia messenger por tí"
              >
              </v-text-field>
            </div>
             <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-1"><small>Teléfono de contacto</small></p>
              <v-text-field
                v-model="stored.contactPhone"
                outlined
                v-mask="phoneMask"
                :background-color="colorFields"
                placeholder="Teléfono de contacto"
              >
              </v-text-field>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0 text-center">
              <div class="mp-social-network-test mp-contact-network">
                <a
                  class="whatsapp-color"
                  @click.stop="openWhatsApp"
                  :href="
                    stored.whatsappNumber ? baseWhatsapp + stored.whatsappNumber : '#'
                  "
                  target="_blank"
                >
                  <i class="fab fa-whatsapp"></i>
                </a>
                <a
                  class="messenger-color"
                  @click.stop="openMessenger"
                  :href="
                    stored.messengerUser
                      ? baseMesenger +
                        stored.messengerUser.substring(1, stored.messengerUser.length)
                      : '#'
                  "
                  target="_blank"
                >
                  <i class="fab fa-facebook-messenger"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-2 pt-1 text-center">
              <small>Prueba tus redes de contacto antes de guardar</small>
              <p class="semi-bold fsize12">
                <small
                  ><strong
                    >(Solo se mostrarán las redes de contacto completadas)</strong
                  ></small
                >
              </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <small><strong>5. Logo del emprendimiento</strong></small>
              <hr class="mt-3 mb-2" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-2 text-right semi-bold fsize12">
                <small><strong>El peso máximo de la imágen es 1 MB (*)</strong></small>
              </p>
              <v-file-input
                accept="image/*"
                :rules="imageRules"
                @change="updateLogo"
                v-model="logoImage"
                :clearable="true"
                prepend-inner-icon="add_photo_alternate"
                prepend-icon=""
                outlined
                :show-size="1000"
                chips
                placeholder="Click para agregar o cambiar el logo"
              >
              </v-file-input>
              <div class="col-lg-4 col-md-6 col-sm-12 p-0 mx-auto">
                <v-img
                  v-if="prevLogo"
                  min-height="55px"
                  width="auto"
                  :src="prevLogo ? prevLogo : ''"
                  alt=""
                ></v-img>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <small
                ><strong
                  >6. Imágenes para la portada del emprendimiento (no son imágenes de sus
                  productos)</strong
                ></small
              >
              <hr class="mt-3 mb-2" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
              <p class="mb-2 text-right semi-bold fsize12">
                <small><strong>El peso máximo por imágen es 1 MB (*)</strong></small>
              </p>
              <v-file-input
                class="mb-2"
                accept="image/*"
                @change="updateImages"
                :rules="imagesRules"
                v-model="coverImages"
                :clearable="true"
                prepend-inner-icon="add_photo_alternate"
                prepend-icon=""
                outlined
                chips
                :show-size="1000"
                multiple
                placeholder="Click para agregar imágenes al reel"
              >
              </v-file-input>
              <!-- Older Images -->
              <div v-if="stored.images && stored.images.length > 0" class="row">
                <div
                  v-for="(img, idx) in stored.images"
                  :key="img._id"
                  class="col-lg-4 col-md-4 col-sm-6 pt-0 pb-2 d-flex align-items-center"
                >
                  <v-img
                    class="grey"
                    width="100%"
                    min-height="130px"
                    height="130px"
                    max-height="200px"
                    :src="img ? `${baseURL}/file/${img.filename}` : ''"
                  >
                    <div class="mp-image-prev-actions pl-1">
                      <v-btn
                        @click="removeItemFromArrayImages(idx)"
                        dark
                        color="red"
                        fab
                        style="width: 20px !important; height: 20px !important"
                      >
                        <v-icon small>close</v-icon>
                      </v-btn>
                    </div>
                  </v-img>
                </div>
              </div>
              <div v-if="coverImages" class="row">
                <div
                  v-for="(item, idx) in prevCoverImages"
                  :key="idx + 5175"
                  class="col-lg-4 col-md-4 col-sm-6"
                >
                  <v-img
                    class="grey"
                    width="100%"
                    min-height="130px"
                    height="130px"
                    max-height="200px"
                    :src="item ? item : ''"
                  >
                    <div class="mp-image-prev-actions pl-1">
                      <v-btn
                        @click="removeItemFromPrevImages(idx)"
                        dark
                        color="red"
                        fab
                        style="width: 20px !important; height: 20px !important"
                      >
                        <v-icon small>close</v-icon>
                      </v-btn>
                    </div>
                  </v-img>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-2">
              <small class="semi-bold">(*) Campos obligatorios</small>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pt-2 pb-0">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  :loading="loading"
                  :disabled="loading"
                  @click="addRequest"
                  text
                  >Solicitar cambio</v-btn
                >
              </v-card-actions>
            </div>
          </div>
        </v-form>
      </div>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import matchURI from "@/libs/matchURI";
import Swal from "sweetalert2";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import { mapState } from "vuex";

export default {
  middleware: "user",
  components: {
    LoaderPage,
  },
  data() {
    return {
      documentType: [
        "DNI",
        "C.E."
      ],
      sex: [
        "Mujer",
        "Hombre",
        "No opina",
      ],
      loading: false,
      formStore: true,
      colorFields: "#fff",
      defaultStored: null,
      stored: {
        _id: "",
        businessName: "",
        firstName: "",
        lastName: "",
        dni: "",
        sex: "",
        ruc: "",
        rna: "",
        phone: "",
        documentType: "DNI",
        department: "",
        province: "",
        district: "",
        email: "",
        storeReview: "",
        address: "",
        paymentMethods: [],
        hasDelivery: false,
        //contact
        whatsappNumber: "",
        messengerUser: "",
        contactPhone: "",
        //social media
        facebook: "",
        twitter: "",
        instagram: "",
        linkedin: "",
        youtube: "",
        web: "",
        //images
        images: null,
        //logo
        logo: null,
        //secundarios
        emporiums: [],
      },
      coverImages: null,
      prevCoverImages: [],
      logoImage: null,
      prevLogo: null,
      provinces: [],
      districts: [],
      sexRules: [(v) => !!v || "El sexo es requerido"],
      documentRules: [
        (v) => !!v || `El documento es requerido`,
      ],
      documentTypeRules: [(v) => !!v || "El tipo de documento es requerido"],
      rucRules: [(v) => !!v || "El RUC es requerido"],
      nameRules: [(v) => !!v || "El nombre es requerido"],
      lastNameRules: [(v) => !!v || "Los apellidos son requeridos"],
      dniRules: [(v) => !!v || "El dni es requerido"],
      phoneRules: [(v) => !!v || "El teléfono es requerido"],
      departmentRules: [(v) => !!v || "El departamento es requerido"],
      provinceRules: [(v) => !!v || "La provincia es requerida"],
      districtRules: [(v) => !!v || "El distrito es requerido"],
      storeReviewRules: [(v) => !!v || "Agrega un pequeño resumen de tu negocio"],
      addressRules: [(v) => !!v || "La dirección es requerida"],
      urlRules: [(v) => !v || (v && matchURI(v)) || "Enlace inválido"],
      whatsappRules: [
        (v) => !v || (!!v && v.length >= 15) || "Escribe un número correcto",
      ],
      //messengerRules: [ v => !v /* (v) => !v || /^\@.+/.test(v) || "Escribe un usuario de messenger válido" */],
      imageRules: [
        (value) =>
          !value ||
          (value && value.size < 1000000) ||
          "Elija una imagen no mayor a 1 MB!",
      ],
      imagesRules: [
        (files) =>
          !files ||
          !files.some((file) => file.size > 1e6) ||
          "Las imagenes no pueden pasar 1MB!",
        (files) =>
          !files ||
          this.validateImagesLength(files.length) ||
          "La cantidad máxima de imágenes a subir, por emprendimiento, es 2",
      ],
      whatsappMask: "+51 ### ### ###",
      rucMask: "###########",
      dniMask: "#########",
      phoneMask: "#########",
      rnaMask: "########",
      valid: true,
      activeLoader: false,
      messageResponse: {
        message: "",
        status: "success",
      },

      /* socialNewtWorks: [
                {

                }
            ] */
      baseMesenger: "https://www.messenger.com/t/",
      baseWhatsapp: "https://api.whatsapp.com/send?phone=",
      artesaniaWasSelected: false,
    };
  },
  computed: {
    ...mapState({
      departments: (state) => state.baseData.departments,
      paymentMethods: (state) => state.baseData.paymentMethods,
      baseURL: (state) => state.baseData.baseURL,
      conglomerates: (state) => state.baseData.conglomerates,
      businessSKU: (state) =>
        state.auth.user && state.auth.user.store
          ? state.auth.user.store.sku
          : "emprendimiento-sin-sku",
    }),
    checkEquals() {
      //stored != defaultStored
      if (!this.defaultStored) return true;
      if (this.stored.businessName != this.defaultStored.businessName) return true;
      if (this.stored.firstName != this.defaultStored.firstName) return true;
      if (this.stored.lastName != this.defaultStored.lastName) return true;
      if (this.stored.dni != this.defaultStored.dni) return true;
      if (this.stored.ruc != this.defaultStored.ruc) return true;
      if (this.stored.rna != this.defaultStored.rna) return true;
      if (this.stored.phone != this.defaultStored.phone) return true;
      if (this.stored.department != this.defaultStored.department) return true;
      if (this.stored.province != this.defaultStored.province) return true;
      if (this.stored.district != this.defaultStored.district) return true;
      if (this.stored.storeReview != this.defaultStored.storeReview) return true;
      if (this.stored.hasDelivery != this.defaultStored.hasDelivery) return true;
      if (this.stored.paymentMethods != this.defaultStored.paymentMethods) return true;
      if (this.stored.address != this.defaultStored.address) return true;
      if (this.stored.whatsappNumber != this.defaultStored.whatsappNumber) return true;
      if (this.stored.messengerUser != this.defaultStored.messengerUser) return true;
      if (this.stored.contactPhone != this.defaultStored.contactPhone) return true;
      if (this.stored.facebook != this.defaultStored.facebook) return true;
      if (this.stored.twitter != this.defaultStored.twitter) return true;
      if (this.stored.instagram != this.defaultStored.instagram) return true;
      if (this.stored.linkedin != this.defaultStored.linkedin) return true;
      if (this.stored.youtube != this.defaultStored.youtube) return true;
      if (this.stored.images != this.defaultStored.images) return true;
      if (this.stored.logo != this.defaultStored.logo) return true;
      if (this.stored.documentType != this.defaultStored.documentType) return true;
      if (this.stored.sex != this.defaultStored.sex) return true;
      return false;
    },
  },
  async mounted() {
    try {
      this.activeLoader = true;
      if (this.$store.state.baseData.departments.length === 0) {
        await this.$store.dispatch("baseData/getDepartments");
      }
      console.log(this.$store.state.auth.user)
      await this.prepareStoreData(
        this.$store.state.auth.user.person,
        this.$store.state.auth.user.store
      );
      this.$ga.event({
        eventCategory: `Emprendimiento`,
        eventAction: "ver",
        eventLabel: "Vista 'Mi Emprendimiento' " + this.businessSKU,
        eventValue: 1,
      });
      this.activeLoader = false;
      //
      this.getDataAfterChanges();
    } catch (err) {
      this.activeLoader = false;
    }
  },
  methods: {
    async prepareStoreData(datos, store) {
      try {
        const data = {
          ...datos,
          store: {
            ...store,
          },
        };
        //si es de categoría artesania lo hace true a 'artesaniaWasSelected'
        let re = /artesan[i,í]a/i;
        this.artesaniaWasSelected = data.store.category.find((c) => {
          return re.test(c.name);
        });

        this.stored.dni = data.dni;
        this.stored.email = data.email;
        this.stored.firstName = data.firstName;
        this.stored.lastName = data.lastName;
        this.stored.sex = data.sex;
        this.stored.documentType = data.documentType;
        this.stored.ruc = data.store.ruc || "";
        this.stored.rna = data.store.rna;
        this.stored.paymentMethods = data.store.paymentMethods;
        this.stored.hasDelivery = data.store.hasDelivery == "true";
        this.stored.businessName = data.store.businessName || "";
        this.stored.phone = data.store.phone || "";
        this.stored.department = data.store.department._id || "";
        if (this.stored.department) {
          await this.getProvinces();
        }
        this.stored.province = data.store.province._id || "";
        if (this.stored.province) {
          await this.getDistricts();
        }
        this.stored.district = data.store.district._id || "";

        this.stored.storeReview = data.store.storeReview || "";
        this.stored.address = data.store.address || "";
        //contact
        this.stored.whatsappNumber = data.store.contact
          ? data.store.contact.whatsappNumber
          : "";
        this.stored.messengerUser = data.store.contact
          ? data.store.contact.messengerUser
          : "";
        this.stored.contactPhone = data.store.contact
          ? data.store.contact.contactPhone
          : "";
        //social media
        this.stored.facebook = data.store.socialMedia
          ? data.store.socialMedia.facebook
          : "";
        this.stored.twitter = data.store.socialMedia
          ? data.store.socialMedia.twitter
          : "";
        this.stored.instagram = data.store.socialMedia
          ? data.store.socialMedia.instagram
          : "";
        this.stored.linkedin = data.store.socialMedia
          ? data.store.socialMedia.linkedin
          : "";
        this.stored.youtube = data.store.socialMedia
          ? data.store.socialMedia.youtube
          : "";
        this.stored.web = data.store.socialMedia ? data.store.socialMedia.web : "";
        this.stored._id = data._id;
        //images
        this.stored.images = [...data.store.images] || [];
        this.stored.logo =
          {
            ...data.store.logo,
          } || null;
        data.store.logo
          ? (this.prevLogo = `${this.baseURL}/file/${data.store.logo.filename}`)
          : (this.prevLogo = null);
        this.defaultStored = {
          ...this.stored,
        };
        this.stored.emporiums = data.store.emporiums ? [...data.store.emporiums] : [];
      } catch (err) {}
    },
    updateImages() {
      this.prevCoverImages = [];
      if (
        this.coverImages != null &&
        this.coverImages != undefined &&
        this.coverImages.length > 0
      ) {
        this.coverImages.forEach((fi, idx) => {
          const reader = new FileReader();
          reader.onload = (ev) => {
            this.prevCoverImages.push(ev.target.result);
          };
          reader.readAsDataURL(fi);
        });
        return;
      }
      this.coverImages = null;
      this.prevCoverImages = [];
    },
    updateLogo() {
      if (this.logoImage != null && this.logoImage != undefined) {
        const reader = new FileReader();
        reader.onload = (ev) => {
          this.prevLogo = ev.target.result;
        };
        reader.readAsDataURL(this.logoImage);
        return;
      }
      this.logoImage = null;
      this.stored.logo
        ? (this.prevLogo = `${this.baseURL}/file/${this.stored.logo.filename}`)
        : (this.prevLogo = null);
    },
    removeItemFromArrayImages(idx) {
      this.stored.images.splice(idx, 1);
    },
    removeItemFromPrevImages(idx) {
      this.prevCoverImages.splice(idx, 1);
      this.coverImages.splice(idx, 1);
    },
    async getProvinces() {
      try {
        this.districts = [];
        this.provinces = [];
        this.stored.district = "";
        this.stored.province = "";
        if (!this.stored.department) return;
        const provinces = await this.$store.dispatch(
          "baseData/getProvincesByDepartmentId",
          this.stored.department
        );
        this.provinces = provinces;
      } catch (err) {
        this.provinces = [];
      }
    },
    async getDistricts() {
      try {
        this.districts = [];
        this.stored.district = "";
        if (!this.stored.province) return;
        const districts = await this.$store.dispatch(
          "baseData/getDistrictsByProvinceId",
          this.stored.province
        );
        this.districts = districts;
      } catch (err) {
        this.districts = [];
      }
    },
    validateForm() {
      return this.$refs.formStore.validate();
    },
    resetValidation() {
      this.$refs.formStore.resetValidation();
    },
    openWhatsApp(ev) {
      ev.preventDefault();
      if (this.stored.whatsappNumber && this.stored.whatsappNumber.length > 0) {
        window.open(this.baseWhatsapp + this.stored.whatsappNumber);
      }
    },
    openMessenger(ev) {
      ev.preventDefault();
      if (this.stored.messengerUser && this.stored.messengerUser.length > 0) {
        const arr = this.stored.messengerUser.split("/");
        const uri = arr[arr.length - 1];
        window.open(this.baseMesenger + uri);
      }
    },
    validateImagesLength(length) {
      let total = 0;
      if (this.stored.images) {
        total += this.stored.images.length;
      }
      if (this.coverImages) {
        total += this.coverImages.length;
      }
      if (total > 2) return false;
      return true;
    },
    scrollToTop() {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    },
    async addRequest() {
      if (!this.validateForm()) return;

      const STORE = this.getDataAfterChanges();

      if (Object.keys(STORE).length <= 2)
        return Swal.fire(
          "",
          "No tiene nuevos cambios para realizar una nueva solicitud!",
          "warning"
        );

      this.loading = true;

      if (!STORE.images || STORE.images.length == 0) {
        delete STORE["images"];
      }

      if (STORE.messengerUser) {
        STORE.messengerUser = this.getMessengerUser(STORE.messengerUser);
      }
      console.log(STORE);

      const FormStore = new FormData();
      FormStore.append(
        "document",
        JSON.stringify({
          ...STORE,
        })
      );
      if (this.logoImage) {
        FormStore.append("logo", this.logoImage);
      }
      if (this.coverImages && this.coverImages.length > 0) {
        for (let file of this.coverImages) {
          FormStore.append("image", file);
        }
      }

      try {
        const res = await this.$axios.post("/api/requests/stores/update", FormStore);
        console.log(res);
        if (res.status != 200) {
          this.loading = false;
          this.messageResponse.message = `${
            res.data && res.data.message
              ? res.data.message
              : "Tu solicitud no pudo ser registrada, intentalo más tarde"
          }`;
          this.messageResponse.status = "danger";
          this.scrollToTop();
          return;
        }
        this.loading = false;
        this.messageResponse.message = `${res.data.message}`;
        this.messageResponse.status = "success";
        this.scrollToTop();
        this.$ga.event({
          eventCategory: `Emprendimiento`,
          eventAction: "editar",
          eventLabel: "Emprendimiento " + this.businessSKU,
          eventValue: 1,
        });
      } catch (err) {
        this.loading = false;
      }
    },
    getMessengerUser(url) {
      if (!url) return "";
      const arr = url.split("/");
      const user = arr[arr.length - 1];
      return user;
    },
    getDataAfterChanges() {
      try {
        const STORE = this.$store.state.auth.user.store;
        const PERSON = this.$store.state.auth.user.person;
        
        const obj = {};
        // base
        obj.businessName = this.stored.businessName;
        obj.firstName = this.stored.firstName;
        obj.lastName = this.stored.lastName;
        obj._id = this.stored._id;
        // verification person
        if (this.stored.documentType != PERSON.documentType) {
          obj.documentType = this.stored.documentType;
        }
        if (this.stored.dni != PERSON.dni) {
          obj.dni = this.stored.dni;
        }
        if (this.stored.email != PERSON.email) {
          obj.email = this.stored.email;
        }
        if (this.stored.sex != PERSON.sex) {
          obj.sex = this.stored.sex;
        }

        // verification store
        if (this.stored.phone != STORE.phone) {
          obj.phone = this.stored.phone;
        }
        if (this.stored.ruc != STORE.ruc) {
          obj.ruc = this.stored.ruc;
        }
        if (this.stored.rna != STORE.rna) {
          obj.rna = this.stored.rna;
        }
        if (this.stored.paymentMethods != STORE.paymentMethods) {
          obj.paymentMethods = this.stored.paymentMethods;
        }
        if (this.stored.hasDelivery != STORE.hasDelivery) {
          obj.hasDelivery = this.stored.hasDelivery;
        }
        if (this.stored.department) {
          STORE.department &&
          STORE.department._id != (this.stored.department._id || this.stored.department)
            ? (obj.department = this.stored.department._id || this.stored.department)
            : null;
        }
        if (this.stored.province) {
          STORE.province &&
          STORE.province._id != (this.stored.province._id || this.stored.province)
            ? (obj.province = this.stored.province._id || this.stored.province)
            : null;
        }
        if (this.stored.district) {
          STORE.district &&
          STORE.district._id != (this.stored.district._id || this.stored.district)
            ? (obj.district = this.stored.district._id || this.stored.district)
            : null;
        }
        if (this.stored.storeReview != STORE.storeReview) {
          obj.storeReview = this.stored.storeReview;
        }
        if (this.stored.address != STORE.address) {
          obj.address = this.stored.address;
        }
        if (
          this.stored.whatsappNumber !=
          (STORE.contact ? STORE.contact.whatsappNumber : "")
        ) {
          obj.whatsappNumber = this.stored.whatsappNumber;
        }
        if (
          this.stored.messengerUser != (STORE.contact ? STORE.contact.messengerUser : "")
        ) {
          obj.messengerUser = this.stored.messengerUser;
        }
        if (
          this.stored.contactPhone != (STORE.contact ? STORE.contact.contactPhone : "")
        ) {
          obj.contactPhone = this.stored.contactPhone;
        }
        if (
          this.stored.facebook != (STORE.socialMedia ? STORE.socialMedia.facebook : "")
        ) {
          obj.facebook = this.stored.facebook;
        }
        if (this.stored.twitter != (STORE.socialMedia ? STORE.socialMedia.twitter : "")) {
          obj.twitter = this.stored.twitter;
        }
        if (
          this.stored.instagram != (STORE.socialMedia ? STORE.socialMedia.instagram : "")
        ) {
          obj.instagram = this.stored.instagram;
        }
        if (
          this.stored.linkedin != (STORE.socialMedia ? STORE.socialMedia.linkedin : "")
        ) {
          obj.linkedin = this.stored.linkedin;
        }
        if (this.stored.youtube != (STORE.socialMedia ? STORE.socialMedia.youtube : "")) {
          obj.youtube = this.stored.youtube;
        }
        if (this.stored.web != (STORE.socialMedia ? STORE.socialMedia.web : "")) {
          obj.web = this.stored.web;
        }
        if (
          this.stored.images &&
          this.stored.images.length != (STORE.images ? STORE.images.length : 0)
        ) {
          obj.images = this.stored.images;
        }
        if (JSON.stringify(this.stored.emporiums) !== JSON.stringify(STORE.emporiums) ) {
          obj.emporiums = this.stored.emporiums;
        }

        console.log(obj);
        return obj;
      } catch (error) {}
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-my-bussiness-page {
  .mp-legend-form {
    color: rgba(0, 0, 0, 0.78);
    font-size: 0.9em;
  }

  .mp-social-network-test {
    a {
      margin: 0 0.25em;
      font-size: 1.5rem;
      color: $color-blue;
    }
  }

  .mp-contact-network {
    a {
      font-size: 2rem;
    }

    a.messenger-color {
      color: rgb(0, 165, 255);
    }

    a.whatsapp-color {
      color: rgb(0, 191, 54);
    }
  }

  .alert {
    font-size: 13px;

    a {
      font-size: 13px;
    }
  }
}
</style>
