<template>
  <div class="mp-products-user">
    <client-only>
      <div class="container pt-0">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 pt-0">
            <div class="mp-container-search-new-product">
              <v-text-field
                append-icon="mdi-magnify"
                @keyup="searchKeyword"
                hide-details
                single-line
                rounded
                background-color="#eee"
                outlined
                v-model="search"
                placeholder="Busca en tus productos"
              >
              </v-text-field>
              <v-btn @click.stop="dialog = true" fab dark color="primary">
                <i class="fas fa-plus"></i>
              </v-btn>
            </div>
          </div>
        </div>
        <v-data-iterator
          v-if="products"
          @update:options="getMoreProducts"
          :page="products.page"
          :server-items-length="products.totalDocs"
          :footer-props="footerOptions"
          :items="products.docs"
          :items-per-page="products.limit"
          :search="search"
        >
          <template v-slot:default="{ items }">
            <div class="row">
              <div
                v-for="item in items"
                :key="item._id"
                class="col-lg-4 col-md-4 col-sm-6"
              >
                <ProductCard
                  :isUser="true"
                  :product="item"
                  :showIcon="true"
                  v-on:openEditProduct="openEditProduct($event)"
                  v-on:productToDelete="productDeleted"
                  v-on:openStatsProduct="openStatsProduct($event)"
                />
              </div>
            </div>
          </template>
        </v-data-iterator>
        <DialogForm
          v-if="dialogStats"
          :dialog="dialogStats"
          :title="`Estadísticas ${productStat ? productStat.title : ''}`"
          v-on:closeDialog="closeDialogStat"
        >
          <template v-slot:form-dialog>
            <CardStat
              v-if="productStat"
              :paramId="productStat._id"
              type="product"
              :title="productStat.title"
            />
          </template>
        </DialogForm>
        <DialogForm
          v-if="dialog"
          :dialog="dialog"
          :title="productEdited ? 'Editar Producto' : 'Nuevo Producto'"
          v-on:closeDialog="closeDialogProduct"
        >
          <template v-slot:form-dialog>
            <ProductForm
              :productEdited="productEdited"
              v-on:productSaved="pushProductSaved($event)"
              v-on:productEdited="spliceProductEdited($event)"
            >
            </ProductForm>
          </template>
        </DialogForm>

        <LoaderPage :active="activeLoader" :zIndex="40" />
      </div>
    </client-only>
  </div>
</template>

<script>
import ProductCard from "@/components/cards/ProductCard";
import DialogForm from "@/components/dialogs/DialogForm";
import ProductForm from "@/components/forms/ProductForm";
import CardStat from "@/components/cards/CardStat";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import Swal from "sweetalert2";
import { mapState } from "vuex";
export default {
  layout: "MarketPlace",
  middleware: "user",
  components: {
    ProductCard,
    DialogForm,
    ProductForm,
    CardStat,
    LoaderPage,
  },
  data() {
    return {
      search: "",
      footerOptions: {
        "items-per-page-options": [6, 9, 12, 30],
      },
      dialog: false,
      productEdited: null,
      products: null,
      limit: 6,
      page: 1,
      timeOutSearch: null,
      skuEnt: null,
      activeLoader: false,
      dialogStats: false,
      productStat: null,
    };
  },
  computed: {
    ...mapState({
      businessSKU: (state) =>
        state.auth.user && state.auth.user.store
          ? state.auth.user.store.sku
          : "emprendimiento-sin-sku",
    }),
  },
  async mounted() {
    try {
      this.skuEnt = this.$store.state.auth.user.store.sku;
      const res = await this.getMoreProducts({ page: 1, itemsPerPage: 6 });
      if (!res) return;
      this.products = res;
      this.$ga.event({
        eventCategory: `Productos`,
        eventAction: "ver",
        eventLabel: "Productos de " + this.businessSKU,
        eventValue: 1,
      });
    } catch (err) {
      this.activeLoader = false;
      this.products = null;
    }
  },
  methods: {
    async searchKeyword() {
      if (this.search && this.search.length >= 1) {
        if (this.timeOutSearch) {
          clearTimeout(this.timeOutSearch);
        }
        this.timeOutSearch = setTimeout(() => {
          if (this.skuEnt) {
            this.getMoreProducts(null);
          }
        }, 1000);
        return;
      }
      clearTimeout(this.timeOutSearch);
      this.timeOutSearch = setTimeout(this.getMoreProducts, 800);
    },
    async getMoreProducts(opt) {
      const url = this.search
        ? `/api/search?search=${this.search}&entrepreneur=${this.skuEnt}&page=${
            opt ? opt.page : this.page
          }&limit=${opt ? opt.itemsPerPage : this.limit}`
        : `/api/products?page=${opt ? opt.page : this.page}&limit=${
            opt ? opt.itemsPerPage : this.limit
          }`;
      if (opt) this.activeLoader = true;
      const res = await this.$axios.get(url);
      this.activeLoader = false;
      if (res.status != 200) return null;
      this.products = res.data;
      return res.data;
    },
    closeDialogProduct() {
      this.productEdited = null;
      this.dialog = false;
    },
    async pushProductSaved(product) {
      this.closeDialogProduct();
      if (this.products.docs && this.products.docs.length < this.products.limit) {
        this.products.docs.push(product);
      }
      /* ;
      await this.getMoreProducts(); */
      this.products.totalDocs = this.products.totalDocs + 1;
    },
    openEditProduct(product) {
      this.productEdited = product;
      this.dialog = true;
    },
    openStatsProduct(product) {
      this.productStat = { ...product };
      this.dialogStats = true;
    },
    closeDialogStat() {
      this.dialogStats = false;
      this.productStat = null;
    },
    async spliceProductEdited(product) {
      const idx = this.products.docs.findIndex((p) => p._id === product._id);
      this.products.docs.splice(idx, 1, product);
      this.closeDialogProduct();
      //await this.getMoreProducts();
    },
    async productDeleted(product) {
      const res = await this.$axios.delete(`/api/products/${product._id}`);
      if (res.status != 200)
        return Swal.fire("", "El producto no ha podido ser eliminado", "error");
      const idx = this.products.docs.findIndex((p) => p._id == product._id);
      this.products.docs.splice(idx, 1);
      this.products.totalDocs = this.products.totalDocs - 1;
      Swal.fire("", "Producto Eliminado!", "success");
      this.$ga.event({
        eventCategory: `Productos`,
        eventAction: "eliminar",
        eventLabel: "Productos de " + this.businessSKU,
        eventValue: 1,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-products-user {
  .mp-container-search-new-product {
    display: flex;

    button {
      margin-left: 1.5em;
    }
  }
}

@media screen and (max-width: 400px) {
  .mp-products-user {
    .container {
      padding: 0 !important;
    }
  }
}
</style>
