<template>
  <div class="mp-search-page">
    <div class="mp-filters-top">
      <SearchForm v-on:seachParamsUpdated="findItems" class="no-margin" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="mp-items-filters">
            <h3 class="mp-title-search">{{ $route.query.search ? capitalizeLetter($route.query.search) : "" }}</h3>
            <p class="total-docs">
              <small>{{ totalDocs }} resultados</small>
            </p>
            <p class="mb-1 d-flex align-items-center"><i class="material-icons mr-2">filter_list</i> <small>Filtros</small></p>
            <hr class="mt-1" />
            <div class="d-flex align-items-center my-2">
              <i class="material-icons mr-2">location_on</i>
              <small>{{ $route.query.department ? capitalizeLetter($route.query.department) : "Todos los departamentos" }}</small>
            </div>
            <div class="d-flex align-items-center my-2">
              <i class="material-icons mr-2">format_list_bulleted</i>
              <small>{{ $route.query.category ? capitalizeLetter($route.query.category) : "Todas las categorías" }}</small>
            </div>
            <div class="d-flex align-items-center my-2">
              <i class="material-icons mr-2">format_list_bulleted</i>
              <small>{{ $route.query.subcategory ? capitalizeLetter($route.query.subcategory) : "Todas las subcategorias" }}</small>
            </div>
            <div class="d-flex align-items-center my-2">
              <i class="material-icons mr-2">store</i>
              <small>{{ $route.query.entrepreneur ? capitalizeLetter($route.query.entrepreneur) : "Todos los emprendimientos" }}</small>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
          <v-data-iterator :footer-props="footerOptions" :server-items-length="totalDocs" :page="page" :items-per-page="limit" :items="docs" @update:page="findMoreItems">
            <template v-slot:default="props">
              <div v-if="docs && docs.length > 0" class="row">
                <div v-for="(item, idx) in props.items" :key="item._id + idx + (idx + 1 + idx)" class="col-lg-4 col-md-4 col-sm-6">
                  <ProductCard :product="item" />
                </div>
              </div>
            </template>
          </v-data-iterator>
        </div>
      </div>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import SearchForm from "@/components/forms/SearchForm";
import ProductCard from "@/components/cards/ProductCard";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import seoSearch from "@/meta-tags/search";
const limit = 9;
export default {
  layout: "MarketPlace",
  components: {
    SearchForm,
    ProductCard,
    LoaderPage,
  },
  head() {
    return seoSearch(this.$route.query);
  },
  async asyncData({ route, $axios, env, params, query, redirect }) {
    try {
      let cad = "";
      const uriParam = Object.keys(query).forEach((k) => {
        if (k.toString().length > 0) {
          if (cad.length === 0) {
            cad += `?${k}=${query[`${k}`]}`;
          } else {
            cad += `&${k}=${query[`${k}`]}`;
          }
        }
      });
      const res = await $axios.get(`/api/search${cad}`);
      if (res.status != 200) {
        return {
          totalDocs: 0,
          page: 1,
          docs: [],
          limit: limit,
          footerOptions: {
            "items-per-page-options": [limit],
          },
        };
      }
      return {
        totalDocs: res.data.totalDocs,
        page: res.data.page,
        docs: res.data.docs,
        limit: res.data.limit,
        footerOptions: {
          "items-per-page-options": [limit],
        },
      };
    } catch (err) {
      redirect("/");
    }
  },
  data() {
    return {
      activeLoader: false,
    };
  },
  mounted() {
    try {
      document.querySelector(".mp-search-section").style.visibility = "hidden";
      this.$ga.page({
        page: `/search`,
        title: `Página de búsqueda`,
        location: window.location.href,
      });
    } catch (err) {}
  },
  beforeDestroy() {
    document.querySelector(".mp-search-section").style.visibility = "visible";
  },
  methods: {
    async findItems(param) {
      const res = await this.$axios.get(`/api/search${param}`);
      if (res.status != 200) {
        return this.$router.push("/");
      }
      this.totalDocs = res.data.totalDocs;
      this.page = res.data.page;
      this.docs = res.data.docs;
      this.limit = res.data.limit;
      return true;
    },
    async findMoreItems(pagine) {
      const params = this.$route.query;
      let cad = "";
      params.search ? (cad += `?search=${params.search}`) : (cad += "");
      params.category ? (cad += `&category=${params.category}`) : (cad += "");
      params.subcategory ? (cad += `&subcategory=${params.subcategory}`) : (cad += "");
      params.department ? (cad += `&department=${params.department}`) : (cad += "");
      params.page ? (cad += `&page=${pagine || params.page}`) : (cad += "");
      params.limit ? (cad += `&limit=${this.limit || params.limit}`) : (cad += "");
      this.$router.push(`/search${cad}`);

      this.activeLoader = true;
      const res = await this.findItems(cad);
      this.activeLoader = false;
      if (!res) return this.$router.push("/");
    },
    capitalizeLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-search-page {
  overflow: hidden;

  .mp-filters-top {
    height: 85px;

    @media screen and (max-width: 680px) {
      & {
        height: auto;
      }
    }

    .mp-card-shadow-search {
    }
  }

  .mp-items-filters {
    .mp-title-search {
      font-size: 1.1rem;
      font-weight: 600;
    }

    .total-docs {
      font-family: "Lato", "sans-serif";
    }

    i {
      color: #000;
      font-size: 1.05rem;
    }
  }
}
</style>
