<template>
  <v-app class="mp-register-page">
    <div class="wrapper-register-page">
      <div class="container">
        <div class="mp-steps-register">
          <div v-for="(step, idx) in steps" :key="idx + 4230" class="mp-step-register">
            <div class="mp-img-step">
              <img draggable="false" :src="step.img" />
            </div>
            <div class="mp-description-step">
              <strong>{{ step.name }}:</strong> {{ step.description }}
            </div>
          </div>
        </div>
        <div class="mp-wrapper-form-register">
          <v-form
            class="mp-form-register"
            ref="storeFormRegister"
            v-on:submit.prevent="registerStore"
            lazy-validation
            v-model="valid"
          >
            <h5 class="mp-form-register-title">
              <strong> Formulario de Solicitud de Inscripción a Mercado de Lima </strong>
            </h5>
            <p>
              <small>
                <strong>Tiene carácter de Decalración Jurada</strong>
              </small>
            </p>
            <div
              v-if="messageResponse.message && messageResponse.message.length > 0"
              :class="`alert alert-${messageResponse.status} mb-2`"
              role="alert"
            >
              {{ messageResponse.message }}
              <br />
              <nuxt-link
                v-if="messageResponse.status === 'success'"
                to="/"
                class="alert-link mr-1"
                >Volver a Mercado de Lima.</nuxt-link
              >
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-text-field
                  id="mp-razon-social-emprendimiento"
                  v-model="store.businessName"
                  outlined
                  background-color="#fff"
                  placeholder="Nombre Comercial/Razón social"
                >
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-text-field
                  id="mp-nombres-emprendimiento"
                  v-model="store.firstName"
                  :rules="nameRules"
                  outlined
                  background-color="#fff"
                  placeholder="Nombres (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-text-field
                  id="mp-apellidos-emprendimiento"
                  v-model="store.lastName"
                  :rules="lastNameRules"
                  outlined
                  background-color="#fff"
                  placeholder="Apellidos (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <div class="row">
                  <div class="col-lg-4 col-md-5 col-sm-4 py-0">
                    <v-select
                      id="mp-tipo-documento-emprendimiento"
                      :items="documentType"
                      v-model="store.documentType"
                      :rules="documentTypeRules"
                      background-color="#fff"   
                      outlined
                    ></v-select>
                  </div>
                  <div class="col-lg-8 col-md-7 col-sm-8 py-0">
                    <v-text-field
                      id="mp-document-emprendimiento"
                      v-model="store.dni"
                      :rules="documentRules"
                      outlined
                      v-mask="dniMask"
                      background-color="#fff"
                      :placeholder="`${store.documentType} (*)`"
                    >
                    </v-text-field>
                  </div>
                </div>    
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-select
                  id="mp-sex-emprendimiento"
                  :items="sex"
                  v-model="store.sex"
                  :rules="sexRules"
                  background-color="#fff"   
                  placeholder="Sexo (*)"
                  outlined
                ></v-select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-text-field
                  id="mp-ruc-emprendimiento"
                  v-model="store.ruc"
                  outlined
                  v-mask="rucMask"
                  :rules="rucRules"
                  background-color="#fff"
                  placeholder="RUC (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-file-input
                  prepend-icon=""
                  v-model="store.rucFile"
                  truncate-length="25"
                  prepend-inner-icon="mdi-paperclip"
                  placeholder="Ficha RUC"
                  outlined
                  accept="image/png, image/jpeg, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                  show-size
                ></v-file-input>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-text-field
                  id="mp-telefono-emprendimiento"
                  v-model="store.phone"
                  :rules="phoneRules"
                  outlined
                  v-mask="phoneMask"
                  background-color="#fff"
                  placeholder="Teléfono (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-autocomplete
                  id="mp-departamento-emprendimiento"
                  @change="getProvinces"
                  v-model="store.department"
                  :rules="departmentRules"
                  :items="departments"
                  item-text="name"
                  item-value="_id"
                  outlined
                  background-color="#fff"
                  placeholder="Departamento (*)"
                >
                </v-autocomplete>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-autocomplete
                  id="mp-provincia-emprendimiento"
                  @change="getDistricts"
                  v-model="store.province"
                  :rules="provinceRules"
                  :items="provinces"
                  item-text="name"
                  item-value="_id"
                  outlined
                  background-color="#fff"
                  placeholder="Provincia (*)"
                  no-data-text="Elige un Departamento"
                >
                </v-autocomplete>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-autocomplete
                  id="mp-distrito-emprendimiento"
                  v-model="store.district"
                  :rules="districtRules"
                  :items="districts"
                  item-text="name"
                  item-value="_id"
                  outlined
                  background-color="#fff"
                  placeholder="Distrito (*)"
                  no-data-text="Elige una Provincia"
                >
                </v-autocomplete>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-text-field
                  id="mp-direccion-emprendimiento"
                  v-model="store.address"
                  :rules="addressRules"
                  outlined
                  background-color="#fff"
                  placeholder="Dirección (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-autocomplete
                  id="mp-categoria-emprendimiento"
                  v-model="store.category"
                  :rules="categoryRules"
                  :items="categories"
                  item-text="name"
                  item-value="_id"
                  multiple
                  outlined
                  background-color="#fff"
                  placeholder="Categoría emprendimiento (*)"
                  return-object
                >
                </v-autocomplete>
              </div>
              <div                   
              v-if="artesaniaWasSelected"
              class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-text-field
                  id="mp-rna-emprendimiento"
                  v-model="store.rna"
                  outlined
                  background-color="#fff"
                  placeholder="RNA"
                  v-mask="rnaMask">
                </v-text-field>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 pb-0">
                <v-select
                  id="mp-how-did-u-hear-emprendimiento"
                  :items="howDidUHear"
                  v-model="store.howDidUHear"
                  :rules="howDidUHearRules"
                  background-color="#fff"   
                  placeholder="¿Como se enteró de Mercado de lima (*)"
                  outlined
                  multiple
                ></v-select>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-textarea
                  id="mp-resumen-emprendimiento"
                  outlined
                  background-color="#fff"
                  rows="3"
                  auto-grow
                  v-model="store.productsResume"
                  :rules="productsResumeRules"
                  placeholder="Resumen de tus Productos/Servicios que ofreces (*)"
                >
                </v-textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
                <v-text-field
                  id="mp-social-media-emprendimiento"
                  v-model="store.socialMedia"
                  :rules="urlRules"
                  outlined
                  background-color="#fff"
                  placeholder="Red Social Emprendimiento (Ejemplo: https://www.facebook.com/MuniLima)"
                  hint="Este campo se puede utilizar en la validación de tu emprendimiento!"
                >
                </v-text-field>              
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 pb-0">
                <v-text-field
                  id="mp-correo-emprendimiento"
                  v-model="store.email"
                  :rules="emailRules"
                  outlined
                  background-color="#fff"
                  placeholder="Correo (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 pb-0">
                <v-text-field
                  id="mp-contrasena-emprendimiento"
                  v-model="store.password"
                  :rules="passwordRules"
                  outlined
                  type="password"
                  background-color="#fff"
                  placeholder="Contraseña (*)"
                >
                </v-text-field>
              </div>
            </div>
            <div class="pt-4 pb-3 d-flex justify-content-between align-items-center">
              <span class="mp-legend-form">(*) Campos obligatorios</span>
              <div class="d-flex flex-column align-items-end">
                <div>
                  <v-checkbox
                    v-model="termsAndConditions"
                    label="Acepto los términos y condiciones"
                    color="tertiary"
                    value="red"
                    hide-details
                  ></v-checkbox>
                </div>
                <button type="button" @click="openTermsAndConditions">
                  <small>Ver términos y condiciones</small>
                </button>
              </div>
            </div>

            <v-card-actions
              class="pr-0 pl-0 mp-actions-form-register d-flex align-items-center"
            >
              <div class="mp-form-logo-footer">
                <img draggable="false" :src="logoColor1" alt="logo-mercado-lima" />
              </div>
              <v-spacer></v-spacer>
              <div class="d-flex align-items-center mp-buttons-actions">
                <nuxt-link
                  to="/"
                  class="v-btn v-btn--flat v-btn--text theme--light v-size--default"
                >
                  <i class="fas fa-angle-left mr-2"></i>
                  Volver
                </nuxt-link>
                <v-btn type="submit" color="#1A4A84" text>Registrarme</v-btn>
              </div>
            </v-card-actions>
          </v-form>
        </div>
      </div>
    </div>
    <DialogTerms
      :dialog="dialogTermsAndConditions"
      title="Términos y condiciones Emprendedores"
      v-on:closeDialog="closeDialogTerms"
    >
      <template v-slot:form-dialog>
        <div class="pre-wrapp text-black-opacity p-justify" v-html="entpTerms"></div>
      </template>
    </DialogTerms>
    <LoaderPage :active="activeLoader" />
  </v-app>
</template>

<script>
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import DialogTerms from "@/components/dialogs/DialogTerms";
import matchURI from "@/libs/matchURI";
import imgStep1 from "@/static/steps/paso1.jpg";
import imgStep2 from "@/static/steps/paso2.jpg";
import imgStep3 from "@/static/steps/paso3.jpg";
import seoRegister from "@/meta-tags/register";
import { mapState } from "vuex";
import Swal from "sweetalert2";

export default {
  middleware: "authenticated",
  components: {
    LoaderPage,
    DialogTerms,
  },
  head() {
    return seoRegister();
  },
  data() {
    return {
      documentType: [
        "DNI",
        "C.E."
      ],
      sex: [
        "Mujer",
        "Hombre",
        "No opina",
      ],
      howDidUHear: [
        "Facebook",
        "Instagram",
        "Prensa escrita",
        "Ferias",
        "Radios",
        "TV",
        "Recomendación de amigo/a",
        "Alianza institucional"
      ],
      
      valid: true,
      activeLoader: false,
      termsAndConditions: false,
      dialogTermsAndConditions: false,
      messageResponse: {
        status: "success",
        message: "",
      },
      rucMask: "###########",
      dniMask: "#########",
      phoneMask: "#########",
      rnaMask: "########",
      store: {
        businessName: "",
        firstName: "",
        lastName: "",
        sex: "",
        dni: "",
        howDidUHear:[],
        documentType: "DNI",
        ruc: "",
        rucFile: undefined,
        phone: "",
        department: "",
        province: "",
        district: "",
        email: "",
        password: "",
        productsResume: "",
        address: "",
        category: [],
        socialMedia: "",
        rna: "",
      },
      provinces: [],
      districts: [],
      sexRules: [(v) => !!v || "El sexo es requerido"],
      nameRules: [(v) => !!v || "El nombre es requerido"],
      lastNameRules: [(v) => !!v || "Los apellidos son requeridos"],
      howDidUHearRules: [(v)=> !!v || "El campo es requerido"],
      documentRules: [
        (v) => !!v || `El documento es requerido`,
      ],
      documentTypeRules: [(v) => !!v || "El tipo de documento es requerido"],
      phoneRules: [(v) => !!v || "El teléfono es requerido"],
      departmentRules: [(v) => !!v || "El departamento es requerido"],
      provinceRules: [(v) => !!v || "La provincia es requerida"],
      districtRules: [(v) => !!v || "El distrito es requerido"],
      productsResumeRules: [(v) => !!v || "Agrega un pequeño resumen de tu negocio"],
      addressRules: [(v) => !!v || "La dirección es requerida"],
      emailRules: [
        (v) => !!v || "El correo es requerido",
        (v) => /.+@.+\..+/.test(v) || "Ingresa un correo válido (ejemplo@correo.com)",
      ],
      rucRules: [
        (v) => !!v || "El RUC es requerido",
      ],
      passwordRules: [
        (v) => !!v || "La contraseña es requerida",
        (v) => v.length >= 6 || "La contraseña debe contener 6 caractéres como mínimo",
        (v) => /[0-9]/.test(v) || "La contraseña debe contener un número (0-9)",
        (v) =>
          /[A-Z]/.test(v) || "La contraseña debe contener un caractér en mayúscula (A-Z)",
      ],
      categoryRules: [
        (v) => !!v || "La categoría es requerida",
        (v) => v.length < 4 || "No puede seleccionar mas de 3 categorías" 
      ],
      urlRules: [(v) => !v || (v && matchURI(v)) || "Enlace inválido"],
      steps: [
        {
          img: imgStep1,
          name: "Paso 1",
          description: "Completa el formulario de registro.",
        },
        {
          img: imgStep2,
          name: "Paso 2",
          description:
            "Espera que te acepten; la respuesta será enviada por correo electrónico.",
        },
        {
          img: imgStep3,
          name: "Paso 3",
          description:
            "Publica tus productos o servicios en nuestra tienda virtual e impulsa tu emprendimiento.",
        },
      ],
    };
  },
  async mounted() {
    try {
      this.$ga.page({
        page: "/auth/registro",
        title: "Pagina de registro",
        location: window.location.href,
      });
      if (this.$store.state.baseData.departments.length === 0) {
        await this.$store.dispatch("baseData/getDepartments");
      }
      if (this.$store.state.baseData.categories.length === 0) {
        await this.$store.dispatch("baseData/getCategories");
      }
    } catch (err) {}
  },
  computed: {
    ...mapState({
      logoColor1: (state) => state.baseData.logoColor,
      departments: (state) => state.baseData.departments,
      categories: (state) => state.baseData.categories,
      entpTerms: (state) => state.baseData.entpTerms,
    }),
    artesaniaWasSelected() {
      let re = /artesan[i,í]a/i;
      return this.store.category.find((c) => {
        return re.test(c.name)
      })
    }
  },
  methods: {
    openTermsAndConditions() {
      this.dialogTermsAndConditions = true;
    },
    closeDialogTerms() {
      this.dialogTermsAndConditions = false;
    },
    // Provinces & Districts
    async getProvinces() {
      try {
        this.districts = [];
        this.provinces = [];
        this.store.district = "";
        this.store.province = "";
        if (!this.store.department) return;
        const provinces = await this.$store.dispatch(
          "baseData/getProvincesByDepartmentId",
          this.store.department
        );

        this.provinces = provinces;
      } catch (err) {
        this.provinces = [];
      }
    },
    async getDistricts() {
      try {
        this.districts = [];
        this.store.district = "";
        if (!this.store.province) return;
        const districts = await this.$store.dispatch(
          "baseData/getDistrictsByProvinceId",
          this.store.province
        );

        this.districts = districts;
      } catch (err) {
        this.districts = [];
      }
    },
    validateForm() {
      return this.$refs.storeFormRegister.validate();
    },
    resetValidation() {
      return this.$refs.storeFormRegister.resetValidation();
    },
    scrollToTop() {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    },
    async registerStore() {
      if (!this.validateForm()) return;
      if (!this.termsAndConditions)
        return Swal.fire(
          "",
          "Debes aceptar los términos y condiciones para continuar",
          "warning"
        );
      try {
        this.activeLoader = true;
        const dataStore = {
          email: this.store.email,
          password: this.store.password,
          firstName: this.store.firstName,
          lastName: this.store.lastName,
          dni: this.store.dni,
          ruc: this.store.ruc,
          rna: this.store.rna || "",
          phone: this.store.phone,
          documentType: this.store.documentType,
          department: {
            _id: this.store.department,
          },
          province: {
            _id: this.store.province,
          },
          district: {
            _id: this.store.district,
          },
          sex: this.store.sex,
          howDidUHear: this.store.howDidUHear,
          businessName: this.store.businessName || "",
          productsResume: this.store.productsResume,
          address: this.store.address,
          category: this.store.category,
          socialMedia: this.store.socialMedia ? this.store.socialMedia : "",
        };

        const FormStore = new FormData();
        FormStore.append(
          "document",
          JSON.stringify(dataStore)
        );
        if (this.store.rucFile) {
          FormStore.append("file", this.store.rucFile);
        }

        const res = await this.$store.dispatch("baseData/registerStore", FormStore);
        if (res.status != 200 && res.status != 201) {
          this.messageResponse.message =
            res.data.message ||
            "Ocurrió un error registrando su emprendimiento, intentelo más tarde";
          this.messageResponse.status = "danger";
          this.activeLoader = false;
          this.scrollToTop();
          return;
        }

        this.activeLoader = false;
        this.messageResponse.status = "success";
        this.messageResponse.message = `Hola ${this.store.firstName.split(" ")[0]}, ${
          res.data.message
        }.`;
        this.resetValidation();
        this.scrollToTop();
        this.$ga.event({
          eventCategory: `Emprendimientos`,
          eventAction: "registrar",
          eventLabel: "Registro de Emprendimientos",
          eventValue: 1,
        });
        this.clearFields();
      } catch (err) {
        this.messageResponse.status = "danger";
        this.activeLoader = false;
      }
    },
    clearFields() {
      this.store.email = "";
      this.store.password = "";
      this.store.firstName = "";
      this.store.lastName = "";
      this.store.dni = "";
      this.store.ruc = "";
      this.store.documentType = "DNI"
      this.store.phone = "";
      this.store.district = "";
      this.store.businessName = "";
      this.store.productsResume = "";
      this.store.address = "";
      this.store.department = "";
      this.store.province = "";
      this.store.category = [];
      this.store.socialMedia = "";
      this.store.rna = "";
      this.store.sex = "";
      this.store.rucFile = undefined;
      this.store.howDidUHear = []
    },
  },
};
</script>

<style lang="scss" scoped>
$bg-white: #fff;

.mp-register-page {
  background: #cde7f4;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $primary-font;

  //padding: 1.5em 0;
  button,
  a {
    outline: none;
    text-decoration: none;
    color: $color-blue;
  }

  .wrapper-register-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .mp-steps-register {
      width: 100%;
      height: 220px;
      background: $bg-white;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      display: flex;

      .mp-step-register {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0.6em 1.5em;
        border-right: 1px solid rgba(0, 0, 0, 0.08);

        .mp-img-step {
          overflow: hidden;
          flex: 3;
          display: flex;
          justify-content: center;

          img {
            border-radius: 50%;
            border: 1px solid rgba(26, 74, 132, 0.25);
            max-height: 100%;
            max-width: 100%;
          }
        }

        .mp-description-step {
          flex: 1;
          padding: 0.8em 0;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.58);

          strong {
            color: #000;
          }
        }
      }
    }

    .mp-wrapper-form-register {
      position: relative;
      background: rgb(243, 242, 242);

      .mp-legend-form {
        color: rgba(0, 0, 0, 0.78);
        font-size: 0.9em;
      }

      .mp-form-register {
        position: relative;
        z-index: 10;
        border-radius: 0 0 4px 4px;
        max-width: 100%;
        padding: 1.5em 1.5em;

        .mp-form-logo-footer {
          max-width: 120px;

          img {
            max-width: 100%;
          }
        }

        .v-input__slot,
        .v-text-field.v-text-field--enclosed .v-text-field__details {
          margin-bottom: 2px !important;
        }

        .mp-form-register-title {
          font-size: 0.95em;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mp-steps-register {
    .mp-step-register {
      .mp-img-step {
        overflow: hidden;
        flex: 1.5 !important;
        display: flex;
        justify-content: center;

        img {
          border-radius: 50%;
          border: 1px solid rgba(26, 74, 132, 0.25);
          max-height: 100%;
          max-width: 100%;
        }
      }

      .mp-description-step {
        flex: 4 !important;
        padding: 0.8em 0;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mp-steps-register {
    flex-flow: column nowrap;
    height: 300px !important;

    .mp-step-register {
      flex-flow: row nowrap !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      .mp-img-step {
        overflow: hidden;
        flex: 1.5 !important;
        display: flex;
        justify-content: flex-start !important;

        p img {
          border-radius: 50%;
          border: 1px solid rgba(26, 74, 132, 0.25);
          max-height: 100%;
          max-width: 100%;
        }
      }

      .mp-description-step {
        flex: 4 !important;
        padding: 0.8em 0;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .mp-steps-register {
    flex-flow: column nowrap;
    height: 300px !important;

    .mp-step-register {
      flex-flow: row nowrap !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      .mp-img-step {
        overflow: hidden;
        flex: 1.5 !important;
        display: flex;
        justify-content: flex-start !important;
        align-items: center;

        p img {
          border-radius: 50%;
          border: 1px solid rgba(26, 74, 132, 0.25);
          max-height: 80% !important;
          max-width: auto !important;
        }
      }

      .mp-description-step {
        flex: 4 !important;
        padding: 0.8em !important;
        font-size: 12px !important;
      }
    }

    .mp-form-logo-footer img {
      display: none !important;
    }

    .v-btn.v-btn--flat.v-btn--text.v-size--default {
      font-size: 12px !important;
    }
  }

  .mp-actions-form-register {
    display: flex !important;
    flex-flow: column nowrap !important;

    .mp-buttons-actions {
      margin-top: 18px;
      display: flex;
      justify-content: space-between;

      button,
      a {
        font-size: 13px !important;
      }
    }
  }
}
</style>
