<template>
  <div class="mp-new-password">
    <div class="container mp-container-recovery-password">
      <div class="d-flex">
        <div class="col-lg-5 col-md-8 col-sm-10 mx-auto h-100 my-auto">
          <v-form ref="formNewPassword" class="mp-form-recovery">
            <h4 class="text-center title-recovery">Cambiar contraseña</h4>
            <p class="text-center">
              <small>
                Completa el formulario para actualizar tu contraseña</small
              >
            </p>
            <div
              v-if="
                messageResponse.message && messageResponse.message.length > 0
              "
              :class="`alert alert-${messageResponse.status} mb-3`"
              role="alert"
            >
              {{ messageResponse.message }}
              <br />
              <nuxt-link
                v-if="messageResponse.status === 'success'"
                to="/"
                class="alert-link mr-1"
                >Volver a Mercado de Lima.</nuxt-link
              >
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pb-1">
                <v-text-field
                  id="dni-recovery-password"
                  filled
                  outlined
                  :background-color="color"
                  type="password"
                  placeholder="Nueva contraseña (*)"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-1">
                <v-text-field
                  id="email-recovery-password"
                  filled
                  outlined
                  :background-color="color"
                  type="password"
                  placeholder="Repita la nueva contraseña (*)"
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" class="button-send-recovery btn-block">
                  Enviar
                </button>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex align-items-center justify-content-between">
                  <span>
                    <small> (*) campos obligatorios </small>
                  </span>
                  <img
                    draggable="false"
                    style="max-height: 40px"
                    :src="logoColor1"
                    alt="logo mercado de lima"
                  />
                </div>
              </div>
            </div>
          </v-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import { mapState } from "vuex";
export default {
  middleware: "authenticated",
  data() {
    return {
      user: {
        email: "",
        dni: "",
      },
      color: "#fff",
      messageResponse: {
        message: "Sus datos son inválidos",
        status: "danger",
      },
    };
  },
  computed: {
    ...mapState({
      logoColor1: (state) => state.baseData.logoColor,
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-new-password {
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(205, 231, 244);
  .mp-container-recovery-password {
    @media screen and(max-width: 360px) {
      & {
        padding: 0 !important;
      }
    }
    .title-recovery {
      font-family: $primary-font;
      color: $color-blue;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .mp-form-recovery {
      background: rgb(243, 242, 242);
      font-family: $number-font;
      padding: 1.5em;
      .button-send-recovery {
        border: 1px solid $color-blue;
        background: $color-blue;
        color: #fff;
        padding: 0.6em 0;
        border-radius: 3px;
        outline: none;
      }
    }
  }
}
</style>
