// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
//colors
$color-primary: #00a39c;
$color-primary-second: #00e5b0;
$color-primary-transparent: rgba(0, 163, 156, .9);
$color-secondary: #fca700;
$color-secondary-opacity: rgba(252, 167, 0, .65);
$color-blue: #1A4A84;
$color-blue-opacity: rgba(26, 74, 132, .6);
$bg-color: rgb(205, 231, 244);
$color-black: #000;
//breakpoints
$color-font: #000;
$color-font-dark: #fff;
$color-font-dark-2: rgba(255, 255, 255, .895);
$primary-font: 'Raleway',
'Helvetica',
'sans-serif';
$number-font: 'Lato',
'sans-serif';
//
$max-height-section: 750px;
//
$first-breakpoint: 1130px;
$breakpoint-tablet: 800px;
$breakpoint-phone: 500px;
$breakpoint-xsm: 400px;
//
//Base styles
.number-font {
    font-family: $number-font !important;
}

.semi-bold {
    font-weight: 600;
}

.fsize12 {
    font-size: 12px !important;
}

.fsize13 {
    font-size: 13px !important;
}

.bg-blue {
    background: $color-blue !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.mp-title-container {
    padding: 4em 0 2em;
}

.main-app {
    width: 100%;
    padding-top: 130px;
    font-family: $primary-font;
    //background: rgb(205, 231, 244) !important;
    button,
    a {
        text-decoration: none !important;
        outline: none !important;
    }
}

.mp-title-section {
    font-family: $primary-font;
    padding: 2em 0;
    overflow: hidden;
}

.mp-title-section .heading {
    position: relative;
}

.mp-title-section .heading h3 {
    font-family: $primary-font;
    color: $color-blue;
    font-weight: 600;
    position: relative;
    z-index: 5;
}

.v-dialog {
    box-shadow: none !important;
}

.mp-title-section .heading h3::after {
    display: block;
    width: 30%;
    height: 2px;
    content: "";
    margin: auto;
    margin-top: 10px;
    background: $color-secondary;
    z-index: 5;
}

.mp-title-section .heading .backdrop {
    line-height: 1;
    top: -20%;
    position: absolute;
    text-transform: uppercase;
    z-index: -1;
    font-weight: 900 !important;
    font-size: 5rem;
    //color: rgb(205, 231, 244);
    color: #e1e1e1;
    z-index: 1;
}

.mp-title-section .subtitle {
    color: $color-secondary;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    z-index: 5;
}

.mp-title-section .heading .backdrop.text-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.mp-title-page-user {
    color: $color-blue;
    text-transform: capitalize;
    position: relative;
    font-size: .9rem;
    font-weight: bold;
    padding-left: 10px;
}

.mp-title-page-user::before {
    content: " ";
    height: 100%;
    width: 4px;
    background: #1a4a84;
    display: block;
    position: absolute;
    left: 0;
}

.padd-section {
    padding: 2em 0 8em 0;
}

.v-menu__content.theme--light::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.v-menu__content.theme--light::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background: $color-primary;
    border-radius: 4px;
}

.v-menu__content.theme--light::-webkit-scrollbar-thumb:hover {
    background: $color-primary;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.v-menu__content.theme--light::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 0 4px 4px 0;
}

.theme--light.v-input input,
.v-label.theme--light,
.v-list-item__title,
textarea,
.v-file-input__text,
.v-select__selection {
    font-size: 13px !important;
}

.v-btn {
    font-size: .77rem !important;
}


/* .mp-search-section-wrapper */

.v-text-field--outlined fieldset {
    border-collapse: collapse;
    border-color: currentColor;
    border-style: solid;
    border-width: 0 !important;
    border: 1px solid rgba(0, 79, 132, .3) !important;
    /* border: 1px solid $color-blue !important; */
    transition: all ease-in-out .25s;
}


/* .mp-search-section-wrapper */

.v-text-field--outlined.v-input--is-focused fieldset,

/* .mp-search-section-wrapper */

.v-text-field--outlined.v-input--has-state fieldset {
    border: 1px solid currentColor;
}


/* .mp-search-section-wrapper */

.v-text-field--outlined.v-input--is-focused fieldset {
    //display: none !important;
    border: 1px solid $color-blue !important;
}


/* .mp-search-section-wrapper */


/* .v-label.v-label--active {
    visibility: hidden !important;
    opacity: 0 !important;
} */

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* .mp-search-section-wrapper */

.v-text-field--outlined legend {
    /* line-height: 11px;
    padding: 0;
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.5, 1); */
    display: none;
}

.v-input__slot {
    margin-bottom: 5px;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0px !important;
}

.v-messages__message,
input,
textarea {
    font-family: 'Segoe UI', sans-serif !important;
}


/* .v-application--is-ltr .v-text-field--outlined fieldset {
    padding-left: 8px;
    height: 57px;
} */

.mp-shadow-user-view {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 15px;
    box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, 0.2);
}

.icon-letter {
    .v-input__prepend-inner,
    .v-input__append-inner {
        margin-top: 14px !important;
        i {
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .mp-title-container {
        padding: 1.3em 0;
    }
    .mp-title-section {
        font-size: 26px;
        font-weight: 900;
    }
    .main-app {
        padding-top: 65px;
    }
    .padd-section {
        padding: 1em 0 4em 0;
    }
}

@media screen and (max-width: $breakpoint-phone) {
    .main-app {
        padding-top: 60px;
    }
    .mp-title-container {
        padding: 1em 0;
    }
    .mp-title-section {
        font-size: 20px;
        font-weight: 900;
    }
    .padd-section {
        padding: 1em 0 2em 0;
    }
    .mp-title-section .heading .backdrop {
        font-size: 3.8rem;
        top: 10%;
    }
    .mp-title-section {
        padding: 1.8em 0;
    }
}

@media screen and (max-width: $breakpoint-xsm) {
    .mp-title-container {
        padding: .8em 0;
    }
    .mp-title-section {
        font-size: 18;
        font-weight: 900;
    }
    .padd-section {
        padding: .8em 0 1em 0;
    }
    .mp-title-section .heading .backdrop {
        font-size: 3rem;
    }
    .mp-title-section {
        padding: 1em 0;
    }
}

//text
.pre-wrapp {
    font-family: 'Segoe UI', sans-serif !important;
    white-space: pre-wrap;
}

.p-justify {
    text-align: justify;
}

.text-black {
    color: #000;
}

.text-black-opacity {
    color: rgba(0, 0, 0, 0.88);
}

.mp-special-link {
    color: $color-secondary;
    a,
    p,
    span,
    div {
        color: $color-secondary !important;
    }
}

// ZOOM IMAGE
.mp-image-slide:hover .img-zoom-lens {
    display: flex !important;
    visibility: visible;
    opacity: 1;
}

.container-zoom-result.active-zoom {
    visibility: visible;
    opacity: 1;
}

.img-zoom-lens {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 1px solid #d4d4d4 !important;
    /*set the size of the lens:*/
    width: 170px !important;
    height: 170px !important;
    z-index: 10;
    background: hsla(0, 0%, 94%, .4);
    border: 1px solid #dedede;
}

.container-zoom-result {
    transition: visibility opacity ease-in-out .2s;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #d4d4d4;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    /*set the size of the result div:*/
    width: 500px;
    z-index: 10;
    background: rgb(252, 252, 252);
}

.img-zoom-result {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 959px) {
    .img-zoom-lens,
    .container-zoom-result {
        display: none !important;
    }
}

.bg-griss {
    background: #ececec !important;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mp-header-container .mp-top-header * {
    box-sizing: border-box
}

.box-s-bb {
    box-sizing: border-box !important;
}

.no-mb-items * {
    margin-bottom: 0px !important;
}

//error
.v-application .error--text {
    color: #af0000 !important;
    caret-color: #af0000 !important;
}

.v-data-footer__pagination {
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 450px) {
    .v-dialog>.v-card>.v-card__text {
        padding: 0 8px 8px;
    }
    .v-card__text {
        padding: 8px;
    }
}

@media screen and (max-width: 450px) {
    .v-text-field--rounded>.v-input__control>.v-input__slot {
        padding: 0px 10px;
    }
}

.v-input.v-input--checkbox {
    label {
        margin-bottom: 0px !important;
    }
}

//tabs
.mp-tabs-category .v-tab,
.mp-tabs-emporium .v-tab {
    font-size: 15px !important;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .mp-tabs-category .v-tab,
    .mp-tabs-emporium .v-tab {
        font-size: 14px !important;
        font-weight: 500;
    }
}

.v-messages.error--text {
    .v-messages__message {
        color: #af0000 !important;
    }
    color: #af0000 !important;
}