<template>
  <div class="mp-categories-list">
    <div class="mp-categories-items-container">
      <nuxt-link to="/categorias" class="mp-categories-link">
        {{ name }}
        <i class="fas fa-angle-down"></i>
      </nuxt-link>
      <div class="mp-results-menu">
        <div v-for="(item, idx) in items" :key="idx + 400">
          <li v-if="idx < 10" :class="getClassNameIfHasChildren(item.subcategories)">
            <nuxt-link
              class="mp-nav-link mp-nav-link-category"
              :to="`/categorias/${item.sku}`"
            >
              {{ item.name }}
              <i
                v-if="item.subcategories && item.subcategories.length > 1"
                class="fas fa-angle-right"
              ></i>
            </nuxt-link>
            <div
              v-if="item.subcategories && item.subcategories.length > 1"
              class="mp-menu-children-container container"
            >
              <div class="container mp-container-items">
                <h4 class="mp-sub-menu-title">{{ item.name }}</h4>
                <hr />
                <div class="mp-sub-menu-item">
                  <div class="row">
                    <div class="-col-lg-12 col-md-12 col-sm-12">
                      <div class="row">
                        <div
                          v-for="(subItem, idx2) in item.subcategories"
                          :key="idx2 + 450"
                          class="col-lg-3 col-md-3 col-sm-6"
                        >
                          <nuxt-link
                            class="mp-nav-link"
                            :to="`/categorias/${item.sku}/${subItem.sku}`"
                          >
                            <i class="fas fa-angle-right"></i>
                            {{ subItem.name }}
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="img-category">
                  <img
                    class="img-fluid mx-auto"
                    style="max-width: 200px"
                    v-lazy="
                      item.image ? `${baseURL}/file/${item.image.filename}` : imgMuestra
                    "
                    :alt="item.name"
                  />
                </div>
              </div>
            </div>
          </li>
        </div>
        <div v-if="items && items.length >= 10">
          <li class="mp-result-link-item">
            <nuxt-link class="mp-nav-link mp-nav-link-category" :to="`/categorias`">
              Más categorías
            </nuxt-link>
          </li>
        </div>
      </div>
      <div class="mp-overlay-menu"></div>
    </div>
  </div>
</template>

<script>
import imgCacao from "@/static/bg/cacao.jpg";
import { mapState } from "vuex";
export default {
  props: {
    name: String,
    items: Array,
  },
  data() {
    return {
      imgMuestra: imgCacao,
      intervalLinks: null,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
  beforeDestroy() {
    clearInterval(this.intervalLinks);
  },
  mounted() {
    try {
      this.intervalLinks = setInterval(() => {
        const links = document.querySelectorAll(".mp-nav-link.mp-nav-link-category");
        if (links.length > 0) {
          links.forEach((l) => {
            if (l.nextElementSibling) {
              l.nextElementSibling.addEventListener("mouseenter", (ev) => {
                l.classList.add("active-link");
              });
              l.nextElementSibling.addEventListener("mouseleave", (ev) => {
                l.classList.remove("active-link");
              });
            }
          });
          clearInterval(this.intervalLinks);
        }
      }, 3000);
    } catch (err) {}
  },
  methods: {
    getClassNameIfHasChildren(subcategories) {
      return subcategories && subcategories.length > 0
        ? "mp-result-link-item mp-have-children"
        : "mp-result-link-item";
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-categories-list {
  &:hover {
    .mp-overlay-menu {
      position: fixed;
      left: 0;
      top: 130px;
      z-index: 5;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(15, 49, 90, 0.51);
      transition: all ease-in-out 0.2s;
      z-index: 1;
    }
    .mp-overlay-menu:hover {
      display: none;
    }
  }
  .mp-categories-items-container {
    position: relative;
    max-width: 120px;
    height: 100%;
    display: flex;
    align-items: center;

    .mp-categories-link {
      max-width: 110px;
      color: rgba(255, 255, 255, 0.895);
      padding: 8.4px 1em 15.4px;
      &:hover {
        color: #fff;
      }
    }

    &:hover .mp-results-menu,
    &:focus .mp-results-menu {
      visibility: visible;
      opacity: 1;
      display: flex;
    }

    .mp-results-menu {
      position: absolute;
      left: 0;
      top: calc(100% /* + 3px */);
      width: 230px;
      background: $color-font-dark;
      display: flex;
      flex-flow: column nowrap;
      padding: 0.6em 0;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      z-index: 10;
      transition: opacity visibility ease-in-out 0.1s;
      visibility: hidden;
      opacity: 0;
      display: none;
      min-height: 380px;

      &:hover ~ .mp-overlay-menu {
        position: fixed;
        left: 0;
        top: 130px;
        z-index: 5;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgba(15, 49, 90, 0.51);
        transition: all ease-in-out 0.2s;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        left: 16px;
        top: -10px;
        transform: rotate(180deg);
        border-top: 10px solid $color-font-dark;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      .img-mega-menu {
        border-radius: 5px;
      }

      .mp-result-link-item {
        width: 100%;
        height: 48px;
        list-style: none;
        //position: relative;

        .mp-menu-children-container {
          top: 0;
          left: 100%;
          position: absolute;
          width: calc(1185px - 250px);
          height: 100%;
          background: $color-font-dark;
          transition: all ease-in-out 0.25s;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          visibility: hidden;
          opacity: 0;

          .mp-container-items {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            .img-category {
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 1;
              img {
                border-radius: 5px;
                max-height: 130px;
              }
            }
          }

          .mp-sub-menu-title {
            color: $color-black;
            font-size: 16px;
          }
          .mp-sub-menu-item {
          }

          .mp-nav-link {
            justify-content: flex-start;
            z-index: 10;
            position: relative;

            i {
              margin-right: 7px;
            }
          }
        }

        .mp-menu-children-container:active ~ a.mp-nav-link {
          color: $color-secondary;
        }

        a.mp-nav-link {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5em 1em;
          width: 100%;
          height: 100%;
          color: $color-black;
          transition: all ease-in-out 0.35s;
          font-size: 13px;

          &:hover,
          &:focus,
          &:active {
            color: $color-secondary;
          }
        }

        a.active-link {
          color: $color-secondary;
        }
      }

      .mp-result-link-item.mp-have-children {
        &:hover,
        &:focus,
        &:active {
          .mp-menu-children-container {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1904px) {
  .mp-menu-children-container {
    width: calc(1785px - 250px) !important;
  }
}

@media screen and (max-width: 1263px) {
  .mp-categories-list {
    .mp-menu-children-container {
      width: calc(900px - 250px) !important;
    }
  }
}

@media screen and (max-width: 959px) {
  .mp-categories-list {
    .mp-menu-children-container {
      width: calc(720px - 250px) !important;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .mp-categories-list {
    display: none;
  }
}
</style>
