<template>
  <div class="mp-user-page">
    <div class="container">
      <div v-if="$store.state.auth.loggedIn" class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <!-- User nav -->
          <v-card elevation="0" color="#eee">
            <v-list-item two-line>
              <v-list-item-avatar>
                <img draggable="false" :src="defaultUserImage" />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title style="color: #004f84 !important; font-weight: 500"
                  >{{ $store.state.auth.user.person.firstName }}
                  {{ $store.state.auth.user.person.lastName }}</v-list-item-title
                >
                <v-list-item-subtitle style="font-size: 13px !important">{{
                  getCappitalize($store.state.auth.user.role.name)
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-1 mb-3"></v-divider>
            <v-list color="#eee">
              <v-list-item
                color="primary"
                :to="item.to"
                v-for="item in items"
                :key="item.title"
              >
                <v-list-item-icon>
                  <i :class="`${item.icon} my-auto`" style="font-size: 16px"></i>
                  <!--<v-icon>{{ item.icon }}</v-icon>-->
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <NuxtChild />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import defaultUserImage from "@/static/img/default-user.jpg";
export default {
  layout: "MarketPlace",
  middleware: "user",
  data() {
    return {
      defaultUserImage: defaultUserImage,
      items: [
        /* {
                                    title: 'Home',
                                    icon: 'fas fa-home',
                                    to: '/user/home'
                                }, */
        {
          title: "Mi emprendimiento",
          icon: "far fa-user-circle",
          to: "/user/mi-emprendimiento",
        },
        {
          title: "Mis productos",
          icon: "fas fa-shopping-cart",
          to: "/user/mis-productos",
        },
        {
          title: "Mis solicitudes",
          icon: "fas fa-clipboard-list",
          to: "/user/mis-solicitudes",
        },
        {
          title: "Mis estadísticas",
          icon: "far fa-chart-bar",
          to: "/user/mis-estadisticas",
        },
        {
          title: "Configuración",
          icon: "fas fa-cogs",
          to: "/user/configuraciones",
        },
      ],
    };
  },
  methods: {
    getCappitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-user-page {
  min-height: 60vh;
}
</style>
