<template>
  <div class="mp-auth-menu">
    <client-only>
      <div v-if="$store.state.auth.loggedIn" class="mp-is-auth">
        <div class="mp-user-auth">
          <i class="far fa-user-circle"></i>
          {{ getFirstName($store.state.auth.user.person.firstName) }}
          <i class="fas fa-angle-down ml-1 arrow-bottom"></i>
        </div>
        <div class="mp-is-auth-list">
          <div v-if="$store.state.auth.user" class="mp-details-user">
            <h4 class="mp-names-user">
              Hola {{ getFirstName($store.state.auth.user.person.firstName) }}!
            </h4>
            <span class="mp-email-user">{{ $store.state.auth.user.email }}</span>
          </div>
          <hr />
          <div v-if="$store.state.auth.user">
            <li
              v-for="(item, idx) in $store.state.auth.user.navigation"
              :key="
                idx * +1 * (identifier ? identifier : 1) +
                31150 * (identifier ? identifier : 1)
              "
            >
              <nuxt-link class="mp-is-auth-item" :to="item.to">{{
                item.title
              }}</nuxt-link>
            </li>
          </div>
          <!--Static logout-->
          <hr />
          <li>
            <button class="mp-is-auth-item" @click="logoutUser">Salir</button>
          </li>
        </div>
        <!--<div class="mp-overlay-menu"></div>-->
      </div>
      <nuxt-link v-else to="/auth/login" class="mp-button-access">
        <i class="far fa-user-circle"></i>
        Ingresar
      </nuxt-link>
    </client-only>
  </div>
</template>

<script>
export default {
  props: {
    identifier: Number,
  },
  methods: {
    async logoutUser() {
      try {
        this.$ga.event({
          eventCategory: `Sesiones`,
          eventAction: "cerrar-sesion",
          eventLabel:
            this.$store.state.auth.user.person && this.$store.state.auth.user.person.store
              ? this.$store.state.auth.user.person.store.sku
              : "",
          eventValue: 1,
        });
        await this.$auth.logout();
        localStorage.setItem("iat", false);
      } catch (err) {}
    },
    getFirstName(str) {
      if (!str) return "";
      return str.split(" ")[0] || "";
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-auth-menu {
  max-width: 120px;

  .mp-is-auth {
    padding: 0.6em 1em 0.8em;
    position: relative;
    cursor: pointer;

    .mp-user-auth {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;

      i.arrow-bottom {
        color: rgba(255, 255, 255, 0.78);
      }
    }

    .mp-overlay-menu {
      transition: all ease-in-out 0.25s;
    }

    &:hover .mp-is-auth-list,
    &:active .mp-is-auth-list,
    &:focus .mp-is-auth-list {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    .mp-is-auth-list {
      visibility: hidden;
      opacity: 0;
      display: none;
      position: absolute;
      top: calc(100% /* + 3px */);
      right: 0;
      width: 270px;
      background: #fff;
      border-radius: 0 0 4px 4px;
      transition: all ease-in-out 0.2s;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      z-index: 10;
      padding: 0 0 0.5em;
      //padding: .4em 0;

      .mp-details-user {
        padding: 1.5em 1em 0.5em;
        cursor: default;

        .mp-names-user {
          font-size: 15px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8);
        }

        .mp-email-user {
          max-width: 100%;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.45);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }

      &:hover ~ .mp-overlay-menu {
        position: fixed;
        left: 0;
        top: 130px;
        z-index: 5;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgba(15, 49, 90, 0.51);
        transition: all ease-in-out 0.25s;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        right: 16px;
        top: -10px;
        transform: rotate(180deg);
        border-top: 10px solid $color-font-dark;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      li {
        height: 48px;
        list-style: none;

        .mp-is-auth-item {
          padding: 0 1em;
          outline: none;
          text-decoration: none;
          color: #000;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 13px;
          transition: all ease-in-out 0.2s;
          text-align: left !important;

          &:hover {
            background: $color-primary;
            color: #fff;
          }
        }
      }
    }
  }

  .mp-button-access {
    padding: 0.6em 1em 0.8em 0;
    text-decoration: none;
    color: #fff;
  }
}

.mp-auth-menu.responsive-user {
  width: 100% !important;
  max-width: 250px;

  .mp-is-auth {
    width: 100% !important;
    display: flex;
    justify-content: center;

    .mp-is-auth-list {
      width: 100% !important;
      min-width: 150px;

      /* left: 50%;
                right: 50%;
                transform: translateX(-50%, -50%); */
    }
  }
}

/* @media screen and (max-width: 600px){
} */
</style>
