<template>
  <div class="footer-container">
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-links col-xl-3 col-lg-3 col-md-4 col-sm-12 p-2">
              <nuxt-link to="/">
                <Logo class="mb-3" />
              </nuxt-link>
              <p class="text-muted">
                <small>Siguenos en nuestras redes sociales</small>
              </p>
              <ul class="social_icon pt-0">
                <SocialItems class="mp-footer-icons" />
              </ul>
            </div>

            <div id="contact-footer" class="col-xl-6 col-lg-6 col-md-5 col-sm-12 p-2">
              <h3>Contacto</h3>
              <div class="contacto-footer">
                <div class="direccion">
                  <p class="text-muted">
                    <i class="fas fa-map-marked-alt"></i>
                    {{ address }}
                  </p>
                </div>
                <div class="telefonos">
                  <li class="text-muted">
                    <i class="fas fa-tablet-alt"></i>
                    {{ phone }}
                  </li>
                </div>
                <div class="correos">
                  <li class="text-muted">
                    <i class="far fa-envelope"></i>
                    {{ email }}
                  </li>
                </div>
                <div class="terms-conditions">
                  <li class="text-muted">
                    <button @click="dialogTerms = true" class="button">
                      Términos y condiciones
                    </button>
                  </li>
                </div>
              </div>
            </div>

            <div
              id="menu-footer"
              class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mx-auto p-2"
            >
              <div class="enlaces-footer mp-links-footer">
                <h3 class="pl-1">Enlaces</h3>
                <div class="about-us">
                  <ul>
                    <!-- <li>
                      <nuxt-link :to="`/emporios`">
                        <p>
                          <i class="fas fa-angle-right mr-2"></i>
                          Emporios
                        </p>
                      </nuxt-link>
                    </li> -->
                    <li v-for="(nav, index) in arrayNav" :key="index + 450">
                      <nuxt-link :to="nav.url">
                        <p>
                          <i class="fas fa-angle-right mr-2"></i>
                          {{ nav.title }}
                        </p>
                      </nuxt-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container pb-0 pt-0 mt-0 mb-0">
            <div class="row pb-0 pt-0 mt-0 mb-0">
              <div class="col-md-12 m-2">
                <p class="copy-p">
                  © {{ year }} {{ companyName }}. Todos los derechos reservados.
                </p>
                <p class="mp-author">
                  Elaborado por
                  <a target="_blank" rel="external" href="https://www.emilima.com.pe/"
                    >Emilima</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <DialogTerms
      title="Términos y condiciones"
      :dialog="dialogTerms"
      v-on:closeDialog="dialogTerms = false"
    >
      <template v-slot:form-dialog>
        <div class="pre-wrapp text-black-opacity p-justify" v-html="userTerms"></div>
      </template>
    </DialogTerms>
  </div>
</template>

<script>
import { mapState } from "vuex";
import SocialItems from "../globals/SocialItems";
import DialogTerms from "@/components/dialogs/DialogTerms";
import Logo from "../globals/Logo";
export default {
  components: {
    SocialItems,
    Logo,
    DialogTerms,
  },
  computed: {
    ...mapState({
      companyName: (state) => state.baseData.companyName,
      email: (state) => state.baseData.email,
      address: (state) => state.baseData.address,
      phone: (state) => state.baseData.phone,
      campaigns: (state) => state.baseData.campaigns,
      /*categories: (state) =>
        state.baseData.categories.filter((c) => c.principal === true),*/
      userTerms: (state) => state.baseData.userTerms,
    }),
    arrayNav() {
      /*let arrCat = this.categories.map((c) => {
        return { title: c.name, url: `/categorias/${c.sku}` };
      });*/
      let arrLinks = this.links
      let arrCamp = this.campaigns.map((c) => {
        return {title: c.title, url:`/promociones/${c.sku}/productos`}
      })
      return arrCamp.concat(arrLinks)
    }
  },
  data: () => ({
    year: new Date().getFullYear(),
    dialogTerms: false,
    links: [
      {
        title: "Categorías de productos", 
        url:`/categorias/artesania`,
      },
      {
        title: "Abre tu tienda", 
        url:`/auth/registro`,
      },
      {
        title: "Iniciar sesión", 
        url:`/auth/login`,
      }
      ]
  }),
};
</script>

<style lang="scss">
.footer-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  //z-index: 10;
  overflow: hidden;
  background: $color-primary;
  font-family: $primary-font;
}

.footer {
  padding-top: 2em;
  text-align: center;
}

.footer .titlepage {
  text-align: left;
  padding-bottom: 0px;
}

.footer .titlepage h2 {
  color: #fff;
  margin: inherit;
  border-bottom: #fff solid 1px;
}

.logo1 {
  margin-top: -30px;
}

.footer-links ul {
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.social_icon {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social_icon li {
  display: inline-block;
}

.social_icon li a {
  text-decoration: none;
  background: #0e1424;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  border-radius: 30px;
  margin: 0 3px;
  transition: all ease-in-out 0.3s;
  border: 2px solid #fff;
}

.social_icon li a:hover,
.social_icon li a:hover ~ i {
  background-color: #fff;
  color: #000 !important;
}

.footer h3 {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 20px;
  color: #fff;
  padding-bottom: 15px;
  text-align: left;
}

.enlaces-footer,
.enlaces-footer ul {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.enlaces-footer ul {
  list-style: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: 5px 0;
  margin-bottom: 0;
}

.mp-footer-icons li {
  margin: 0 0.25em !important;
}

.enlaces-footer ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.enlaces-footer ul li a:hover {
  color: #fff;
}

.enlaces-footer ul li a p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.contacto-footer .direccion,
.contacto-footer .telefonos,
.contacto-footer .correos {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 5px 0;
}

.contacto-footer .direccion h6,
.contacto-footer .direccion p,
.contacto-footer .telefonos h6,
.contacto-footer .telefonos ul li,
.contacto-footer .correos h6,
.contacto-footer .correos ul li,
.contacto-footer .terms-conditions li {
  text-align: left;
  padding: 0;
  margin: 0;
  color: #fff;
  padding-right: 10px;
  font-size: 0.93em;
}

.contacto-footer .direccion h6,
.contacto-footer .telefonos h6,
.contacto-footer .correos h6,
.contacto-footer .terms-conditions {
  color: rgba(255, 255, 255, 0.9);
}

.contacto-footer .telefonos li,
.contacto-footer .correos li {
  list-style: none;
  margin-bottom: 0;
  font-size: 0.93em;
  text-align: left;
}

.contacto-footer .terms-conditions {
  display: flex;
  margin-top: 7px;
  width: 100%;
  li {
    list-style: none;
    width: 100%;
    button {
      text-decoration: dashed;
    }
  }
}

.about-us {
  display: flex;
}

.about-us p {
  text-align: left;
  font-size: 0.93em;
}

footer .footer-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

.bottom_form h3 {
  font-weight: 600;
  font-size: 1.3em;
  line-height: 25px;
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
}

.bottom_form .enter {
  border: inherit;
  padding: 0px 19px;
  width: 100%;
  height: 45px;
  background: #fffffff2;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  font-weight: 600;
  float: left;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sub_btn {
  font-size: 0.9em;
  transition: ease-in all 0.5s;
  background-color: #48ca95;
  color: #fff;
  padding: 10px 0px;
  max-width: 147px;
  border-radius: 10px;
  width: 100%;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

.sub_btn:hover {
  background-color: #000;
  transition: ease-in all 0.5s;
  color: #fff;
}

.copyright {
  margin-top: 0;
  /* padding-bottom: 20px; */
}

@media screen and (max-width: 1263px) {
  .copyright {
    margin-top: 20px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 959px) {
  .contacto-footer .direccion h6,
  .contacto-footer .direccion p,
  .contacto-footer .telefonos h6,
  .contacto-footer .telefonos li,
  .contacto-footer .correos h6,
  .contacto-footer .correos li,
  .about-us p,
  .footer h3,
  .contacto-footer .terms-conditions li {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .enlaces-footer ul {
    align-items: center;
  }

  .copyright {
    margin-top: 10px;
    padding-bottom: 0;
  }

  #menu-footer {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #menu-footer,
  #contact-footer {
    margin: 1em 0;
  }

  .footer {
    font-size: 95%;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    font-size: 90%;
  }
}
.copyright .copy-p,
.copyright .mp-author {
  font-size: 0.95em;
  color: #fff;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}
.copyright .copy-p {
  line-height: 22px;
  border-top: #fff solid 1px;
  padding-top: 25px;
}

.copyright .mp-author {
  margin-top: 5px;
  a {
    color: $color-secondary;
    font-weight: 700;
    &:hover {
      color: $color-secondary;
    }
  }
}

.copyright a {
  color: #ffffff;
  text-decoration: none;
}

.copyright a:hover {
  color: #ffffff;
}

.footer .text-muted {
  color: rgba(255, 255, 255, 0.9) !important;
}

.footer .text-muted i {
  color: rgba(255, 255, 255, 1) !important;
  width: 18px;
  margin-right: 5px;
}
</style>
