<template>
  <header class="mp-header bg-primary">
    <v-container class="mp-header-container m-0 pt-0 pb-0 mx-auto">
      <div class="mp-header-separator">
        <div class="mp-top-header box-s-bb">
          <div class="mp-container-logo">
            <nuxt-link class="mp-logo-link mr-2" to="/">
              <Logo :logoProp="logoMuni" altProp="municipalidad de lima" />
            </nuxt-link>
          </div>
          <SearchCardResults />
          <div class="mp-right-content d-flex">
            <div class="mp-overlay-menu"></div>
            <nav class="mp-nav bg-primary">
              <nuxt-link class="mp-logo-link-mobile mx-auto" to="/">
                <img
                  class="my-auto"
                  draggable="false"
                  :src="logo"
                  :alt="`logo mobile ${companyName}`"
                />
              </nuxt-link>
              <div class="mp-container-links-nav mt-4">
                <li
                  class="mp-nav-link mp-user d-flex justify-content-center"
                  v-if="$store.state.auth.loggedIn"
                >
                  <AuthMenu class="responsive-user pt-0" :identifier="5" />
                </li>
                <li v-else class="mp-user d-flex justify-content-center mb-4">
                  <nuxt-link
                    to="/auth/login"
                    class="mp-link-responsive"
                    style="color: #fff; font-size: 13px"
                  >
                    <i class="far fa-user-circle mr-1"></i>
                    <span>INGRESAR</span>
                  </nuxt-link>
                </li>
                <li
                  v-if="!$store.state.auth.loggedIn"
                  class="mp-user d-flex justify-content-center mb-4"
                >
                  <nuxt-link
                    class="mp-link-responsive"
                    :to="`/auth/registro`"
                    style="color: #fff; font-size: 13px"
                  >
                    <span>ABRE TU TIENDA</span>
                  </nuxt-link>
                </li>

                <li class="mp-nav-link">
                  <nuxt-link class="mx-auto mp-link-responsive" :to="`/categorias/`">
                    <span>Categorías</span>
                  </nuxt-link>
                </li>
                <li class="mp-nav-link">
                  <nuxt-link class="mx-auto mp-link-responsive" :to="`/conglomerados/`">
                    <span>Conglomerados</span>
                  </nuxt-link>
                </li>
                <div class="mp-social-items-responsive">
                  <a
                    class="mp-social-responsive"
                    v-for="(item, idx) in socialItems"
                    :key="idx + 859636336532"
                    target="_blank"
                    :href="item.redirectTo"
                  >
                    <i :class="item.icon"></i>
                  </a>
                </div>
              </div>
            </nav>
            <div class="d-flex align-items-center ml-4 box-s-bb pr-2">
              <Logo class="mp-sm-logo mr-3" />
              <SocialItems class="mp-head-social-items" />
              <button v-if="!search" class="mp-button-search" @click="openSearchEngine">
                <i style="color: #fff" class="fas fa-search"></i>
              </button>
              <button v-else class="mp-button-search" @click="closeSearchEngine">
                <i style="color: #fff" class="fas fa-times"></i>
              </button>
              <button @click="openMenu" class="mp-menu-icon-button">
                <img :src="menuIcon" alt="menu-icon" />
              </button>
            </div>
          </div>
        </div>
        <div class="mp-bottom-header">
          <div class="d-flex mp-principal-menu">
            <MegaMenu name="Categorias" :items="categories" />
            <li class="mp-link-nav mp-dropdown">
              <nuxt-link :to="`/conglomerados`">
                Conglomerados
                <i class="fas fa-angle-down ml-1"></i>
              </nuxt-link>
              <div class="mp-dropdown">
                <li
                  class="mp-dropdown-item"
                  v-for="(item, idx) in conglomerates"
                  :key="item._id + idx"
                >
                  <nuxt-link class="mp-nav-link" :to="`/conglomerados/${item.sku}`">
                    {{ item.name }}
                  </nuxt-link>
                </li>
              </div>
              <div class="mp-overlay-menu"></div>
            </li>
          </div>
          <div class="mp-rest-categories">
            <li v-for="(cat, idx) in mostCategories" :key="idx + 380">
              <nuxt-link :to="`/categorias/${cat.sku}`">
                {{ cat.name }}
              </nuxt-link>
            </li>
          </div>
          <div class="mp-search-col">
            <nuxt-link
              v-if="!$store.state.auth.loggedIn"
              class="mp-register-store"
              :to="`/auth/registro`"
            >
              Abre tu tienda
            </nuxt-link>
            <AuthMenu />
          </div>
        </div>
      </div>
    </v-container>
  </header>
</template>

<script>
import SocialItems from "./SocialItems";
import MegaMenu from "./megamenu/MegaMenu";
import SearchCardResults from "@/components/cards/SearchCardResults";
import AuthMenu from "./AuthMenu";
import Logo from "./Logo";
import { mapState } from "vuex";
export default {
  components: {
    SearchCardResults,
    MegaMenu,
    AuthMenu,
    Logo,
  },
  data() {
    return {
      search: false,
    };
  },
  computed: {
    ...mapState({
      logo: (state) => state.baseData.logo,
      logoMuni: (state) => state.baseData.logoMuni,
      companyName: (state) => state.baseData.companyName,
      menuIcon: (state) => state.baseData.menuIcon,
      logoMobile: (state) => state.baseData.logoMobile,
      navigation: (state) => state.baseData.navigation,
      categories: (state) => state.baseData.categories,
      mostCategories: (state) =>
        state.baseData.categories.filter((c) => c.principal === true),
      homeIcon: (state) => state.baseData.homeIcon,
      socialItems: (state) => state.baseData.socialItems,
      conglomerates: (state) => state.baseData.conglomerates,
    }),
  },
  async beforeCreate() {
    await this.$store.dispatch("baseData/getCategories");
  },
  mounted() {
    document.querySelector(".mp-overlay-menu").addEventListener("click", this.closeMenu);
  },
  methods: {
    closeMenu() {
      document.querySelector(".mp-nav").classList.remove("active");
      document.querySelector(".mp-overlay-menu").classList.remove("active");
    },
    openMenu() {
      document.querySelector(".mp-nav").classList.add("active");
      document.querySelector(".mp-overlay-menu").classList.add("active");
    },
    openSearchModal() {
      this.search = true;
    },
    openSearchEngine() {
      document.querySelector(".mp-search-section").classList.add("search-visible");
      document.querySelector(".mp-header").classList.add("mp-header-searcher-responsive");
      this.search = true;
    },
    closeSearchEngine() {
      document.querySelector(".mp-search-section").classList.remove("search-visible");
      document
        .querySelector(".mp-header")
        .classList.remove("mp-header-searcher-responsive");
      this.search = false;
    },
  },
};
</script>

<style lang="scss">
.mp-header.mp-header-searcher-responsive {
  @media screen and (max-width: 600px) {
  }

  .mp-social-items.mp-head-social-items {
    display: none !important;
  }

  .mp-search-section.search-visible {
    min-width: auto !important;
    width: 100% !important;
    margin-top: 3px;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .mp-logo-link,
  .mp-menu-icon-button {
    margin-top: 3px !important;
  }
  .mp-container-logo {
    min-width: 0px !important;
  }

  @media screen and (max-width: 550px) {
    .mp-logo-link,
    .mp-menu-icon-button {
      display: none !important;
    }
  }
}

.mp-header {
  box-sizing: border-box;
  height: 130px;
  border-bottom: 4px solid $color-secondary;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  .mp-header-container {
    max-height: 100%;
    display: flex;

    .mp-header-separator {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      //margin-bottom: -16px;

      .mp-top-header,
      .mp-bottom-header {
        flex: 1;
        color: $color-font-dark-2;
      }

      .mp-top-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: -4px;
        justify-content: space-between;
        .mp-container-logo {
          min-width: 235px;
          max-width: 235px;
          display: flex;
          justify-content: flex-start;
          a {
            overflow: hidden;
          }
        }
        .mp-sm-logo {
          @media screen and (max-width: 800px) {
            & {
              display: none;
            }
          }
        }
      }

      .mp-bottom-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: $primary-font;
        font-size: 14px;
        margin-top: 0.6em;
        font-weight: 500;
      }

      .mp-bottom-header {
        display: flex;
        justify-content: space-between;
        .mp-categories-list {
          max-width: 165px;
        }
        .mp-search-col,
        .mp-principal-menu {
          max-width: 235px;
        }
        .mp-categories-list,
        .mp-rest-categories,
        .mp-principal-menu,
        .mp-search-col {
          flex: 1;

          a.mp-register-store {
            text-decoration: none;
            color: #fff;
            margin: 0 15px;
          }
        }
      }

      .mp-bottom-header .mp-categories-list .mp-categories-link {
        padding: 0.6em 0 1.1em;
        white-space: nowrap;
        cursor: pointer;
      }

      .mp-bottom-header .mp-rest-categories {
        display: flex;
        justify-content: center;
        max-height: 38px;
        white-space: nowrap;
        //overflow: hidden;
        text-overflow: ellipsis;
        //max-width: 550px;
      }

      .mp-bottom-header .mp-rest-categories li {
        list-style: none;
        padding: 0.6em 1em 0.8em;
      }

      .mp-bottom-header .mp-rest-categories li a {
        color: $color-font-dark-2;
        text-decoration: none;
        transition: all ease-in-out 0.3s;
      }

      .mp-bottom-header .mp-rest-categories li a:hover {
        color: $color-font-dark;
      }

      .mp-bottom-header .mp-search-col {
        flex: 1;
        display: flex;
        min-width: 230px;
        font-size: 14px;
        justify-content: flex-end;
        /* margin-right: .8em; */
      }

      .mp-bottom-header .mp-search-col button.mp-button-access {
        outline: none;

        i {
          font-size: 15px;
        }
      }

      .mp-top-header button.mp-button-search,
      .mp-bottom-header button.mp-button-search {
        outline: none;
        margin-left: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        //padding: .3em .8em;
        font-size: 18px;
        display: flex;
        display: none;
        background: $color-primary-transparent;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out 0.35s;

        @media screen and (max-width: 550px) {
          & {
            margin-left: 10px;
          }
        }

        @media screen and (max-width: 400px) {
          & {
            margin-left: 5px;
          }
        }

        @media screen and (max-width: 800px) {
          & {
            display: block;
          }
        }

        &:hover {
          background: $color-primary-second;
        }
      }
    }

    a.mp-logo-link {
      height: 100%;
      display: flex;
      align-items: center;
      max-width: 162px;

      /* img {
                max-height: 45px;
            } */
    }

    //Nav
    .mp-nav {
      width: 60px;
      margin-left: 15px;
      margin-right: 15px;
      height: 100%;
      transition: all ease-in-out 0.5s;
      display: none;

      .mp-logo-link-mobile {
        display: none;
      }
    }

    //Overlay
    .mp-overlay-menu.active {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(15, 49, 90, 0.51);
      transition: all ease-in-out 0.35s;
      z-index: 1;
    }

    button.mp-menu-icon-button {
      outline: none !important;
      display: none;
      align-items: center;
      margin-left: 12px;

      img {
        max-width: 25px;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .mp-header {
    .mp-header-container {
      .mp-header-separator {
        .mp-search-section {
          min-width: 350px;
        }

        .mp-bottom-header {
          .mp-rest-categories {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .mp-header {
    align-items: center;
    height: 65px;
    padding-bottom: 3px;
    border-bottom: 3px solid $color-secondary;

    .mp-header-container {
      .mp-header-separator {
        margin-bottom: -5px;

        .mp-search-section {
          min-width: 320px;
          display: none;
        }

        .mp-bottom-header {
          display: none;
        }
      }

      a.mp-logo-link {
        max-width: 140px;

        img {
          max-height: 55px;
        }
      }

      button.mp-menu-icon-button {
        display: flex;

        img {
          max-width: 23px;
        }
      }

      //Responsive nav
      .mp-nav {
        position: fixed;
        margin: 0;
        width: 50%;
        right: 0;
        top: 0;
        z-index: 5;
        right: -100%;
        padding: 1em;
        display: block;
        max-height: 100%;
        overflow-y: auto;

        .mp-logo-link-mobile {
          max-width: 100px;
          display: block;
          margin-top: 1em;
          margin-bottom: 2em;

          img {
            max-width: 100%;
          }
        }
      }

      .mp-nav.active {
        right: 0;
      }

      .mp-nav-link {
        list-style: none;
        position: relative;
        display: block;
        height: 50px;

        a.mp-link-responsive {
          font-size: 12px;
          text-decoration: none;
          color: #fff;
          text-align: center;
          position: relative;
          cursor: pointer;
          display: block;
          font-family: Helvetica, sans-serif;
          line-height: 18px;
          font-weight: 400;
          text-transform: uppercase;
          height: 100%;

          img {
            max-height: 22px;
          }

          &::before {
            content: " ";
            height: 1px;
            width: 33px;
            background: #fff;
            display: block;
            position: relative;
            top: 62%;
            margin: 0 auto;
            color: $color-font-dark;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .mp-header {
    height: 60px;

    .mp-header-container {
      .mp-header-separator {
        margin-bottom: 0;

        .mp-head-social-items {
          display: none;
        }

        .mp-top-header button.mp-button-search,
        .mp-bottom-header button.mp-button-search {
          display: flex;
        }
      }

      a.mp-logo-link {
        max-width: 120px;

        img {
          max-height: 55px;
        }
      }

      button.mp-menu-icon-button {
        img {
          max-width: 20px;
        }
      }

      //Responsive nav
      .mp-nav {
        width: 60%;

        .mp-nav-link {
          a.mp-link-responsive {
            &::before {
              top: 70%;
              color: $color-font-dark;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-xsm) {
  .mp-header {
    .mp-header-container {
      button.mp-menu-icon-button {
        img {
          max-width: 20px;
        }
      }

      //Responsive nav
      .mp-nav {
        width: 70%;

        .mp-nav-link {
          a.mp-link-responsive {
            &::before {
              top: 70%;
              color: $color-font-dark;
            }
          }
        }
      }
    }
  }
}

.mp-social-items-responsive {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  a {
    color: #fff;
    margin: 0.2em 0.4em;
    transition: all ease-in-out 0.2s;
    &:hover {
      color: $color-blue;
    }
  }
}

.mp-link-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &:hover {
    color: $color-font-dark;
    .mp-overlay-menu {
      position: fixed;
      left: 0;
      top: 130px;
      z-index: 5;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(15, 49, 90, 0.51);
      transition: all ease-in-out 0.25s;
      z-index: 1;
    }
  }
  .mp-overlay-menu:hover {
    display: none;
  }

  a {
    color: $color-font-dark-2;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    padding: 8.4px 1em 15.4px;
  }
}
.mp-link-nav.mp-dropdown {
  position: relative;
  &:hover .mp-dropdown,
  &:focus .mp-dropdown {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  .mp-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    display: none;
    flex-flow: column nowrap;
    z-index: 10;
    padding: 0.5em 0;
    &:hover ~ .mp-overlay-menu {
      position: fixed;
      left: 0;
      top: 130px;
      z-index: 5;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(15, 49, 90, 0.51);
      transition: all ease-in-out 0.25s;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 16px;
      top: -10px;
      transform: rotate(180deg);
      border-top: 10px solid $color-font-dark;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .mp-dropdown-item {
      width: 100%;
      height: 45px;
      list-style: none;
    }
    a.mp-nav-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em 1em;
      width: 100%;
      height: 100%;
      color: $color-black;
      transition: all ease-in-out 0.35s;
      font-size: 13px;

      &:hover,
      &:focus,
      &:active {
        color: $color-secondary;
      }
    }

    a.active-link {
      color: $color-secondary;
    }
  }
}
.mp-rest-categories a.nuxt-link-active,
.mp-result-link-item.mp-have-children a.nuxt-link-active,
.mp-link-nav a.nuxt-link-active,
.about-us a.nuxt-link-active,
.mp-categories-link.nuxt-link-active {
  color: $color-secondary !important;
}
</style>
