<template>
  <img class="mp-logo-company" draggable="false" :src="logoProp ? logoProp : logo" :alt="`Logo ${altProp ? altProp : companyName}`" />
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    logoProp: String,
    altProp: String,
  },
  computed: {
    ...mapState({
      logo: (state) => state.baseData.logo,
      companyName: (state) => state.baseData.companyName,
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-logo-company {
  max-height: 44px;
}

.mp-logo-company.mp-sm-logo {
  max-height: 36px;
}

@media (max-width: 800px) {
  .mp-logo-company {
    max-height: 40px !important;
  }
}

@media (max-width: 500px) {
  .mp-logo-company {
    max-height: 34px !important;
  }
}
</style>
