<template>
<div id="mp-search-component" class="mp-search-wrapper">
    <button @click="closeSearchModal" class="mp-close-search-wrapper">
        <i class="fas fa-times"></i>
    </button>
    <div class="mp-searcher-container">
        <div class="mp-input-searcher">
            <input @keyup="findKeyword" v-model="keyword" type="text" placeholder="¿Qué estás buscando?">
        </div>
        <div v-if="isInput" class="mp-data-results-search">

            <div v-if="results">
                <div v-if="results.length>0">
                    <div class="mp-items-result">
                        <div v-for="(item, idx) in results" :key="idx" class="mp-item-result">
                            <v-list-item to="/algo" class="mp-item elevation-0">
                                <div class="mp-result-image">
                                    <v-img height="40px" :src="item.img"></v-img>
                                </div>
                                <div class="mp-description-result">
                                    <span>{{item.name}}</span>
                                    <div class="mp-category-result">
                                        <v-chip v-for="(cat, idx2) in item.categories" :key="idx2+100" small color="secondary">
                                            {{cat}}
                                        </v-chip>
                                    </div>
                                </div>
                            </v-list-item>
                        </div>
                    </div>
                    <div class="mp-more-results">
                        <nuxt-link to="/">
                            Más resultados
                        </nuxt-link>
                    </div>
                </div>
                <div v-else class="text-white">Sin resultados</div>
            </div>
            <div v-else class="mp-loader-search text-white">Cargando...</div>
        </div>
    </div>
    <div class="mp-search-social">
        <span>Conecta con nosotros</span>
        <SocialItems />
    </div>
</div>
</template>

<script>
import SocialItems from './SocialItems';
export default {
    components: {
        SocialItems
    },
    data() {
        return {
            results: null,
            isInput: false,
            keyword: '',
            timeOut: null
        }
    },
    mounted() {
        setTimeout(() => {
            document.getElementById('mp-search-component').classList.add('active-search')
        }, 200)
    },
    methods: {
        findKeyword() {
            if (this.keyword.length > 2) {
                this.isInput = true;

                clearTimeout(this.timeOut);
                this.timeOut = setTimeout(() => {

                    this.results = [{
                            name: 'Los Artesanos 1',
                            img: 'https://assets.entrepreneur.com/content/3x2/2000/20180803181139-Artesanias.jpeg?width=700&crop=2:1',
                            categories: ['Artesanía'],
                        },
                        {
                            name: 'Los Artesanos 2',
                            img: 'https://upload.wikimedia.org/wikipedia/commons/4/45/Barro_Pintado_en_Margarita.jpg',
                            categories: ['Artesanía'],
                        },
                        {
                            name: 'Los Artesanos 3',
                            img: 'https://upload.wikimedia.org/wikipedia/commons/5/55/Encaje_de_bolillos.jpg',
                            categories: ['Artesanía'],
                        },
                    ];
                }, 2000)
            } else {
                this.results = []
                clearTimeout(this.timeOut);
            }
        },
        closeSearchModal() {
            document.querySelector('#mp-search-component').classList.remove('active-search');
            clearTimeout(this.timeOut)
            setTimeout(() => {
                this.$emit('closeSearchModal')
                this.keyword = '';
                this.results = []
            }, 450)
        }
    }
}
</script>

<style lang="scss" scoped>
$width-searcher: 300px;
$background-results: rgba(255, 255, 255, 1);
$max-height-results: 255px;

.mp-search-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
    //overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    transition: all ease-in-out .5s;
    //transform: scale(0);
    visibility: hidden;
    opacity: 0;

    .mp-close-search-wrapper {
        position: absolute;
        top: 3%;
        right: 4%;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $color-primary-second;
        color: $color-font;
        outline: none;
    }

    .mp-search-social {
        position: absolute;
        bottom: 3%;
        right: 4%;
        color: rgba(255, 255, 255, .7);
        display: flex;
        align-items: center;

        span {
            font-size: 14px;
            margin-right: 1.5em;
        }
    }

    .mp-searcher-container {
        max-width: $width-searcher;
        padding-bottom: 4em;
        display: flex;
        flex-flow: column nowrap;
        position: relative;

        .mp-data-results-search {
            position: absolute;
            width: 100%;
            top: 75px;
            z-index: 10;

            .mp-more-results {
                width: 100%;
                height: 55px;
                background: $color-primary-transparent;
                border: 1px solid $color-primary-transparent;
                border-radius: 0 0 5px 5px;

                a {
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    text-align: center;
                }
            }

            .mp-items-result {
                border-radius: 5px 5px 0 0;
                max-height: $max-height-results;
                background: $background-results;
                border: 1px solid $color-primary;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #ccc;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb:active {
                    background-color: #999999;
                }

                .mp-item-result {
                    //border-bottom: 1px solid rgba(255, 255, 255, .05);

                    .mp-item {
                        display: flex;
                        padding: .5em 1em;
                        text-decoration: none;

                        .mp-result-image {
                            max-width: 50px;
                            max-height: 40px;
                            border-radius: 5px;
                            overflow: hidden;
                        }

                        .mp-description-result {
                            padding: .3em 1.5em;
                            height: 100%;
                            display: flex;
                            flex-flow: column nowrap;

                            span {
                                font-size: 13px;
                                transition: all ease-in-out .3s;
                            }
                        }

                    }
                }
            }

        }

        .mp-input-searcher {
            border-radius: 50px;
            border: 1px solid $color-primary;
            padding: .25em .3em;
            box-sizing: border-box;

            input {
                background: transparent;
                color: $color-font-dark;
                border: none;
                outline: none;
                font-weight: 500;
                font-size: 15px;
                min-width: $width-searcher;
                height: 60px;
                padding: 0 1em;
            }
        }
    }
}

.mp-search-wrapper.active-search {
    z-index: 100;
    opacity: 1;
    visibility: visible;
}

.mp-search-wrapper .v-chip.v-size--small {
    font-size: 11px !important;
    height: 22px !important;
}

.mp-search-wrapper a.mp-item.v-list-item.v-list-item--link.theme--light {
    transition: all ease-in-out .3s;
}

.mp-search-wrapper a.mp-item.v-list-item.v-list-item--link.theme--light:hover {
    background: rgb(0, 163, 156, .6);

    .mp-description-result span {
        color: #fff !important;
    }
}

@media screen and (max-width: 500px) {
    .mp-search-wrapper {
        .mp-search-social {
            padding: 0 0 0 1em;
        }
    }
}
</style>
