<template>
  <div class="mp-social-items">
    <li v-for="(item, idx) in socialItems" :key="idx">
      <a target="_blank" :href="item.redirectTo">
        <i :class="item.icon"></i>
      </a>
    </li>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      socialItems: (state) => state.baseData.socialItems,
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-social-items {
  display: flex;

  li {
    list-style: none;
    margin: 0.3em;

    a {
      text-decoration: none;
      color: $color-font-dark;
      transition: color ease-in-out 0.3s;
      font-size: 20px;

      &:hover {
        color: $color-primary-second;
      }
    }
  }
}
</style>
