<template>
  <div class="mp-business-social-media">
    <div v-if="socials" class="mp-social-newtworks">
      <li v-if="socials && socials.facebook">
        <a
          @click="addEventClickGA(socials.facebook, 'facebook')"
          rel="external"
          :href="socials && socials.facebook ? socials.facebook : '#'"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li v-if="socials && socials.instagram">
        <a
          @click="addEventClickGA(socials.instagram, 'instagram')"
          rel="external"
          :href="socials && socials.instagram ? socials.instagram : '#'"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li v-if="socials && socials.linkedin">
        <a
          @click="addEventClickGA(socials.linkedin, 'linkedin')"
          rel="external"
          :href="socials && socials.linkedin ? socials.linkedin : '#'"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li v-if="socials && socials.youtube">
        <a
          @click="addEventClickGA(socials.youtube, 'facebook')"
          rel="external"
          :href="socials && socials.youtube ? socials.youtube : '#'"
          target="_blank"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li v-if="socials && socials.twitter">
        <a
          @click="addEventClickGA(socials.twitter, 'twitter')"
          rel="external"
          :href="socials && socials.twitter ? socials.twitter : '#'"
          target="_blank"
        >
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li v-if="socials && socials.web">
        <a
          @click="addEventClickGA(socials.web, 'webPage')"
          rel="external"
          :href="socials && socials.web ? socials.web : '#'"
          target="_blank"
        >
          <i class="fas fa-globe"></i>
        </a>
      </li>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    socials: Object,
    person: Object,
  },
  methods: {
    addEventClickGA(uri, type) {
      try {
        this.$ga.event({
          eventCategory: "Emprendimiento",
          eventAction: "visitar-redes-sociales",
          eventLabel: this.person.store.sku + "-" + type,
          eventValue: 1,
        });
      } catch (err) {}
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-business-social-media {
  .mp-social-newtworks {
    display: flex;
    justify-content: center;

    li {
      width: 40px;
      height: 40px;
      margin: 0 0.2em;
      font-size: 1.3rem;
      list-style: none;

      a {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 100%;
        height: 100%;
        //color: rgb(14, 0, 30);
        transition: all ease-in-out 0.25s;
        border: 1px solid rgba(14, 54, 104, 0.5);
        background: $color-blue;
        color: #fff;

        &:hover {
          background: #004f84;
          //background: rgb(14, 0, 30);
          color: #fff;
        }
      }
    }
  }
}
</style>
