<template>
  <v-dialog
    v-model="dialog"
    persistent
    style="box-sizing: border-box; bo"
    max-width="800px"
  >
    <v-card
      class="p-0 elevation-0"
      elevation="0"
      color="transparent"
      style="box-sizing: border-box"
    >
      <client-only>
        <Slide
          class="slide-anounces small-arrows"
          :reinitiate="true"
          :selectorId="selectorId"
          :noArrows="false"
          :opts="options"
        >
          <template v-slot:btn-close>
            <div class="btn-close">
              <button @click="$store.dispatch('baseData/closeModalAnounces')" type="button">
                <i class="material-icons">close</i>
              </button>
            </div>
          </template>
          <template v-slot:slide-items>
            <div
              v-for="(item, idx) in anounces || []"
              :key="idx + 1120"
              class="swiper-slide anounce-item"
            >
              <img
                @click="openLink(item.url && item.url.length > 0 ? item.url : '#' )"
                class="img-anounce"
                :src="`${baseURL}/file/${item.image.filename}`"
                alt="pop-up"
              />
            </div>
          </template>
        </Slide>
      </client-only>
    </v-card>
  </v-dialog>
</template>

<script>
import Slide from "@/components/slides/Slide";
export default {
  props: {
    dialog: Boolean,
    anounces: Array,
    baseURL: String,
  },
  components: {
    Slide,
  },
  data() {
    return {
      selectorId: "anounces-slide",
      options: {
        lazy: true,
        speed: 400,
        spaceBetween: 0,
        grabCursor: true,
        autoplay: {
          autoplay: true,
          delay: 6000,
          disableOnInteraction: true,
        },
        effect: 'fade',
        fadeEffect: {
          crossFade: true,
        },
        navigation: {
          nextEl: `#anounces-slide .swiper-button-next`,
          prevEl: `#anounces-slide .swiper-button-prev`,
        },
      },
    };
  },
  methods: {
    openLink(link) {
      if (link != "#") {
        window.open(link);
        return;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.slide-anounces {
  display: flex;
  box-sizing: border-box;
  height: 80vh;
  overflow: hidden;
}
.swiper-slide.anounce-item {
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  /* padding: 1em; */
  box-sizing: border-box;
  /* background: #fff; */
  .img-anounce {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
