<template>
<v-dialog :width="width ? width : '1200'" scrollable persistent v-model="dialog">
    <v-card color="#fff" elevation="0">
        <v-toolbar flat dark color="primary">
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="closeDialog">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-toolbar>
        <v-card-text style="max-height: 88vh;">
            <slot name="form-dialog"> </slot>
        </v-card-text>
    </v-card>
</v-dialog>
</template>

<script>
export default {
    props: {
        title: String,
        dialog: Boolean,
        width: String
    },
    data() {
        return {
            //dialog: false,
        }
    },
    methods: {
        closeDialog() {
            this.$emit('closeDialog');
        },
    },
}
</script>

<style lang="scss" scoped>
</style>
