<template>
  <div>
    <v-data-iterator
      v-if="products"
      @update:options="getMoreProducts"
      :page="products.page"
      :server-items-length="products.totalDocs"
      :footer-props="footerOptions"
      :items="products.docs"
      :items-per-page="products.limit"
    >
      <template v-slot:default="props">
        <div class="row">
          <div
            v-for="(item, idx) in props.items"
            :key="item._id + idx"
            class="col-lg-3 col-md-4 col-sm-6"
          >
            <ProductCard :product="item" />
          </div>
        </div>
      </template>
    </v-data-iterator>
    <div v-else>
      <p class="text-center">
        <small>0 resultados encontrados</small>
      </p>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import ProductCard from "@/components/cards/ProductCard";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
const limit = 12;
export default {
  components: {
    ProductCard,
    LoaderPage,
  },
  async asyncData({ route, $axios, store, env, params, query, redirect, error }) {
    try {
      const campaign = await $axios.$get(`api/campaigns/${params.skuPromotion}`);
      if (!campaign) return redirect("/");
     /* const res = await $axios.get(
        `/api/campaigns/${campaign._id}/products?page=${query.page || 1}&limit=${limit || 12}`
      );
      if (res.status != 200) redirect("/");*/
      return {
        campaign: campaign,
        currentPage: params.page || 1,
        limit: limit || 12,
      };
    } catch (error) {
      redirect("/");
    }
  },
  data() {
    return {
      // Loader
      products: null,
      activeLoader: false,
      //Data iterator items
      footerOptions: {
        "items-per-page-options": [12],
      },
      timeOutSearch: null,
      baseIndex: 15465456,
    };
  },
  created(){
    this.products = []
  },
  methods: {
    async getMoreProducts(opt) {
      const url = `/api/campaigns/${this.campaign._id}/products?page=${
            opt ? opt.page : this.currentPage
          }&limit=${opt ? opt.itemsPerPage : this.limit || 12}`;
      if (opt) this.activeLoader = true;
      this.$router.push(
        `/promociones/${this.campaign.sku}/productos?page=${
          opt ? opt.page : this.currentPage
        }`
      );
      const res = await this.$axios.get(url);
      this.activeLoader = false;
      if (res.status != 200) return null;
      if (res.data.totalDocs === 0) {
        this.products = null;
        return null;
      }
      this.products = res.data;
      return res.data;
    }
  },
};
</script>

<style lang="scss" scoped></style>
