<template>
  <div>
    <v-form ref="commentForm" v-model="commentForm" lazy-validation>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <RatingStar v-on:qualificationUpdated="qualificationUpdated($event)" />
        </div>
        <div v-if="!isAuth" class="col-lg-6 col-md-6 col-sm-6 pb-2 pt-1">
          <v-text-field
            :disabled="isAuth"
            v-model="comment.firstName"
            :rules="importantRules"
            outlined
            placeholder="Nombres (*)"
          ></v-text-field>
        </div>
        <div v-if="!isAuth" class="col-lg-6 col-md-6 col-sm-6 pb-2 pt-1">
          <v-text-field
            :disabled="isAuth"
            v-model="comment.lastName"
            :rules="importantRules"
            outlined
            placeholder="Apellidos (*)"
          ></v-text-field>
        </div>
        <div v-if="!isAuth" class="col-lg-12 col-md-12 col-sm-12 pb-2 pt-1">
          <v-text-field
            :disabled="isAuth"
            v-mask="maskDNI"
            v-model="comment.dni"
            :rules="importantRules"
            outlined
            placeholder="DNI (*)"
          ></v-text-field>
        </div>
        <div v-if="!isAuth" class="col-lg-12 col-md-12 col-sm-12 pb-2 pt-1">
          <v-text-field
            :disabled="isAuth"
            v-model="comment.email"
            :rules="emailRules"
            outlined
            placeholder="Correo (*)"
          ></v-text-field>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 pb-2 pt-1">
          <v-textarea
            v-model="comment.commentary"
            :value="comment.commentary"
            no-resize
            auto-grow
            rows="3"
            outlined
            placeholder="Comentario"
          ></v-textarea>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 pb-1 pt-1 pr-1">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              :loading="loading"
              :disabled="loading"
              color="primary"
              text
              @click="sendComment"
              >Enviar</v-btn
            >
          </v-card-actions>
        </div>
      </div>
    </v-form>
  </div>
</template>

<script>
import RatingStar from "@/components/forms/RatingStar";
export default {
  components: {
    RatingStar,
  },
  props: {
    loading: Boolean,
    isAuth: Boolean,
    productId: String,
    businessId: String,
  },
  data() {
    return {
      commentForm: true,
      maskDNI: "########",
      comment: {
        firstName: "",
        lastName: "",
        email: "",
        dni: "",
        store: "",
        product: "",
        commentary: "",
        rating: "",
      },
      importantRules: [(v) => !!v || "Este campo es requerido"],
      emailRules: [
        (v) => !!v || "El correo es requerido",
        (v) => /.+@.+\..+/.test(v) || "Ingresa un correo válido (ejemplo@correo.com)",
      ],
    };
  },
  mounted() {
    if (this.isAuth) {
      const currentUser = {
        ...this.$store.state.auth.user.person,
      };
      this.comment.firstName = currentUser.firstName;
      this.comment.lastName = currentUser.lastName;
      this.comment.email = currentUser.email;
      this.comment.dni = currentUser.dni;
    }
    this.comment.store = {
      _id: this.businessId,
    };
    this.comment.product = {
      _id: this.productId,
    };
  },
  methods: {
    qualificationUpdated(qualf) {
      this.comment.rating = qualf;
    },
    clearFields() {
      this.comment.firstName = "";
      this.comment.lastName = "";
      this.comment.email = "";
      this.comment.dni = "";
      this.comment.store = "";
      this.comment.product = "";
      this.comment.commentary = "";
      this.comment.rating = "";
    },
    validateForm() {
      return this.$refs.commentForm.validate();
    },
    sendComment() {
      if (!this.validateForm() || !this.comment.rating) return;
      this.$emit("commentReady", this.comment);
    },
  },
};
</script>

<style lang="scss" scoped></style>
