<template>
  <div data-app>
    <v-card-text class="pt-4">
      <v-form
        ref="productForm"
        v-model="valid"
        lazy-validation
        class="mp-form-register-product"
      >
        <v-row>
          <v-col cols="12" lg="6" md="6" sm="12" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Nombre del producto (*)</strong></small>
            </p>
            <v-text-field
              :rules="importantRules"
              v-model="product.title"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="Café pasado"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" lg="6" md="6" sm="12" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Imágenes (*) - No pasar de 1MB por imágen</strong></small>
            </p>
            <v-file-input
              @change="updatePreview"
              :rules="imageRules"
              v-model="images"
              background-color="#fff"
              accept="image/*"
              outlined
              small-chips
              prepend-inner-icon="add_photo_alternate"
              prepend-icon=""
              clearable
              multiple
              label="Selecciona imágenes para tu producto"
              required
              show-size
            >
              <template v-slot:selection="{ index, text }">
                <v-chip v-if="index < 2" color="tertiary" dark label small>
                  {{ text }}
                </v-chip>
                <span
                  v-else-if="index === 2"
                  class="overline grey--text text--darken-3 mx-2"
                >
                  +{{ images.length - 2 }} File(s)
                </span>
              </template>
            </v-file-input>
          </v-col>
          <v-col cols="12" lg="3" md="6" sm="12" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Precio (*)</strong></small>
            </p>
            <v-text-field
              :disabled="checkNotInclucePrice"
              :rules="checkNotInclucePrice ? [] : importantRules"
              class="icon-letter"
              prepend-inner-icon="S/"
              v-model="product.startingPrice"
              type="number"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="200"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" lg="3" md="6" sm="12" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Descuento (*)</strong></small>
            </p>
            <v-text-field
              :disabled="checkNotInclucePrice"
              class="icon-letter"
              append-icon="%"
              v-model="product.discount"
              v-mask="descMask"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="20"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" lg="2" md="6" sm="12" class="pb-2 pt-1">
            <!-- :rules="importantRules" -->
            <p class="semi-bold mb-1">
              <small><strong>Stock</strong></small>
            </p>
            <v-text-field
              type="number"
              v-model="product.stock"
              hint="Stock del producto"
              v-mask="stockMask"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="10"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" lg="2" md="4" sm="10" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Métrica</strong></small>
            </p>
            <v-text-field
              v-model="product.metricNumber"
              type="number"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="100"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" lg="2" md="2" sm="2" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Tipo Métrica</strong></small>
            </p>
            <v-select
              v-model="product.metric"
              item-text="name"
              clearable
              item-value="_id"
              :items="metrics"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="kg"
            ></v-select>
          </v-col>

          <v-col cols="12" lg="12" md="12" sm="12" class="pb-2 pt-1 d-flex">
            <div>
              <v-checkbox
                v-model="product.notInclucePrice"
                hide-details
                class="shrink mr-2 mt-0 mb-0 no-mb-items"
                :label="
                  product.notInclucePrice
                    ? 'Desmarcar si desea mostrar un precio en su producto'
                    : 'Marcar si desea que el precio no esté presente en su producto'
                "
              ></v-checkbox>
            </div>
          </v-col>

          <v-col cols="12" lg="6" md="6" sm="12" class="pb-2 pt-2">
            <p class="semi-bold mb-1">
              <small><strong>Categoría (*)</strong></small>
            </p>
            <v-autocomplete
              :rules="importantRules"
              v-model="product.category"
              :items="categories"
              item-text="name"
              item-value="_id"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="Agroindustria"
              required
              return-object
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" lg="6" md="6" sm="12" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Subcategoría</strong></small>
            </p>
            <v-autocomplete
              v-model="product.subcategory"
              :items="subcategories"
              item-text="name"
              item-value="_id"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="Café "
              required
              return-object
            ></v-autocomplete>
          </v-col>

           <v-col  v-if="categoryWasAgropecuario" cols="12" lg="3" md="6" sm="12" class="pb-2 pt-1">
            <!-- :rules="importantRules" -->
            <p class="semi-bold mb-1">
              <small><strong>Registro Sanitario</strong></small>
            </p>
            <v-text-field
              v-model="product.healthRegistration"
              hint="Añada el Registro Sanitario"
              background-color="#fff"
              color="primary"
              outlined
              placeholder="N6018318N NAIDDL"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" lg="12" md="12" sm="12" class="pb-2 pt-1">
            <p class="semi-bold mb-1">
              <small><strong>Descripción (*)</strong></small>
            </p>
            <v-textarea
              v-model="product.productReview"
              :rules="areaRules"
              counter
              :value="product.productReview"
              name="productReview"
              rows="3"
              auto-grow
              no-resize
              background-color="#fff"
              color="primary"
              outlined
              placeholder="Café orgánico y especial que ha logrado superar diversas condiciones hostiles promoviendo la siembra alternativa y el consumo de café peruano.
cafe tostado molido medio 500g de cafe del fundo es un producto delicioso saludable y sostenible que cumple con el reglamento de producción ecológica paara productos orgánicos."
              hint="Se conciso al escribir la descripción"
            >
            </v-textarea>
          </v-col>
          <v-col cols="12" lg="12" md="12" sm="12" class="pb-2 pt-1">
              <p class="semi-bold mb-1">
                <small><strong>Palabras Clave</strong></small>
              </p>
              <v-combobox
                v-model="product.keywords"
                :items="[]"
                placeholder="Ingresa palabras las clave"
                chips
                deletable-chips
                clearable
                outlined
                multiple
                :rules="keywordsRule"
              >
                <template v-slot:selection="{ attrs, item, selected }">
                  <v-chip
                    v-bind="attrs"
                    :input-value="selected"
                    close
                    label
                    color="tertiary"
                    text-color="white"
                    @click:close="remove(item)"
                  >
                    <span>{{ item }}</span>&nbsp;
                    </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="12" lg="12" md="12" sm="12" class="pb-2 pt-1">
              <p class="semi-bold mb-1">
                <small><strong>Campañas disponibles</strong></small>
              </p>
              <v-autocomplete
                v-model="product.campaigns"
                :items="campaigns"
                item-text="title"
                item-value="_id"
                outlined
                background-color="#fff"
                placeholder="Elige alguno"
                return-object
              >
              </v-autocomplete>
            <p class="semi-bold mb-1">
              <small><strong>(*) Campos obligatorios</strong></small>
            </p>
          </v-col>
          <v-col cols="12" lg="12" md="12" sm="12" class="pb-2 pt-1">
            <v-row>
              <!-- Older Images -->
              <v-col
                v-for="(img, idx) in product.images"
                :key="idx + 10120"
                cols="12"
                lg="2"
                md="2"
                sm="4"
                class="pt-0 pb-2 d-flex align-items-center"
              >
                <div class="mp-preview-image">
                  <div class="button-remove-preview pr-1">
                    <v-btn
                      @click="removeItemFromProductImages(idx)"
                      color="red"
                      fab
                      style="width: 20px !important; height: 20px !important"
                    >
                      <v-icon x-small>close</v-icon>
                    </v-btn>
                  </div>
                  <img
                    draggable="false"
                    class="img-fluid mp-old-images"
                    :src="`${baseURL}/file/${img.filename}`"
                    :alt="`img-product-${idx + 1}`"
                  />
                </div>
              </v-col>
              <!-- New Images -->
              <v-col
                v-for="(img, idx) in prevImages"
                :key="idx + 10130"
                cols="12"
                lg="2"
                md="2"
                sm="4"
                class="pt-0 pb-2 d-flex align-items-center"
              >
                <div class="mp-preview-image">
                  <div class="button-remove-preview pr-1">
                    <v-btn
                      @click="removeItemFromPrevImages(idx)"
                      color="red"
                      fab
                      x-small
                      style="width: 20px !important; height: 20px !important"
                    >
                      <v-icon x-small>close</v-icon>
                    </v-btn>
                  </div>
                  <img
                    draggable="false"
                    class="img-fluid mp-new-images"
                    :src="img"
                    :alt="`img-product-${idx + 1}`"
                  />
                </div>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="12" sm="12" class="pb-0">
            <div class="prices-description-product">
              <div>
                Precio:<span>{{ getTotal }}</span>
              </div>
              <div>
                Descuento:<span>{{ getDesc }}</span>
              </div>
              <div>
                Precio Final:<span>{{ getFinalPrice }}</span>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        v-if="productEdited === null"
        color="primary"
        @click="addProduct"
        text
        :loading="loading"
        :disabled="loading"
        >Guardar</v-btn
      >
      <v-btn
        v-else
        color="primary"
        @click="sendProductEdited"
        text
        :loading="loading"
        :disabled="loading"
        >Actualizar</v-btn
      >
    </v-card-actions>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { mapState } from "vuex";
export default {
  props: {
    productEdited: Object,
  },
  data() {
    return {
      priceMask: "###########################################",
      descMask: "##",
      stockMask: "###########################################",
      valid: true,
      lazy: true,
      notInclucePrice: false,
      product: {
        images: [],
        discount: "",
        startingPrice: "",
        notInclucePrice: false,
        //productMetric: {}
      },
      loading: false,
      images: [],
      prevImages: [],
      nameRules: [(v) => !!v || "El nombre del producto es requerido!"],
      areaRules: [
        (v) =>
          !!v || "Escribe una pequeña descripción del producto, tienes 650 caracteres.",
        (v) =>
          (v && v.length <= 650) || "Excediste la cantidad máxima de caracteres (650)",
      ],
      keywordsRule: [(v) => v && v.length <= 8 || "Debes añadir un máximo de 8" ],
      importantRules: [(v) => !!v || "Este campo es requerido!"],
      imageRules: [
        (files) =>
          !files ||
          !files.some((file) => file.size > 1e6) ||
          "Las imagenes no pueden pasar 1MB!",
      ],
      //
    };
  },
  computed: {
    categoryWasAgropecuario() {
      let re = /agropecuari[a,o]/i
      const cat = re.test(this.product.category ? this.product.category.name : "")
      if(cat) {
        let re2 = /Caf[e,é]|Miel|Envasados|Granos|L[a,á]cteos|Cacao/i
        const subca = re2.test(this.product.subcategory ? this.product.subcategory.name : "")
        return subca
      }
    },
    
    getTotal() {
      return this.getPriceFormatter(this.product.startingPrice);
      //return this.getPriceFormatter(this.productEdited.startingPrice);
    },
    getDesc() {
      return this.product.discount && this.product.startingPrice
        ? this.getPriceFormatter(
            this.product.startingPrice * (this.product.discount / 100)
          )
        : "";
      //return this.productEdited.discount && this.productEdited.startingPrice ? this.getPriceFormatter(this.productEdited.startingPrice * (this.productEdited.discount / 100)) : "";
    },
    getFinalPrice() {
      return this.product.discount && this.product.startingPrice
        ? this.getPriceFormatter(
            this.product.startingPrice -
              this.product.startingPrice * (this.product.discount / 100)
          )
        : "";
      //return this.productEdited.discount && this.productEdited.startingPrice ? this.getPriceFormatter(this.productEdited.startingPrice - this.productEdited.startingPrice * (this.productEdited.discount / 100)) : "";
    },
    checkNotInclucePrice() {
      if (
        !this.product.notInclucePrice ||
        this.product.notInclucePrice == null ||
        this.product.notInclucePrice === undefined
      )
        return false;
      this.product.startingPrice = "";
      this.product.discount = "";
      this.$refs.productForm.resetValidation();
      return true;
    },
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
      metrics: (state) => state.baseData.metrics,
      categories: (state) => state.baseData.categories,
      campaigns: (state) => state.baseData.campaignsForEntrepreneurs,
      businessSKU: (state) =>
        state.auth.user && state.auth.user.store
          ? state.auth.user.store.sku
          : "emprendimiento-sin-sku",
      subcategories: function (state) {
        if (!this.product.category) return [];
        const cat = this.categories.find((c) => c._id === this.product.category._id);
        if (!cat) return [];
        const subcategories = [...cat.subcategories];
        subcategories.splice(0, 1);
        return subcategories;
      },
    }),
  },
  mounted() {
    if (this.productEdited) {
      this.product = {
        ...this.productEdited,
      };

      /* this.productEdited.productMetric && this.productEdited.productMetric.value ? this.product.productMetric = {
                ...this.productEdited.productMetric
            } : this.product.productMetric = Object.assign({}); */
      //this.product.metric = this.productEdited && this.productEdited.metric ? this.productEdited.metric : "";
      //this.product.metricNumber = this.productEdited && this.productEdited.metricNumber ? this.productEdited.metricNumber : "";
      this.productEdited.images && this.productEdited.images.length > 0
        ? (this.product.images = [...this.productEdited.images])
        : (this.product.images = []);
      //this.productEdited.discount && this.productEdited.discount > 0 ? (this.product.discount = this.productEdited.discount) : (this.product.discount = "");
    }
  },
  methods: {
    validateForm() {
      return this.$refs.productForm.validate();
    },
    updatePreview() {
      this.prevImages = [];
      if (this.images != null && this.images != undefined && this.images.length > 0) {
        this.images.forEach((fi) => {
          const reader = new FileReader();
          reader.onload = (ev) => {
            this.prevImages.push(ev.target.result);
          };
          reader.readAsDataURL(fi);
        });
        //this.previewImages(this.images);
        return;
      }
      this.images = null;
      this.prevImages = [];
    },
    previewImages(images) {
      images.forEach((fi) => {
        const reader = new FileReader();
        reader.onload = (ev) => {
          this.prevImages.push(ev.target.result);
        };
        reader.readAsDataURL(fi);
      });
      return;
    },
    removeItemFromPrevImages(idx) {
      this.prevImages.splice(idx, 1);
      this.images.splice(idx, 1);
    },
    removeItemFromProductImages(idx) {
      this.product.images.splice(idx, 1);
    },
    getPriceFormatter(price) {
      const Formatter = new Intl.NumberFormat("es-PE", {
        style: "currency",
        currency: "PEN",
      });
      return price ? Formatter.format(price) : "";
    },
    async addProduct() {
      if (!this.validateForm()) return;
      this.loading = true;
      const Product = {
        category: this.product.category._id,
        subcategory: this.product.subcategory ? this.product.subcategory._id : undefined,
        person: this.$store.state.auth.user.person._id,
        //metrics: this.product.metrics,
        metric: this.product.metric,
        metricNumber: this.product.metricNumber,
        productReview: this.product.productReview,
        startingPrice: this.mathRound2(this.product.startingPrice),
        notInclucePrice: this.product.notInclucePrice,
        stock: parseInt(this.product.stock),
        discount: this.product.discount ? parseInt(this.product.discount) : 0,
        title: this.product.title,
        healthRegistration: this.product.healthRegistration,        
        keywords: this.product.keywords,
        campaigns: this.product.campaigns,
        finalPrice:
          this.mathRound2(this.product.startingPrice) -
          this.mathRound2(this.product.startingPrice) *
            ((this.product.discount ? parseInt(this.product.discount) : 0) / 100),
      };

      const FormProduct = new FormData();
      if (this.images && this.images.length > 0) {
        for (let file of this.images) {
          FormProduct.append("image", file);
        }
      }
      FormProduct.append("document", JSON.stringify(Product));
      try {
        const res = await this.$axios.post("api/products", FormProduct);
        this.loading = false;
        if (res.status != 200 && res.status != 201)
          return Swal.fire("Oops!", "Ocurrió un error agregando su producto", "error");
        this.$emit("productSaved", res.data);
        Swal.fire("Bien!", "Su producto se agregó con éxito!", "success");
        this.$ga.event({
          eventCategory: `Productos`,
          eventAction: "agregar",
          eventLabel: "Productos de " + this.businessSKU,
          eventValue: 1,
        });
        return;
      } catch (err) {
        Swal.fire(
          "Oops!",
          "Ocurrió un error agregando su producto, intentelo más tarde",
          "error"
        );
        this.loading = false;
      }
    },
    async sendProductEdited() {
      this.loading = true;
      const Product = {
        _id: this.product._id,
        images: this.product.images,
        category: this.product.category._id,

        subcategory: this.product.subcategory ? this.product.subcategory._id : undefined,
        person: this.$store.state.auth.user.person._id,
        metric: this.product.metric,
        metricNumber: this.product.metricNumber,
        notInclucePrice: this.product.notInclucePrice,
        //metrics: this.product.metrics,
        productReview: this.product.productReview.toString().trim(),
        startingPrice: this.mathRound2(this.product.startingPrice),
        stock: parseInt(this.product.stock),
        discount: this.product.discount ? parseInt(this.product.discount) : 0,
        title: this.product.title,
        healthRegistration: this.product.healthRegistration,
        keywords: this.product.keywords,
        campaigns: this.product.campaigns,
        finalPrice:
          this.mathRound2(this.product.startingPrice) -
          this.mathRound2(this.product.startingPrice) *
            ((this.product.discount ? parseInt(this.product.discount) : 0) / 100),
        visible: true,
      };

      /* if(!Product.metric) {
        delete
      } */
      if (!Product.subcategory) {
        delete Product.subcategory;
      }

      const FormProduct = new FormData();
      if (this.images && this.images.length > 0) {
        for (let file of this.images) {
          FormProduct.append("image", file);
        }
      }
      FormProduct.append("document", JSON.stringify(Product));
      try {
        const res = await this.$axios.put(
          `api/products/${this.product._id}`,
          FormProduct
        );
        this.loading = false;

        if (res.status != 200 && res.status != 204)
          return Swal.fire(
            "Oops!",
            `${
              res.data.message
                ? res.data.message
                : "Ocurrió un error editando su producto"
            }`,
            "error"
          );

        this.$emit("productEdited", res.data);

        Swal.fire("Bien!", "Su producto se editó con éxito!", "success");
        this.$ga.event({
          eventCategory: `Productos`,
          eventAction: "editar",
          eventLabel: "Productos de " + this.businessSKU,
          eventValue: 1,
        });
        return;
      } catch (err) {
        Swal.fire(
          "Oops!",
          "Ocurrió un error editando su producto, intentelo más tarde",
          "error"
        );
        this.loading = false;
      }
    },
    remove (item) {
      this.product.keywords.splice(this.product.keywords.indexOf(item), 1)
      this.product.keywords = [...this.product.keywords]
    },
    mathRound2 (num, decimales = 2) {
      var exponente = Math.pow(10, decimales);
      return (num >= 0 || -1) * Math.round(Math.abs(num) * exponente) / exponente;
    }
  },
};
</script>

<style lang="scss" scoped>
.mp-form-register-product {
  .prices-description-product {
    font-weight: 500;

    span {
      padding-left: 10px;
      font-family: "Segoe UI", sans-serif;
      font-weight: 700;
      color: $color-blue;
    }
  }

  .mp-preview-image {
    position: relative;
    width: 100%;
    height: 100%;

    .button-remove-preview {
      position: absolute;
      top: 0;
      right: 0;

      i {
        color: #fff;
      }
    }

    .mp-old-images {
      border: 2px solid $color-primary;
    }

    .mp-new-images {
      border: 2px solid $color-blue;
    }
  }
}
</style>
