<template>
<div class="mp-rating-star">
    <div class="mp-rating-container">
        <div class="rating-box">
            <div class="rating-container">
                <input type="radio" @change="updateStar" name="rating" value="5" id="star-5"> <label for="star-5">&#9733;</label>

                <input type="radio" @change="updateStar" name="rating" value="4" id="star-4"> <label for="star-4">&#9733;</label>

                <input type="radio" @change="updateStar" name="rating" value="3" id="star-3"> <label for="star-3">&#9733;</label>

                <input type="radio" @change="updateStar" name="rating" value="2" id="star-2"> <label for="star-2">&#9733;</label>

                <input type="radio" @change="updateStar" name="rating" value="1" id="star-1"> <label for="star-1">&#9733;</label>
            </div>
        </div>
        <div class="mp-qualf ml-3">
            <span v-if="qualf || qualf > 0" class="pt-2">{{qualf}}/5</span>
        </div>
    </div>
    <div v-if="qualf || qualf > 0" class="text-center message">{{message}}</div>
    <div v-else class="text-center error-message message">La calificación es un campo importante!</div>
</div>
</template>

<script>
export default {
    data() {
        return {
            qualf: null,
            messages: ["", "Insuficiente", "Aceptable", "Normal", "Bueno", "Excelente"],
            message: ''
        }
    },
    methods: {
        updateStar(ev) {
            const idx = ev.target.value;
            if (!idx) {
                this.qualf = null
                this.message = '';
                return
            }
            this.qualf = idx;
            this.message = this.messages[idx];
            this.$emit('qualificationUpdated', parseInt(idx));
        }
    }
}
</script>

<style lang="scss" scoped>
.mp-rating-star {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Segoe UI', sans-serif;

    .error-message {
        color: #af0000;
    }

    .message {
        font-size: .78rem;
    }

    .mp-rating-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .mp-qualf {
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            font-weight: 700;
        }

        .rating-box {
            display: inline-block;

            .rating-container {
                direction: rtl !important;

                label {
                    display: inline-block;
                    margin: 15px 0;
                    color: #d4d4d4;
                    cursor: pointer;
                    font-size: 50px;
                    transition: color 0.2s;
                }

                input {
                    display: none;
                }

                label:hover,
                label:hover~label,
                input:checked~label {
                    color: gold;
                    color: rgb(252, 167, 0);
                }
            }
        }
    }

}
</style>
