<template>
  <div class="container mp-card-shadow-search">
    <v-form v-on:submit.prevent="findItems" class="mp-form-search">
      <div class="mp-search-input-container">
        <i class="fas fa-search"></i>
        <input
          v-model="keyword"
          type="text"
          required
          placeholder="Producto, servicio o palabra clave"
        />
      </div>
      <div class="mp-filters">
        <div class="mp-filter-container">
          <v-autocomplete
            color="tertiary"
            clearable
            prepend-icon="gps_fixed"
            class="mp-autocomplete-region mb-0 pb-0"
            v-model="selected.department"
            dense
            :items="departments"
            item-text="name"
            hide-details
            item-value="name"
            label="Departamento"
            rounded
            background-color="white"
          >
          </v-autocomplete>
        </div>
        <div class="mp-more-filters-container">
          <v-menu
            left
            min-width="270px"
            max-width="270px"
            :close-on-content-click="closeOnContentClick"
          >
            <template v-slot:activator="{ on, attrs }">
              <button type="button" v-bind="attrs" v-on="on">
                <span class="overflow-ellipsis">Más filtros</span>
                <i class="ml-2 material-icons">arrow_drop_down</i>
              </button>
            </template>
            <v-card width="270">
              <v-card-title class="">
                <h6 class="card-title mb-0">Más filtros</h6>
              </v-card-title>
              <hr class="mt-0" />
              <v-card-text>
                <div class="mp-more-filters-list">
                  <v-list class="pt-1 pb-4">
                    <v-list-item>
                      <v-autocomplete
                        v-model="selected.category"
                        color="tertiary"
                        dense
                        :items="categories"
                        item-text="name"
                        item-value="sku"
                        label="Categoría"
                        clearable
                        outlined
                        rounded
                        background-color="#eee"
                      ></v-autocomplete>
                    </v-list-item>
                    <v-list-item>
                      <v-autocomplete
                        v-model="selected.subcategory"
                        color="tertiary"
                        dense
                        item-text="name"
                        item-value="sku"
                        :items="subcategories"
                        label="Subcategoría"
                        clearable
                        outlined
                        rounded
                        background-color="#eee"
                      ></v-autocomplete>
                    </v-list-item>
                    <v-list-item>
                      <v-autocomplete
                        v-model="selected.entrepreneur"
                        :loading="isLoading"
                        @keyup="findEntrepreneur"
                        hide-selected
                        hide-no-data
                        color="tertiary"
                        dense
                        :items="entrepreneurs"
                        label="Emprendimiento"
                        item-text="businessName"
                        item-value="sku"
                        clearable
                        outlined
                        rounded
                        background-color="#eee"
                      ></v-autocomplete>
                    </v-list-item>
                  </v-list>
                </div>
              </v-card-text>
            </v-card>
          </v-menu>
        </div>
        <div class="mp-actions-search">
          <button class="mp-button-search">Buscar</button>
        </div>
      </div>
    </v-form>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    isSearchPage: Boolean,
  },
  data() {
    return {
      closeOnContentClick: false,
      selected: {
        category: "",
        subcategory: "",
        department: "",
        entrepreneur: "",
      },
      keyword: "",
      items: [],
      timeInterval: null,
      timeOut: null,
      isLoading: false,
      searchEnt: "",
      entrepreneurs: [],
    };
  },
  computed: {
    ...mapState({
      departments: (state) => {
        const departments = [...state.baseData.departments];
        return departments;
      },
      categories: (state) => state.baseData.categories,
      subcategories: function (state) {
        if (!state.baseData.categories || !this.selected.category) return [];
        const cat = state.baseData.categories.find(
          (c) => c.sku === this.selected.category
        );
        if (!cat) return [];
        const subcats = [...cat.subcategories];
        subcats.splice(0, 1);
        return subcats;
      },
    }),
  },
  async mounted() {
    try {
      this.entrepreneurs = [];
      if (this.$route.query) {
        const queries = this.$route.query;
        queries.search ? (this.keyword = queries.search) : (this.keyword = "");
        queries.department
          ? (this.selected.department = queries.department)
          : (this.selected.department = "");
        if (queries.entrepreneur) {
          const ent = await this.$axios.get(
            `/api/persons/entrepreneurs/${queries.entrepreneur}`
          );
          if (ent.status != 200) return (this.selected.entrepreneur = "");
          this.entrepreneurs = [ent.data];
          this.selected.entrepreneur = ent.data.store.sku;
        }
        if (queries.category) {
          this.timeInterval = setInterval(() => {
            if (this.categories && this.categories.length > 0) {
              const cat = this.categories.find((c) => c.sku === queries.category);
              cat ? (this.selected.category = cat.sku) : (this.selected.category = "");
              if (cat) {
                const subcat = cat.subcategories.find(
                  (s) => s.sku === queries.subcategory
                );
                queries.subcategory && subcat
                  ? (this.selected.subcategory = subcat.sku)
                  : (this.selected.subcategory = "");
              }
            }
            clearInterval(this.timeInterval);
          }, 2500);
        }
      }
    } catch (err) {}
  },
  beforeDestroy() {
    if (this.timeInterval) {
      clearInterval(this.timeInterval);
    }
  },
  methods: {
    findItems() {
        let category = null,
          subcategory = null,
          department = null,
          entrepreneur = null,
          cad = `?search=${this.keyword}`;
        const page = 1;
        const limit = 9;
        if (this.selected.category) {
          category = this.categories.find((c) => c.sku === this.selected.category);
          if (category) {
            cad += `&category=${category.sku}`;
          }
        }
        if (this.selected.subcategory && category) {
          subcategory = category.subcategories.find(
            (s) => s.sku === this.selected.subcategory
          );
          if (subcategory) {
            cad += `&subcategory=${subcategory.sku}`;
          }
        }
        if (this.selected.department) {
          department = this.selected.department;
          cad += `&department=${department}`;
        }
        if (this.selected.entrepreneur) {
          entrepreneur = this.selected.entrepreneur;
          cad += `&entrepreneur=${entrepreneur}`;
        }
        cad += `&page=${page}&limit=${limit}`;

        this.$ga.event({
          eventCategory: "Búsqueda",
          eventAction: "buscar",
          eventLabel: this.keyword,
          eventValue: 1,
        });
        this.$router.push(`/search${cad}`);
        this.$emit("seachParamsUpdated", cad);
      
    },
    findEntrepreneur(ev) {
      if (ev.target.value && ev.target.value.length > 2) {
        if (this.timeOut) {
          clearTimeout(this.timeOut);
        }
        this.timeOut = setTimeout(this.getEntrepreneur, 1000, ev.target.value);
        return;
      }
      clearTimeout(this.timeOut);
      this.entrepreneurs = [];
    },
    async getEntrepreneur(keyword) {
      this.isLoading = true;
      const res = await this.$axios.get(
        `/api/persons/entrepreneurs?search=${keyword}&page=1&limit=5`
      );
      this.isLoading = false;
      if (res.status != 200) return (this.entrepreneurs = []);
      this.entrepreneurs = res.data.docs;
    },
  },
};
</script>

<style lang="scss" scoped>
$height-card-search: 100px;

@media screen and (max-width: 767px) {
  .mp-card-shadow-search {
    //flex-wrap: wrap;
    max-width: 100% !important;

    .mp-search-input-container {
      flex: 1 !important;
    }

    .mp-filters {
      flex: 1.3 !important;
    }
  }
}

@media screen and (max-width: 680px) {
  .mp-card-shadow-search {
    //flex-wrap: wrap;
    max-width: 100% !important;
    padding: 0 !important;

    .mp-form-search {
      flex-flow: column nowrap;

      .mp-search-input-container {
        width: 100%;
        //margin: .5em 0;
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        input {
          border-right: none !important;
        }
      }

      .mp-filters {
        width: 100%;
        margin: 0.5em 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mp-card-shadow-search {
    padding: 0 !important;
  }
}

@media screen and (max-width: 450px) {
  .mp-card-shadow-search {
    .mp-form-search {
      margin: 0.5em !important;
    }

    .mp-more-filters-container {
      flex: 0.8;
      height: 100%;

      button {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6) !important;

        i {
          margin-left: 0 !important;
        }
      }
    }
  }
}

.mp-card-shadow-search {
  background: #f4f4f4;
  border-radius: 5px;
  height: 100%;
  -webkit-box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 1em;

  .mp-title-container {
    padding: 0;

    .title-section-search {
      color: $color-blue;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .mp-form-search {
    width: 100%;
    height: 100%;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 2px solid #ccc;
    padding: 0 1em;
    background: #fff;
    border-radius: 6px;

    .mp-search-input-container {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 0 0.5em 0 0;

      margin-right: 5px;

      i {
        color: $color-blue;
        margin-right: 20px;
        font-size: 18px;
      }

      input {
        width: 100%;
        height: 35px;
        //padding: .8em 0;
        outline: none;
        border-right: 1px solid #ccc;
        font-family: $primary-font;
        font-size: 0.86rem;
      }
    }

    .mp-filters {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .mp-filter-container {
      flex: 1.5;

      .mp-autocomplete-region {
        .v-icon.v-icon {
          color: $color-blue !important;
        }

        .v-text-field--outlined.v-input--is-focused fieldset {
          border: 1px solid #fff !important;
        }

        .v-text-field--outlined fieldset {
          border-collapse: collapse;
          border-color: #fff;
        }
      }
    }

    .mp-more-filters-container {
      flex: 0.8;
      height: 100%;

      button {
        font-family: "Segoe UI", sans-serif;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6) !important;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    .mp-more-filters-list {
      padding-top: 30px !important;
    }

    .mp-button-search {
      border-radius: 6px;
      background: $color-blue;
      color: #fff;
      padding: 0.5em 1.2em;
      flex: 1.2;
      margin-left: 0.5em;
      font-family: $primary-font;
      font-weight: 700;
      font-size: 0.85rem;
    }

    @media screen and (max-width: 1263px) {
      .mp-search-input-container {
        flex: 1;
      }

      .mp-filters {
        flex: 1;
      }

      .mp-more-filters-container {
        flex: 1;
      }
    }

    @media screen and (max-width: 959px) {
      .mp-search-input-container {
        flex: 1;
      }

      .mp-filters {
        flex: 1;
      }

      .mp-more-filters-container {
        flex: 1;
      }
    }
  }
}

.mp-card-shadow-search.no-margin {
  .mp-form-search {
    margin: 0px !important;
  }
}
</style>
